<p-confirmDialog [closable]="false" [style]="{width: '30vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<p-toast styleClass="notification-toaster" position="bottom-right">
  <ng-template let-message pTemplate="message">
    <div class="w-100">
      <a  (click)="navigate(message.data)" class="d-flex w-100" href="javascript:void(0)">
        <div class="d-flex align-items-center w-100">
          <div class="mr-1">
            <div class="avatar">
              <img  [src]="message.data['notifier']['avatar'] ? config.getBaseUrl() + 'storage/images/avatars/' + message.data['notifier']['avatar'] : '/assets/images/avatars/placeholder.jpg'" alt="avatar" width="32" height="32" />
            </div>
          </div>
          <div>
            <div>
              <span class="font-weight-bold">{{message.data['notifier']['first_name']}}</span>
            </div>
            <div class="text-white">
              {{message.data['text']}}
            </div>
          </div>
          <div class="ml-auto">
            now
          </div>
        </div></a>
<!--      <div class="p-text-center">-->
<!--        <h4>{{message.summary}}</h4>-->
<!--        <p>{{message.detail}}</p>-->
<!--        <p>{{message.data | json}}</p>-->
<!--      </div>-->

    </div>
  </ng-template>
</p-toast>

<!-- vertical-layout -->
<ng-container *ngIf="coreConfig.layout.type === 'vertical'">
  <vertical-layout></vertical-layout>
</ng-container>
<!-- / vertical-layout -->

<!-- horizontal-layout -->
<ng-container *ngIf="coreConfig.layout.type === 'horizontal'">
  <horizontal-layout></horizontal-layout>
</ng-container>
<!-- / horizontal-layout -->

<!-- theme customizer -->
<core-sidebar
  name="themeCustomizer"
  class="customizer d-none d-md-block"
  *ngIf="coreConfig.layout.customizer"
>
  <a
    class="customizer-toggle d-flex align-items-center justify-content-center"
    (click)="toggleSidebar('themeCustomizer')"
  >
    <span [data-feather]="'settings'" [class]="'spinner'"></span>
  </a>
  <core-theme-customizer></core-theme-customizer>
</core-sidebar>
<!-- / theme customizer -->
