
:host ::ng-deep {

  .notification-toaster {
    opacity: 1;

  }

  .p-toast-message-custom {
    .p-toast {

    }
    box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.4);

    &:hover {
      box-shadow: 0 4px 24px 0 rgba(30, 30, 48, 0.58);

    }
    background-color: #293249;
    //border: solid #2b2b2b;
    border-width: 0 0 0 6px;
    color: #ffffff;
    .p-toast-icon-close {
      //color: #2c1e30;
    }
  }
}
