<div class="h-100" *blockUI="'block'">
    <!-- Active Chat -->
    <div
            class="active-chat h-100"
            [ngClass]="{ 'd-none': activeChat !== true }"
            *ngIf="activeChat === true"
    >
        <!-- Chat Header -->
        <div class="chat-navbar">
            <header class="chat-header">
                <div class="d-flex align-items-center">
                    <button
                            class="btn sidebar-toggle d-block d-lg-none mr-1 p-0"
                            (click)="toggleSidebar('chat-sidebar')"
                    >
                        <i data-feather="menu" class="font-medium-5"></i>
                    </button>
                    <button
                            class="btn avatar avatar-border user-profile-toggle m-0 mr-1 p-0"
                            (click)="toggleSidebar('chat-active-sidebar')"
                    >
                        <img
                                [src]="
                        chatUser?.avatar
                          ? config.getBaseUrl() +
                            'storage/images/avatars/' +
                            chatUser?.avatar
                          : 'assets/images/illustration/tooth.svg'
                      "
                                alt="avatar"
                                height="36"
                                width="36"
                        />
                        <span
                          [ngClass]="{
                            'avatar-status-offline': chatUser.online_status == 0,
                            'avatar-status-online': chatUser.online_status == 1,
                            'avatar-status-busy': chatUser.online_status == 2,
                            'avatar-status-away': chatUser.online_status == 3
                          }"
                        ></span>
                    </button>
                    <h6 class="mb-0">
                        {{
                        chatUser?.first_name + " " + (chatUser?.last_name || "")
                        }}
                    </h6>
                </div>
                <div class="d-flex align-items-center">
                    <!--          <i data-feather="phone-call" class="cursor-pointer d-sm-block d-none font-medium-2 mr-1"></i>-->
                    <!--          <i data-feather="video" class="cursor-pointer d-sm-block d-none font-medium-2 mr-1"></i>-->
                    <!--          <i data-feather="search" class="cursor-pointer d-sm-block d-none font-medium-2"></i>-->
                    <div ngbDropdown>
                        <button
                                class="btn-icon btn btn-transparent hide-arrow btn-sm"
                                type="button"
                                aria-haspopup="true"
                                aria-expanded="false"
                                ngbDropdownToggle
                        >
                            <i
                                    data-feather="more-vertical"
                                    id="chat-header-actions"
                                    class="font-medium-2"
                            ></i>
                        </button>
                        <div
                                ngbDropdownMenu
                                class="dropdown-menu-right"
                                aria-labelledby="chat-header-actions"
                        >
                            <a ngbDropdownItem [routerLink]="['/profile', chatUser?.id]">View Contact</a
                            >
                            <!--              <a ngbDropdownItem href="javascript:void(0);">Mute Notifications</a>-->
                            <!--              <a ngbDropdownItem href="javascript:void(0);">Block Contact</a>-->
                            <!--              <a ngbDropdownItem href="javascript:void(0);">Clear Chat</a>-->
                            <!--              <a ngbDropdownItem href="javascript:void(0);">Report</a>-->
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <!--/ Chat Header -->

        <!-- User Chat messages -->
        <div
                class="user-chats"
                [perfectScrollbar]
                #scrollMe
                [scrollTop]="scrolltop"
        >

            <div *ngIf="!loading" class="chats">
                <ng-container
                        *ngFor="let chatRef of messages"
                >
                    <app-message [chatRef]="chatRef"></app-message>
                </ng-container>
            </div>
            <div class="d-flex">
                <div class="ml-auto">
                    <ng-template [ngIf]="sendingImage">
                        <div class="card">
                            <div class="card-body">

                                <p class="card-text" style="width: 30vw">
                                    <p-skeleton width="100%" height="150px"></p-skeleton>

                                </p>


                            </div>
                        </div>
                    </ng-template>
                </div>

            </div>
        </div>
        <!-- User Chat messages -->

        <!-- Submit Chat form -->
        <form class="chat-app-form" action="javascript:void(0);">
            <div class="input-group input-group-merge mr-1 form-send-message">
                <div class="input-group-prepend">
                  <span class="input-group-text"
                  >
                      <span class="cursor-pointer" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;"><i class="fa fa-smile-o"></i></span>
                        <div style="text-align: left; white-space: normal">
                            <emoji-mart
                                    (emojiSelect)="addEmoji($event)"
                                    isNative="true"
                                    *ngIf="isEmojiPickerVisible" darkMode="true"
                                    showPreview="false"
                                    skin="3"
                                    [style]="{ position: 'absolute', bottom: '30px', left: '0px', zIndex: 9999 }"
                            ></emoji-mart>
                        </div>
                  </span>
                </div>
                <input
                        type="text"
                        class="form-control message"
                        placeholder="Type your message or use speech to text"
                        [(ngModel)]="chatMessage"
                        name="chat-message"
                        (keydown.enter)="updateChat()"
                />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <label for="attach-doc" class="attachment-icon mb-0">
                      <i
                              data-feather="image"
                              class="cursor-pointer lighten-2 text-secondary"
                      ></i>
                      <input #file (change)="sendImage($event, file)" type="file" id="attach-doc" hidden accept="image/png, image/jpeg"/> </label
                    ></span>
                </div>
            </div>
            <button
                    type="button"
                    class="btn btn-primary send"
                    (click)="updateChat()"
                    rippleEffect
            >
                <i data-feather="send" class="d-lg-none"></i>
                <span class="d-none d-lg-block">Send</span>
            </button>
        </form>
        <!--/ Submit Chat form -->
    </div>
    <!--/ Active Chat -->

</div>
