<p-dialog [appendTo]="'body'" header="Create Post" [(visible)]="newPostDialog" [blockScroll]="true" [resizable]="false"
          [draggable]="false"
          [modal]="true"
          [closable]="true">
    <app-post-form #postTool [user]="user" (onPostComplete)="newPostDialog = false; onPostComplete.emit('reload')" [type]="type == 'user' ? 'user' : 'new'" ></app-post-form>
</p-dialog>


<!-- twitter feed card -->
<div class="card">
    <div class="card-body">
        <div class="post-form">
            <div class="post-top">
                <div class="post-avatar"><img src="{{auth.user?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + auth.user?.avatar : '/assets/images/avatars/placeholder.jpg'}}" alt=""></div>
                <div class="post-input"><input (click)="showPostDialog()" type="text" placeholder="What's on your mind, {{auth.user?.first_name}}?" readonly></div>
            </div>
            <div class="post-bottom">
                <div class="post-action" (click)="postTool.postType = 'photo'; showPostDialog()">
                    <i data-feather="image" class="font-large-1"></i>
                    <span class="ml-1">Photo</span>
                </div>
                <div class="post-action" (click)="postTool.postType = 'video'; showPostDialog()">
                    <i data-feather="video" class="font-large-1"></i>
                    <span class="ml-1">Video</span>
                </div>
                <div class="post-action" (click)="postTool.postType = 'feeling'; showPostDialog()">
                    <i data-feather="smile" class="font-large-1"></i>
                    <span class="ml-1">Feeling</span>
                </div>
            </div>
        </div>

    </div>
</div>
<!--/ twitter feed card -->
