<ng-template [ngIf]="user?.followed_me?.status == 0">
    <div class="card p-2 font-medium-3 d-flex align-items-center justify-content-center flex-column">
        <div><span class="font-weight-bolder">{{user?.first_name }}</span><span style="margin-left: 4px">requested to follow you</span></div>
        <div style="margin-top: 5px" class="d-flex align-items-center justify-content-center">
            <button [disabled]="loading" (click)="accept(user?.followed_me?.id)" class="btn btn-primary" rippleEffect>
                <span *ngIf="!acceptLoading">Accept</span>
                <span *ngIf="acceptLoading" class="fa fa-spin fa-circle-o-notch"></span>
            </button>
            <button [disabled]="loading" (click)="deny(user?.followed_me?.id)" style="margin-left: 5px;" class="btn btn-danger" rippleEffect>
                <span *ngIf="!denyLoading">Remove</span>
                <span *ngIf="denyLoading" class="fa fa-spin fa-circle-o-notch"></span>
            </button>
        </div>
    </div>
</ng-template>
