<app-job-form #newJobForm (onComplete)="close()"></app-job-form>

<p-dialog header="Apply for the Job" [(visible)]="applyJobDialog" [modal]="true" [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false">
    <div *ngIf="selectedJobIndex != null">
        Do you want to send your CV and apply for the Job(<b>{{jobs[selectedJobIndex]['job_title']}}</b>)
    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="applyJobDialog = false" label="No" styleClass="p-button-text"></p-button>
        <p-button (click)="applyJob()" label="Yes" styleClass="p-button-text"></p-button>
    </ng-template>

</p-dialog>

<p-dialog header="Close Job" [(visible)]="closeJobDialog" [modal]="true" [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false">
    <div *ngIf="selectedJobIndex != null">
        Do you want to close the Job(<b>{{jobs[selectedJobIndex]['job_title']}}</b>)
    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="closeJobDialog = false" label="No" styleClass="p-button-text"></p-button>
        <p-button (click)="closeJob()" label="Yes" styleClass="p-button-text"></p-button>
    </ng-template>

</p-dialog>

<div class="container-fluid jobs-page">
    <div class="d-flex align-items-center">
        <div class="flex-fill">
            <app-content-header [contentHeader]="contentHeader"></app-content-header>
        </div>

        <div class="ml-auto">
            <button type="button" style="width: 150px" pButton icon="pi pi-bars" label="Post a job" (click)="menu.toggle($event)"></button>
            <p-menu #menu [popup]="true" [model]="items"></p-menu>


        </div>
    </div>

    <div>
        <form [ngClass]="{'search-toolbar2': searchForm.value['job_type'] != 'Dentist', 'search-toolbar': searchForm.value['job_type'] == 'Dentist'}" [formGroup]="searchForm" (ngSubmit)="search($event)"  #sf>
            <form-input [form]="searchForm" type="select"  title="Job Type" placeholder="Select Job Type" key="job_type"
                        [optionLabel]="'text'" [optionValue]="'value'"
                        [data]="[{text: 'Dentist', value: 'Dentist'}, {text: 'Dental Assistant', value: 'Dental Assistant'}, {text: 'Dental Hygienist', value: 'Dental Hygienist'}, {text: 'Secretory', value: 'Secretory'}, {text: 'Others', value: 'Others'}]">
            </form-input>


            <form-input [ngClass]="{'d-none': searchForm.value['job_type'] != 'Dentist'}"  [form]="searchForm" [allowDropDown]="true" type="autocomplete" title="Department" placeholder="Department"
                        [filterMethod]="autocompleteDepartments" key="department">
            </form-input>


            <form-input [form]="searchForm" type="autocomplete" title="Job title" placeholder="Job title" key="job_title"
                        [filterMethod]="autocompleteJobTitles">
            </form-input>

            <form-input [form]="searchForm" type="autocomplete" title="Location" placeholder="Location" key="location"
                        [filterMethod]="autocompleteJobLocations">
            </form-input>




            <button type="submit" style="height: 44.3px; margin-top: 19px; margin-bottom: 10px" class="btn btn-icon btn-primary" rippleEffect>
                <span class="fa fa-search"></span>
            </button>

        </form>

       
        <div *ngIf="showMyJobsChip"  class="mb-2">       
            <div class="p-chip p-component d-flex align-items-center" style="width: 100px;">   
                <div class="p-chip-text">My Jobs</div>
                    <span (click)="allJobs()" tabindex="0" class="pi pi-times-circle pi-chip-remove-icon" style="cursor: pointer;"></span>
                </div>
            </div>
         </div>



    <div class="jobs-panel">
        <div class="jobs-list-container" [ngClass]="{
            'view-jobs': isMobileScreen && selectedJobIndex == null,
            'view-details': isMobileScreen && selectedJobIndex != null,
            'view-both': !isMobileScreen
            }">
            <div class="jobs-list">
                <ng-container *ngFor="let job of jobs; let i = index" >
                    <div class="job-card" [class.selected]="i == selectedJobIndex" (click)="changeJob(i, job);">
                        <div class="title">{{job['job_title']}}</div>
                        <div class="location">{{job['location']}}</div>
                        <div class="job-footer">
                            <div class="timestamp">{{job['type']}}</div>
                            <span *ngIf="job['closed'] == 0" class="active">active</span>
                            <span *ngIf="job['closed'] == 1" class="expired">expired</span>
                        </div>
                    </div>
                </ng-container>

            </div>

            <div class="job-view" *ngIf="selectedJobIndex != null">
                <div class="tools">
                    <div>
                        <button (click)="selectedJobIndex = null;" type="button" class="btn btn-icon rounded-circle btn-flat-secondary" rippleEffect>
                            <span class="fa fa-chevron-left"></span>
                        </button>
                    </div>
<!--                    <div class="ml-auto">-->
<!--                        <button (click)="selectedJobIndex = null;" type="button" class="btn btn-icon  rounded-circle btn-flat-secondary" rippleEffect>-->
<!--                            <span class="fa fa-share"></span>-->
<!--                        </button>-->
<!--                    </div>-->
                </div>
                <div class="content">
                    <div class="title text-capitalize">{{jobs[selectedJobIndex]['job_title']}}</div>

                    <div class="horizontal-view">
                        <div>
                            <div class="company text-capitalize"><span class="fa fa-building"></span> {{jobs[selectedJobIndex]['company']}}</div>
                            <div class="department text-capitalize"><span class="fa fa-tag"></span> {{jobs[selectedJobIndex]['department']}}</div>
                            <div class="location text-capitalize"><span class="fa fa-location-arrow"></span> {{jobs[selectedJobIndex]['location']}}</div>
                            <div class="employee_type text-capitalize"><span class="fa fa-briefcase"></span> {{jobs[selectedJobIndex]['employee_type']}}</div>
                        </div>
                        <div>
                            <div class="job_type text-capitalize"><span class="fa fa-briefcase"></span> {{jobs[selectedJobIndex]['job_type']}}</div>
                            <div class="time text-capitalize"><span class="fa fa-clock-o"></span> {{jobs[selectedJobIndex]['work_hours']}} hours</div>
                            <div class="salary text-capitalize"><span class="fa fa-money"></span> ${{jobs[selectedJobIndex]['salary']}}</div>
                            <div class="created-by"><span class="fa fa-user"></span> Posted by <a target="_blank" [routerLink]="['/profile', jobs[selectedJobIndex]['user']['id']]">{{jobs[selectedJobIndex]['user']['first_name']}}</a></div>

                        </div>
                    </div>
                    <div class="actions">
                        <button *ngIf="jobs[selectedJobIndex]['closed'] == 0 && jobs[selectedJobIndex]['created_by'] != auth.user.id" (click)="applyJobDialog = true" class="btn btn-outline-primary">Apply</button>
                        <button *ngIf="jobs[selectedJobIndex]['closed'] == 1" (click)="applyJobDialog = true" [disabled]="true" class="btn btn-outline-secondary">Job is closed</button>
                        <button *ngIf="jobs[selectedJobIndex]['closed'] == 0 && jobs[selectedJobIndex]['created_by'] == auth.user.id" (click)="closeJobDialog = true" class="btn btn-outline-danger">Close Job</button>
                        <button *ngIf="jobs[selectedJobIndex]['created_by'] == auth.user.id" (click)="newJobForm.load(jobs[selectedJobIndex]['id']);" class="btn btn-outline-twitter ml-1">Edit Job</button>
                    </div>
                    <div class="description"><span class="fa fa-bookmark-o"></span> Description</div>
                    <div class="description-content mb-2">
                        {{ jobs[selectedJobIndex]['job_description'] }}
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center mt-1">
        <ngb-pagination *ngIf="totalItems" [pageSize]="per_page" [collectionSize]="totalItems" [(page)]="page" (pageChange)="changePage()" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" aria-label="Custom pagination">
            <ng-template ngbPaginationPrevious
            ><span [data-feather]="'chevron-left'" [class]="'font-weight-bolder'"></span>Prev
            </ng-template>
            <ng-template ngbPaginationNext
            >Next<span [data-feather]="'chevron-right'" [class]="'font-weight-bolder'"></span>
            </ng-template>
        </ngb-pagination>
    </div>


</div>

