.jobs-page {
  //display: grid;
  //grid-template-rows: 10px 10px 600px;
  //height: 100vh;
  //grid-template-columns: 100%;
}



.jobs-panel {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid rgba(182, 182, 182, 0.31);

}

.jobs-list-container {
  width: 100%;
  height: calc(100vh - 410px);
  //height: 70vh;
}

@media screen and (max-width: 991px) {
  .jobs-list-container {
    width: 100%;
    height: 70vh;
  }
}



.view-both {
  display: grid;
  grid-template-columns: 35% 65%;
}

.view-jobs {
  display: grid;
  grid-template-columns: 100% 0%;
}

.view-details {
  display: grid;
  grid-template-columns: 0% 100%;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  //.jobs-list-container {
  //  grid-template-columns: 0% 100%;
  //}
  //.jobs-list {
  //  display: none;
  //}
}


.jobs-list {

  border-radius: 4px;
  border: 1px solid rgba(182, 182, 182, 0.31);

  width: 100%;
  overflow-y: scroll;


  .job-card.selected {
    background-color: rgba(142, 129, 242, 0.2) !important;

  }

  .job-card {
    cursor: pointer;
    padding: 20px;
    border-bottom: 1px solid rgba(179, 179, 179, 0.49);
    display: flex;
    flex-direction: column;
    width: 100%;

    &:hover {
      background-color: rgba(179, 179, 179, 0.16);
    }


    .title {
      font-weight: bold;
      font-size: 20px;
    }

    .location {

    }

    .job-footer {
      margin-top: 10px;
      display: flex;

      .timestamp {
      }

      .active {
        margin-left: auto;
        color: #00cd00;
      }

      .expired {
        margin-left: auto;
        color: #cd0000;
      }
    }

  }
}

.job-view {
  padding: 20px;
  overflow-y: scroll;
  position: relative;

  .tools {

    display: flex;
  }

  .content {
    margin: 15px;
    display: flex;
    flex-direction: column;

    .horizontal-view {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .title {
      font-weight: bold;
      font-size: 20px;
    }

    .company {
      font-weight: bold;
      margin: 10px 0;
    }
    .department {
      font-weight: bold;
      margin: 10px 0;
    }

    .location {
      font-weight: bold;

      margin: 10px 0;
    }

    .employee_type {
      font-weight: bold;
      margin: 10px 0;
    }
    .job_type {
      font-weight: bold;
      margin: 10px 0;
    }

    .time {
      font-weight: bold;

      margin: 10px 0;
    }
    .salary {
      font-weight: bold;

      margin: 10px 0;
    }

    .created-by {
      font-weight: bold;

      margin: 10px 0;
    }
    .actions {
      margin: 10px 0;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        width: 300px;
      }
    }

    .description {
      font-weight: bold;
      margin: 10px 0;
    }
    .description-content {
      font-family: Roboto, Helvetica, Arial, sans-serif;
      white-space: pre-line;
      margin: 10px 0;
      font-size: 16px;
      font-weight: lighter;
    }
  }
}

.search-toolbar {
  display: flex;
  flex-direction: column;
}
.search-toolbar2 {
  display: flex;
  flex-direction: column;
}

/* Mobile View */
@media screen and (min-width:250px) and (max-width:480px) {

}

/* Tablet View */
@media screen and (min-width:481px) and (max-width:768px) {

}
/* Laptop View */
@media screen and (min-width:769px)  {
  .search-toolbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 50px;
    grid-gap: 10px;
  }

  .search-toolbar2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 50px;
    grid-gap: 10px;

  }
}
