<ng-template [ngIf]="type == 'text'">
    <div [formGroup]="form" class="form-group">
        <div>{{title}}</div>
        <input [formControlName]="key" [ngClass]="{ 'is-invalid': submitted && f[key].errors }" type="text" [id]="key" class="form-control" [name]="key" [placeholder]="placeholder">
        <div *ngIf="submitted && f[key].errors" class="invalid-feedback">
            <div *ngIf="f[key].errors.required">{{title}} is required</div>
        </div>
    </div>

</ng-template>


<ng-template [ngIf]="type == 'currency'">
    <div [formGroup]="form" class="form-group">
        <div>{{title}}</div>
        <p-inputNumber [formControlName]="key" [ngClass]="{ 'is-invalid': submitted && f[key].errors }" [id]="key" [name]="key" inputId="currency-us" mode="currency" currency="USD" locale="en-US">
        </p-inputNumber>
        <div *ngIf="submitted && f[key].errors" class="invalid-feedback">
            <div *ngIf="f[key].errors.required">{{title}} is required</div>
        </div>
    </div>

</ng-template>


<ng-template [ngIf]="type == 'phone'">
    <div [formGroup]="form" class="form-group">
        <div>{{title}}</div>
        <ngx-intl-tel-input  [formGroup]="form" class="form-group" 
            [id]="key"
            [formControlName]="key" [ngClass]="" 
            [cssClass]="{'custom': 1, 'is-invalid': f[key]?.status == 'INVALID'}"
            [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
            [selectedCountryISO]="CountryISO.Iraq" [maxLength]="15"
            [phoneValidation]="true" [separateDialCode]="separateDialCode"
            [numberFormat]="PhoneNumberFormat.National" name="phone">
        </ngx-intl-tel-input>
        <div *ngIf="submitted && f[key]?.errors?.length" class="invalid-feedback">
            <div *ngIf="f[key].errors.required">{{title}} is required</div>
        </div>
    </div>

    

</ng-template>


<ng-template [ngIf]="type == 'number'">
    <div [formGroup]="form" class="form-group">
        <div>{{title}}</div>
        <input [formControlName]="key" [ngClass]="{ 'is-invalid': submitted && f[key].errors }" type="number" [id]="key" class="form-control" [name]="key" [placeholder]="placeholder">
        <div *ngIf="submitted && f[key].errors" class="invalid-feedback">
            <div *ngIf="f[key].errors.required">{{title}} is required</div>
        </div>
    </div>

</ng-template>

<ng-template [ngIf]="type == 'textarea'">
    <div [formGroup]="form" class="form-group">
        <div>{{title}}</div>
        <textarea [formControlName]="key" [ngClass]="{ 'is-invalid': submitted && f[key].errors }" type="text" [id]="key" class="form-control" [name]="key" [placeholder]="placeholder"></textarea>
        <div *ngIf="submitted && f[key].errors" class="invalid-feedback">
            <div *ngIf="f[key].errors.required">{{title}} is required</div>
        </div>
    </div>

</ng-template>

<ng-template [ngIf]="type == 'date'">
    <div [formGroup]="form" class="form-group">
        <div>{{title}}</div>
           <div class="p-fluid">
               <p-calendar  [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2022" appendTo="body"  [formControlName]="key" [ngClass]="{ 'is-invalid': submitted && f[key].errors }" type="text" [id]="key" [name]="key" [placeholder]="placeholder" dateFormat="mm-dd-yy" inputId="dateformat"></p-calendar>
           </div>
        <div *ngIf="submitted && f[key].errors" class="invalid-feedback d-block">
            <div *ngIf="f[key].errors.required">{{title}} is required</div>
        </div>
    </div>

</ng-template>

<ng-template [ngIf]="type == 'dateMonthYear'">
    <div [formGroup]="form" class="form-group">
        <div>{{title}}</div>
           <div class="p-fluid">
               <p-calendar [yearNavigator]="true" yearRange="1900:2022" appendTo="body" view="month" dateFormat="mm/yy"  [formControlName]="key" [ngClass]="{ 'is-invalid': submitted && f[key].errors }" type="text" [id]="key" [name]="key" [placeholder]="placeholder" inputId="dateformat"></p-calendar>
           </div>
        <div *ngIf="submitted && f[key].errors" class="invalid-feedback d-block">
            <div *ngIf="f[key].errors.required">{{title}} is required</div>
        </div>
    </div>

</ng-template>

<ng-template [ngIf]="type == 'select'">
    <div [formGroup]="form" class="form-group">
        <div>{{title}}</div>
        <div class="p-fluid text-capitalize">
            <p-dropdown [filter]="true" styleClass="text-capitalize" [showClear]="true" [options]="data"  [optionLabel]="optionLabel" [optionValue]="optionValue"  appendTo="body"  [formControlName]="key" [ngClass]="{ 'is-invalid': submitted && f[key].errors }" type="text" [id]="key" [name]="key" [placeholder]="placeholder"></p-dropdown>
        </div>
        <div *ngIf="submitted && f[key].errors" class="invalid-feedback d-block">
            <div *ngIf="f[key].errors.required">{{title}} is required</div>
        </div>
    </div>

</ng-template>


<ng-template [ngIf]="type == 'select-virtualScroll'">
    <div [formGroup]="form" class="form-group">
        <div>{{title}}</div>
        <div class="p-fluid text-capitalize">
            <p-dropdown [virtualScroll]="true" [itemSize]="31" [filter]="true" [filterBy]="'name,country,alpha_two_code'" styleClass="text-capitalize" [options]="data"  [optionLabel]="optionLabel" [optionValue]="optionValue"  appendTo="body"  [formControlName]="key" [ngClass]="{ 'is-invalid': submitted && f[key].errors }" type="text" [id]="key" [name]="key" [placeholder]="placeholder"></p-dropdown>
        </div>
        <div *ngIf="submitted && f[key].errors" class="invalid-feedback d-block">
            <div *ngIf="f[key].errors.required">{{title}} is required</div>
        </div>
    </div>

</ng-template>

<ng-template [ngIf]="type == 'autocomplete-multiaple'">
    <div [formGroup]="form" class="form-group">
        <div>{{title}}</div>
        <div class="p-fluid text-capitalize">
            <p-dropdown  [itemSize]="31" [filter]="true" [filterBy]="'name,country,alpha_two_code'" styleClass="text-capitalize" [options]="data"  [optionLabel]="optionLabel" [optionValue]="optionValue"  appendTo="body"  [formControlName]="key" [ngClass]="{ 'is-invalid': submitted && f[key].errors }" type="text" [id]="key" [name]="key" [placeholder]="placeholder"></p-dropdown>
        </div>
        <div *ngIf="submitted && f[key].errors" class="invalid-feedback d-block">
            <div *ngIf="f[key].errors.required">{{title}} is required</div>
        </div>
    </div>

</ng-template>


<ng-template [ngIf]="type == 'autocomplete'">
    <div [formGroup]="form" class="form-group">
        <div>{{title}}</div>
        <div class="p-fluid text-capitalize">
            <p-autoComplete  
                [dropdown]="allowDropDown"
                [multiple]="allowMultiple"
                appendTo="body"
                [suggestions]="filterData"
                (completeMethod)="completeMethod($event)"
                [formControlName]="key" 
                [ngClass]="{ 'is-invalid': submitted && f[key].errors }" 
                [id]="key"
                [name]="key"
                [placeholder]="placeholder">
            </p-autoComplete>
        </div>
        <div *ngIf="submitted && f[key].errors" class="invalid-feedback d-block">
            <div *ngIf="f[key].errors.required">{{title}} is required</div>
        </div>
    </div>

</ng-template>


<ng-template [ngIf]="type == 'chips'">
    <div [formGroup]="form" class="form-group">
        <div>{{title}}</div>
        <div class="p-fluid text-capitalize">
            <p-chips [formControlName]="key" [ngClass]="{ 'is-invalid': submitted && f[key].errors }"  [id]="key" [placeholder]="placeholder"></p-chips>
        </div>
        <div *ngIf="submitted && f[key].errors" class="invalid-feedback d-block">
            <div *ngIf="f[key].errors.required">{{title}} is required</div>
        </div>
    </div>

</ng-template>


<ng-template [ngIf]="type == 'multiselect'">
    <div [formGroup]="form" class="form-group">
        <div>{{title}}</div>
        <div class="p-fluid text-capitalize">
            <p-multiSelect [filter]="true" styleClass="text-capitalize" [options]="data"  [optionLabel]="optionLabel" [optionValue]="optionValue"  appendTo="body"  [formControlName]="key" [ngClass]="{ 'is-invalid': submitted && f[key].errors }" type="text" [id]="key" [name]="key" [placeholder]="placeholder" display="chip"></p-multiSelect>
        </div>
        <div *ngIf="submitted && f[key].errors" class="invalid-feedback d-block">
            <div *ngIf="f[key].errors.required">{{title}} is required</div>
        </div>
    </div>

</ng-template>


<ng-template [ngIf]="type == 'file'">
    <div [formGroup]="form" class="form-group">
        <div>{{title}}</div>
        <app-file-upload [formControlName]="key" [ngClass]="{ 'is-invalid': submitted && f[key].errors }"></app-file-upload>
        <div *ngIf="submitted && f[key].errors" class="invalid-feedback">
            <div *ngIf="f[key].errors.required">{{title}} is required</div>
            <div *ngIf="f[key].errors.requiredFileType">only jpg, png, pdf file format accepted</div>
            <div *ngIf="f[key].errors.fileSizeValidator">file is too large</div>
        </div>
    </div>

</ng-template>