<div class="content-wrapper">
    <div class="content-body">
        <!-- content-header component -->

        <div id="user-profile">

            <!-- profile info section -->
            <section id="profile-info">
                <div class="row row-height">
                    <!-- left profile info section -->
                    <div class="left col-lg-3 col-12 order-2 order-lg-1 d-none d-lg-block">
                        <ng-scrollbar>
                            <app-content-header [contentHeader]="contentHeader"></app-content-header>

                            <div class="card card-profile network-card ecommerce-card">
                                <img src="/assets/images/pages/cover.jpg" class="img-fluid card-img-top network-profile-cover" alt="Profile Cover Photo">
                                <div class="card-body">
                                    <div class="profile-image-wrapper">
                                        <div class="profile-image">
                                            <div [routerLink]="['/my-profile']" class="avatar">
                                                <img src="{{auth.user?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + auth.user?.avatar : '/assets/images/avatars/placeholder.jpg'}}" alt="Profile Picture">
                                            </div>
                                        </div>
                                    </div>
                                    <h5><a [routerLink]="['/my-profile']">{{(auth.user?.first_name || '') + ' ' + (auth.user?.last_name || '') }}</a></h5>
                                    <h6 class="text-muted text-capitalize">{{auth.user?.account_type?.name}}</h6>

                                    <!-- sidebar starts -->
                                    <div class="sidebar-file-manager">
                                        <div class="sidebar-inner">

                                        </div>
                                    </div>

                                    <!-- sidebar ends -->

                                    <hr>



                                    <div class="d-flex align-items-center">
                                        <b>Joined:</b>
                                        <span class="ml-1">
                                        {{auth?.user?.created_at}}
                                    </span>
                                    </div>



                                    <div *ngIf="auth?.user?.country" class="mt-2 d-flex align-items-center">
                                        <b>Country:</b>
                                        <span class="ml-1">{{auth?.user?.country}}</span>
                                    </div>


                                    <div *ngIf="auth?.settings?.show_phone && auth?.user?.phone"
                                         class="mt-2 d-flex align-items-center">
                                        <b>Phone:</b>
                                        <span class="ml-1">{{auth?.user?.phone}}</span>
                                    </div>

                                </div>

                            </div>


                        </ng-scrollbar>

                       
                    </div>
                    <!--/ left profile info section -->
                    <!-- center profile info section -->
                    <div class="mid col-lg-6 col-12 order-1 order-lg-2">
                        <ng-scrollbar #scroll>
                            <div class="p-1">
                                <app-new-post (onPostComplete)="loadPosts(1, true)"></app-new-post>




                                <ng-template [ngIf]="posts">
                                    <app-post (onPostDelete)="deletePost($event)" *ngFor="let post of posts" [data]="post"></app-post>

                                </ng-template>

                                <ng-template [ngIf]="loading">
                                    <div *ngFor="let i of [1, 2]" class="card">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-start align-items-center mb-1">
                                                <!-- avatar -->
                                                <div class="avatar mr-1">
                                                    <p-skeleton shape="circle" size="4rem" styleClass="p-mr-2"></p-skeleton>
                                                </div>
                                                <!--/ avatar -->
                                                <div class="profile-user-info">
                                                    <p-skeleton width="10rem" styleClass="mb-0"></p-skeleton>
                                                    <p-skeleton width="5rem" height="0.8rem" styleClass="mt-1"></p-skeleton>
                                                </div>

                                            </div>
                                            <p class="card-text">
                                                <p-skeleton width="100%" height="150px"></p-skeleton>

                                            </p>
                                            <div class="d-flex justify-content-around">
                                                <div>
                                                    <p-skeleton width="8rem" height="30px" styleClass="mb-0"></p-skeleton>
                                                </div>
                                                <div>
                                                    <p-skeleton width="8rem" height="30px" styleClass="mb-0"></p-skeleton>
                                                </div>
                                                <div>
                                                    <p-skeleton width="8rem" height="30px" styleClass="mb-0"></p-skeleton>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </ng-template>

                                <ng-template [ngIf]="loadingMore">
                                    <div *ngFor="let i of [1]" class="card">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-start align-items-center mb-1">
                                                <!-- avatar -->
                                                <div class="avatar mr-1">
                                                    <p-skeleton shape="circle" size="4rem" styleClass="p-mr-2"></p-skeleton>
                                                </div>
                                                <!--/ avatar -->
                                                <div class="profile-user-info">
                                                    <p-skeleton width="10rem" styleClass="mb-0"></p-skeleton>
                                                    <p-skeleton width="5rem" height="0.8rem" styleClass="mt-1"></p-skeleton>
                                                </div>

                                            </div>
                                            <p class="card-text">
                                                <p-skeleton width="100%" height="150px"></p-skeleton>

                                            </p>
                                            <div class="d-flex justify-content-around">
                                                <div>
                                                    <p-skeleton width="8rem" height="30px" styleClass="mb-0"></p-skeleton>
                                                </div>
                                                <div>
                                                    <p-skeleton width="8rem" height="30px" styleClass="mb-0"></p-skeleton>
                                                </div>
                                                <div>
                                                    <p-skeleton width="8rem" height="30px" styleClass="mb-0"></p-skeleton>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </ng-template>

                            </div>

                        </ng-scrollbar>

                    </div>
                    <!--/ center profile info section -->


                    <!-- right profile info section -->
                    <div class="right col-lg-3 col-12 order-3 d-none d-lg-block">
                        <ng-scrollbar>
                            <!-- suggestion -->
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="mb-2">Suggestions</h5>
                                    <div *ngFor="let user of userSuggestions" class="d-flex justify-content-start align-items-center mt-1">
                                        <div class="avatar mr-75">
                                            <img [routerLink]="['/profile/', user?.id]" [src]="user?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + user?.avatar : '/assets/images/avatars/placeholder.jpg'" alt="" height="40" width="40" />
                                        </div>
                                        <div class="profile-user-info">
                                            <h6 class="mb-0"><a [routerLink]="['/profile/', user?.id]">{{ user?.first_name + ' ' + (user?.last_name || '') }}</a></h6>
                                            <small class="text-muted text-capitalize">{{user?.account_type?.name}}</small>
                                        </div>
                                        <app-follow-btn class="ml-auto" style="padding-bottom: 10px" [type]="'circle-sm'" [user]="user"></app-follow-btn>
                                    </div>
                                </div>
                            </div>
                            <!--/ suggestion -->

                            <!-- polls card -->
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="mb-1">Ads</h5>

                                </div>
                            </div>
                            <!--/ polls card -->

                        </ng-scrollbar>
                      


                    </div>
                    <!--/ right profile info section -->
                </div>


            </section>
            <!--/ profile info section -->
        </div>


    </div>



</div>
