@import '/src/@core/scss/base/pages/page-profile';

  .network-profile-cover {
      height: 62px;
  }
  // file manager sidebar styles
  .sidebar-file-manager {
    width: $sidebar-width;
    height: 100%;
    background-color: $white;
    border-top-left-radius: $border-radius-sm;
    border-bottom-left-radius: $border-radius-sm;
    transition: all 0.3s ease, background 0s;

    // styles for card-inner
    .sidebar-inner {
      height: inherit;

      .dropdown-actions {
        width: 100%;
        padding: 1.5rem 1.5rem 1.8rem;
      }

      .sidebar-close-icon {
        position: absolute;
        top: 0.25rem;
        right: 0.25rem;
        font-size: $font-size-xl;
        z-index: 5;
        cursor: pointer;
      }

      .add-file-btn {
        & ~ .dropdown-menu {
          width: 85%;
          &:before {
            display: none;
          }
        }
      }

      // styles for card inner list
      .sidebar-list {
        position: relative;
        height: calc(100% - 85px); // search section height 85px
        .my-drive {
          padding: 0.58rem 0;
          .jstree-node {
            .jstree-icon {
              background-position: 0.5rem;
              background-size: 1.3rem;
            }
            .jstree-anchor > .jstree-themeicon {
              margin-right: 0.5rem;
            }
            &.jstree-closed {
              > .jstree-icon {
                background-image: url(str-replace(
                  str-replace($chevron-right, 'currentColor', $headings-color),
                  '#',
                  '%23'
                ));
              }
            }
            &.jstree-open {
              > .jstree-icon {
                background-image: url(str-replace(
                  str-replace($chevron-down, 'currentColor', $headings-color),
                  '#',
                  '%23'
                ));
              }
            }
          }
        }

        .list-group-labels,
        .storage-status {
          margin-top: 2.2rem;
        }

        .list-group-item {
          padding: 0.58rem 1.9rem;
          font-weight: 500;
          border: 0;
          border-radius: 0;
          border-left: 2px solid transparent;
          &:hover {
            z-index: 0 !important;
          }
          + .list-group-item.active {
            margin-top: 0;
          }
        }
        .active {
          background-color: transparent;
          border-color: $primary;
          color: $primary;
        }
      }
    }

    // show sidebar on click
    &.show {
      transition: all 0.25s ease, background 0s !important;
      transform: translateX(0) !important;
      z-index: 10;
    }
  }
