<footer class="footer mt-auto footer-light">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 small">Copyright &copy; ML Ltd {year}</div>
<!--                <div class="col-md-6 text-md-right small">-->
<!--                    <a href="#!">Privacy Policy</a>-->
<!--                    &middot;-->
<!--                    <a href="#!">Terms &amp; Conditions</a>-->
<!--                </div>-->
            </div>
        </div>
    </footer>

<script>
    let year = new Date().getFullYear();
</script>

