<script>
    import { link } from "svelte-routing";
    import { logout, authInfo } from "../stores/auth";
    import { globalStore } from "../stores/globalStore";
    import Swal from "sweetalert2";
    import { createPayrollSlips } from "../backend/treasurerActions";

    function handleLogout() {
        logout();
        window.location.reload();
    }

    function toggleSideNav() {
        $globalStore.sideNavToggle = !$globalStore.sideNavToggle;
    }

    function createSalary() {
        Swal.fire({
            title: "انشاء رواتب للموظفين لهذا الشهر؟",
            icon: "question",
            iconHtml: "؟",
            confirmButtonText: "انشاء",
            cancelButtonText: "الغاء",
            showCancelButton: true,
            showCloseButton: true,
            preConfirm: () => {
                Swal.showLoading();
                return createPayrollSlips()
                    .then((response) => {
                        return response;
                    })
                    .catch((error) => {
                        console.log(error);
                        Swal.fire("فشلت العملية", "", "error");
                        // Swal.showValidationMessage(`فشلت العملية`);
                    });
            },
        }).then((result) => {
            if (result.value) {
                Swal.fire("تمت العملية بنجاح", "", "success");
            }
        });
    }
</script>

<nav
    class="topnav navbar navbar-expand shadow justify-content-between justify-content-sm-start navbar-light bg-white"
    id="sidenavAccordion">

    <ul class="navbar-nav align-items-center mr-auto">
        <li class="nav-item dropdown no-caret mr-lg-0 dropdown-user">
            <a
                class="btn btn-icon btn-transparent-dark dropdown-toggle"
                id="navbarDropdownUserImage"
                href="javascript:void(0);"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"><img
                    class="img-fluid"
                    src="/assets/img/illustrations/profiles/profile-1.png" /></a>
            <div
                class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up"
                aria-labelledby="navbarDropdownUserImage">
                <a class="dropdown-item" on:click={handleLogout}>
                    <div class="dropdown-item-icon">
                        <i class="fa fa-sign-out-alt" />
                    </div>
                    تسجيل الخروج
                </a>
            </div>
        </li>
        {#if $authInfo.role == 'TREASURER'}
        <li class="nav-item dropdown no-caret d-none d-sm-block ml-3">
            <a
                class="nav-link dropdown-toggle"
                id="navbarDropdownDocs"
                href="javascript:void(0);"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                <div class="font-weight-500"><b>الادوات</b></div>
             
            </a>
            <div
                class="dropdown-menu dropdown-menu-right py-0 mr-sm-n15 mr-lg-0 o-hidden animated--fade-in-up"
                aria-labelledby="navbarDropdownDocs">
                <a
                    class="dropdown-item py-3"
                    href="javascript:void(0);"
                    on:click={createSalary}>
                    <div>عمل راتب لجميع الحسابات</div>
                </a>
            </div>
        </li>
    {/if}
    </ul>

    <a class="navbar-brand text-uppercase text-right" href="/"><span class="mr-3">MLO v1</span><img src="/assets/img/logo.svg" style="height: 34px" alt="MLO v1"></a>
    <button
        class="btn btn-icon btn-transparent-dark order-1 order-lg-0 ml-lg-2"
        on:click={toggleSideNav}><i class="fa fa-bars" /></button>

 
</nav>
