<script>
    import { link } from "svelte-routing";
    import { authInfo } from "../stores/auth";
    import { getContext } from "svelte";
    import { ROUTER } from "svelte-routing/src/contexts";
    import { balance } from "../stores/TreasurerStores/balanceStore";
    import { onMount } from "svelte";
    import { getBalance } from "../backend/treasurerActions";
    import Skeleton from 'svelte-skeleton'
    const { activeRoute } = getContext(ROUTER);

    onMount(() => {
        if ($authInfo["role"] == "TREASURER") {
            getBalance()
                .then((response) => {
                    if (response) {
                        balance.set(response.data.balance);
                    }
                })
                .catch((error) => {
                    console.log(error);
                });
        }
    });

    const menus = [
        // {
        //     text: "الصفحة الرئيسية",
        //     url: "/dashboard",
        //     role: "TREASURER",
        //     icon: "fa fa-tachometer-alt",
        // },

        {
            text: "الموظفين",
            url: "/profile",
            role: "TREASURER",
            icon: "fa fa-users",
        },

        {
            text: "الرواتب",
            url: "/payroll",
            role: "TREASURER",
            icon: "fa fa-money-bill",
        },

        {
            text: "ايصالات الاستلام",
            url: "/slips",
            role: "TREASURER",
            icon: "fa fa-money-check-alt",
        },

        {
            text: "سجل المصروفات",
            url: "/expense",
            role: "TREASURER",
            icon: "fa fa-money-bill-alt",
        },

        {
            text: "اضافة طلبات",
            url: "/data",
            role: "DATA",
            icon: "fa fa-cart-plus",
        },

        {
            text: "الصفحة الرئيسية",
            url: "/vault",
            role: "ADMIN",
            icon: "fa fa-tachometer-alt",
        },
        {
            text: "التقارير",
            url: "/reports",
            role: "ADMIN",
            icon: "fa fa-flag",
        },

       {
            text: "تقارير البائعين",
            url: "/staf/merchants/reports",
            role: "ADMIN",
            icon: "fa fa-users",
        }, 
        
        {
            text: "تقارير السواق",
            url: "/staff/drivers/reports",
            role: "ADMIN",
            icon: "fa fa-road",
        },


        {
            text: "جميع الطلبات",
            url: "/staff/orders",
            role: "STAFF",
            icon: "fa fa-shopping-cart",
        },
        {
            text: "الطلبات الجديدة",
            url: "/staff/new-orders",
            role: "STAFF",
            icon: "fa fa-cart-arrow-down",
        },
        {
            text: "الطلبات في المخزن",
            url: "/staff/storage-orders",
            role: "STAFF",
            icon: "fa fa-building",
        },
        {
            text: "الطلبات السريعة",
            url: "/staff/express-orders",
            role: "STAFF",
            icon: "fa fa-truck",
        },
       




        {
            text: "انشاء طلب",
            url: "/merchant/orders/create",
            role: "MERCHANT",
            icon: "fa fa-cart-plus",
        },
        {
            text: "الطلبات",
            url: "/merchant/orders",
            role: "MERCHANT",
            icon: "fa fa-shopping-cart",
        },
        {
            text: "الحركات",
            url: "/merchant/transactions",
            role: "MERCHANT",
            icon: "fa fa-exchange-alt",
        },
    ];
</script>

<div id="layoutSidenav_nav">
    <nav class="sidenav shadow-right sidenav-light">
        <div class="sidenav-menu">
            <div
                class="nav accordion"
                style="height: 100%;"
                id="accordionSidenav">
                <!-- Sidenav Heading (Addons)-->
                <div class="sidenav-menu-heading text-uppercase text-right">
                    منطقة المشغلين
                </div>
                <!-- Sidenav Link (Charts)-->

                {#each menus as item}
                    {#if $authInfo['role'] == item['role']}
                        <a
                            class="nav-link justify-content-end"
                            class:active={item['url'] == '/' + $activeRoute.params['*']}
                            href={item['url']}
                            use:link
                            replace>
                            {item['text']}

                            <div class="ml-2 nav-link-icon">
                                <i class={item['icon']} />
                            </div>
                        </a>
                    {/if}
                {/each}

                {#if $authInfo['role'] == 'TREASURER' }
                    <div class="inventory-balance-container">
                        <div
                            class="inventory-balance d-flex justify-content-center flex-column">
                            <div
                                class="d-flex align-items-center flex-row-reverse">
                                <span
                                    class="fa fa-file-invoice-dollar text-primary" />
                                <span class="mr-2">رصيد الخزنة</span>
                            </div>
                            <div
                                class="d-flex align-items-center flex-row-reverse">
                                {#if $balance}
                                     <h3>{parseInt($balance).toLocaleString('us-US', { style: 'currency', currency: 'IQD', minimumFractionDigits: 0})}</h3>
                                {:else}
                                <Skeleton height="30" width="150">
                                    <rect width="150" height="10" x="0" y="10" rx="5" ry="5" />
                                    </Skeleton>
                                {/if}
                            </div>
                        </div>
                    </div>
                {/if}
            </div>
        </div>
        <!-- Sidenav Footer-->
        <!--            <div class="sidenav-footer">-->
        <!--                <div class="sidenav-footer-content">-->
        <!--                    <div class="sidenav-footer-subtitle">Logged in as:</div>-->
        <!--                    <div class="sidenav-footer-title">Valerie Luna</div>-->
        <!--                </div>-->
        <!--            </div>-->
    </nav>
</div>
