/* arabic */
@font-face {
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/almarai/Almarai-Regular.ttf) format('woff2');
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	/* padding: 8px; */
	box-sizing: border-box;
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", 'Almarai' !important;

}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.dataTables_wrapper {
	direction: rtl;
}


.row-rtl {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

.table {
	text-align: right;
}

.center-cell {
	display:flex; align-items: center;
	justify-content: center;
}


.page-item:first-child .page-link {
	border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
	border-top-right-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
}

.page-item:last-child .page-link {
	border-top-left-radius: 0.35rem;
	border-bottom-left-radius: 0.35rem;
	border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.card-header {
	display: flex;
    justify-content: flex-end;
}

.rtl { direction: rtl}

.ltr { direction: ltr}


/* 
select {
    height: 50px !important;
}
 */


 .inventory-balance-container {
     display: flex;
     height: 100%;
     flex-direction: column;

 }

 .inventory-balance-container .inventory-balance {
     /* border-top: 1px solid #000000; */
     box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
     background-color: #ffffff;
     padding: 30px;
     height: 100px;
     margin-top: auto;
 }






 /* switch */

 .mlo-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .mlo-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .mlo-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .mlo-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .mlo-slider {
    background-color: #0061f2;
  }
  
  input:focus + .mlo-slider {
    box-shadow: 0 0 1px #0061f2;
  }
  
  input:checked + .mlo-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .mlo-slider.round {
    border-radius: 34px;
  }
  
  .mlo-slider.round:before {
    border-radius: 50%;
  }





/* splash screen */

.splash-logo {
    left: 50%;
    top: 50%;
    /* margin-left: -26px; */
    /* margin-top: -26px; */
    z-index: 2;
    transform: translate(-50%, -50%);
	position: absolute;
	/* display: none; */
    width: 54px;
}

.splash-loader,
.splash-loader:before,
.splash-loader:after {
  left: 50%;
  top: 50%;
  margin-left: -45px;
  margin-top: -45px;
  position: absolute;
  vertical-align: middle;
  background:rgb(56 116 159 / 39%);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  z-index: 1;
}

.splash-loader {
    background: transparent;
}

.splash-loader:before {
  content: "";
  animation: bounce 1.5s infinite;
}
.splash-loader:after {
  content: "";
  animation: bounce 1.5s -0.4s infinite;
}

@keyframes bounce {
        0% {
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        -webkit-transform: scale(2);
        opacity: 0;
    }
}

@-webkit-keyframes bounce {
    0% {
        transform: scale(0.3);
        -webkit-transform: scale(0.3);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        -webkit-transform: scale(2);
        opacity: 0;
    }
}

.splash-screen {
    background-color: #f3f3f3;
    height: 100%;
}


.dataTable-table th a {
  color:rgb(0, 97, 242)!important;
  /* font-size: 15px; */
}


.swal2-custom-input-label {
  display: flex;
  justify-content: flex-end;
  margin: 1em auto;
}

.swal2-custom-select {
  min-width: 100%;
  max-width: 100%;
  margin-top: 0;
  margin: 0;
  padding: .375em .625em;
  background: inherit;
  color: inherit;
  font-size: 1.125em;
}