@keyframes view {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes sacleView {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


.reactions {
  //animation: 0.2s ease-out 0s 1 view forwards;
  //background-color: #877ef2;
  background-color: #96E6E6;
  position: absolute;
  bottom: 50px;
  height: 60px;
  left: 0;
  //transform: translateY(10px);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  box-shadow: 0 4px 24px 0 rgb(0 0 0 / 24%);
  overflow: hidden;
  img {
    animation: 500ms ease-out 0s 1 sacleView;
    width: 40px;
    height: 40px;
    margin: 15px 5px;
    transition: all ease-out .5s;

    &:hover {
      animation-play-state: paused;
      transform: scale(1.2);
    }
  }
}
