<div [@enterAnimation] *ngIf="reactionsVisible" class="reactions {{styleClass}}">
    <img (click)="react(1)" src="assets/icons/like.svg" alt="">
    <img (click)="react(2)" src="assets/icons/laugh.svg" alt="">
    <img (click)="react(3)" src="assets/icons/love.svg" alt="">
    <img (click)="react(4)" src="assets/icons/sad.svg" alt="">
    <img (click)="react(5)" src="assets/icons/angry.svg" alt="">
</div>
