.status-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.status-bar.connected {
  background: #32bc00;
  color: #ffffff;
}

.status-bar.disconnected {
  background: #FF9A02;
  height: 30px;
}
/*# sourceMappingURL=status-bar.component.css.map */