.status-bar {
    &.connected {
        background: #32bc00;
        color: #ffffff;
    }
    &.disconnected {
        background: #FF9A02;
        height: 30px;
    }
    
    // background: #05E100;
    // background: #FF9A02;

    display: flex;
    align-items: center;
    justify-content: center;
    // display: none;
}