@import '@core/scss/base/pages/app-ecommerce.scss';
@import '/src/@core/scss/base/pages/app-ecommerce.scss';


.side-list {
    list-style: none;
    padding: 0;

    li {
        .active {
            background-color: aqua;
        }
        padding: 10px;
        width: 100%;
        font-size: 16px;
    }
}

.network-card {
  &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 25px 0 rgba($black, 0.25);
    //   box-shadow: 0 0 0pt 1pt $primary;
  }
}



.ecommerce-searchbar {
    .input-group {
      box-shadow: 0 2px 8px 0 rgba($black, 0.14);
      border-radius: 0.3rem;
    }
  }

  // Search bar
  .search-product,
  .input-group-text {
    height: $search-bar-height;
    border: none;
    font-size: 0.95rem;
    padding-left: 1.25rem;

    &::placeholder {
      font-size: 0.95rem;
    }
  }

   // file manager sidebar styles
   .sidebar-file-manager {
    width: $sidebar-width;
    height: 100%;
    border-top-left-radius: $border-radius-sm;
    border-bottom-left-radius: $border-radius-sm;
    transition: all 0.3s ease, background 0s;

    // styles for card-inner
    .sidebar-inner {
      height: inherit;

      .dropdown-actions {
        width: 100%;
        padding: 1.5rem 1.5rem 1.8rem;
      }

      .sidebar-close-icon {
        position: absolute;
        top: 0.25rem;
        right: 0.25rem;
        font-size: $font-size-xl;
        z-index: 5;
        cursor: pointer;
      }

      .add-file-btn {
        & ~ .dropdown-menu {
          width: 85%;
          &:before {
            display: none;
          }
        }
      }

      // styles for card inner list
      .sidebar-list {
        position: relative;
        height: calc(100% - 85px); // search section height 85px
        .my-drive {
          padding: 0.58rem 0;
          .jstree-node {
            .jstree-icon {
              background-position: 0.5rem;
              background-size: 1.3rem;
            }
            .jstree-anchor > .jstree-themeicon {
              margin-right: 0.5rem;
            }
            &.jstree-closed {
              > .jstree-icon {
                background-image: url(str-replace(
                  str-replace($chevron-right, 'currentColor', $headings-color),
                  '#',
                  '%23'
                ));
              }
            }
            &.jstree-open {
              > .jstree-icon {
                background-image: url(str-replace(
                  str-replace($chevron-down, 'currentColor', $headings-color),
                  '#',
                  '%23'
                ));
              }
            }
          }
        }

        .list-group-labels,
        .storage-status {
          margin-top: 2.2rem;
        }

        .list-group-item {
          padding: 0.58rem 1.9rem;
          font-weight: 500;
          border: 0;
          border-radius: 0;
          border-left: 2px solid transparent;
          &:hover {
            z-index: 0 !important;
          }
          + .list-group-item.active {
            margin-top: 0;
          }
        }
        .active {
          background-color: transparent;
          border-color: $primary;
          color: $primary;
        }
      }
    }

    // show sidebar on click
    &.show {
      transition: all 0.25s ease, background 0s !important;
      transform: translateX(0) !important;
      z-index: 10;
    }
  }


   .profile-header {
     overflow: hidden;
     height: 62px;

   }


   .profile-card-name {
     line-height: 2.4rem!important;
     max-height: 2.4rem;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     word-break: break-all;
   }


   .social-card-btn-container {
     padding: 10px;
     margin: 0;
   }


   .cards {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
     grid-auto-rows: auto;
     grid-gap: 1rem;
   }
