<div class="content-wrapper">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="content-detached content-right">
        <div class="content-body">
            <section *ngIf="auth?.user?.id == 15" id="ecommerce-header">Found: {{totalItems}}</section>
            <section id="ecommerce-searchbar" class="ecommerce-searchbar mb-2">
                <div class="mt-1">
                    <div class="d-flex align-items-center">
                        <div class="p-fluid" style="flex: 1;">
                            <p-autoComplete id="search" placeholder="Search" (keyup.enter)="search(text)" dropdownIcon="pi pi-chevron-down"  [(ngModel)]="text" [suggestions]="results" (completeMethod)="searchx($event)" [field]="'first_name'"></p-autoComplete>
                        </div>
                        <button style="width: 40px; height: 40px; margin-left: 2px;" class="btn btn-icon  btn-outline-primary btn-sm waves-effect"><i class="fa fa-search"></i></button>

                       
                    </div>
                </div>
            </section>
            <div *blockUI="'users-list'" class="cards">
<!--                <block-ui *ngIf="loading"> </block-ui>-->

                <div *ngFor="let user of users"  >
                    <div class="card card-profile network-card ecommerce-card">
                        <div class="profile-header">
                            <img *ngIf="!user.cover_image" src="/assets/images/pages/cover.jpg" class="img-fluid card-img-top network-profile-cover" alt="Profile Cover Photo">
                            <img *ngIf="user.cover_image" [src]="config.getBaseUrl() + 'storage/images/covers/' + user.cover_image" class="img-fluid card-img-top network-profile-cover" alt="Profile Cover Photo">
                        </div>
                        <div class="card-body">
                            <div class="profile-image-wrapper">
                                <div class="profile-image">
                                    <div class="avatar">
                                        <img [routerLink]="['/profile/', user?.id]" *ngIf="!user.avatar" src="/assets/images/avatars/placeholder.jpg" alt="Profile Picture">
                                        <img [routerLink]="['/profile/', user?.id]"  *ngIf="user.avatar" [src]="config.getBaseUrl() + 'storage/images/avatars/' + user.avatar" alt="Profile Picture">
                                    </div>
                                </div>
                            </div>
                            <h3 class="profile-card-name"><a [routerLink]="['/profile/', user?.id]">{{user?.first_name + ' ' + (user?.last_name || '')}}</a></h3>
                            <h6 class="text-muted" style="text-transform: capitalize">{{user?.account_type?.name}}</h6>
                            <div class="mt-2 d-flex justify-content-around align-items-center mb-1">
                                <div>
                                    <div class="text-muted font-weight-bolder">Followers</div>
                                    <div class="mb-0">{{user?.follower_count}}</div>
                                </div>
                                <div>
                                    <div class="text-muted font-weight-bolder">Following</div>
                                    <div class="mb-0">{{user?.following_count}}</div>
                                </div>

                            </div>


                        </div>
                        <div class="d-flex justify-content-around align-items-center social-card-btn-container">
<!--                            <button *ngIf="user?.following" type="button"  class="w-100 btn btn-danger waves-effect waves-float waves-light">Unfollow</button>-->
<!--                            <button *ngIf="!user?.following" type="button"  class="w-100 btn btn-primary waves-effect waves-float waves-light">Follow</button>-->
                            <app-follow-btn class="w-100" [type]="'bg'" [user]="user"></app-follow-btn>
                        </div>
                    </div>
                    
                </div>
          
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <ngb-pagination *ngIf="totalItems" [pageSize]="per_page" [collectionSize]="totalItems" [(page)]="page" (pageChange)="changePage()" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" aria-label="Custom pagination">
                    <ng-template ngbPaginationPrevious
                      ><span [data-feather]="'chevron-left'" [class]="'font-weight-bolder'"></span>Prev
                    </ng-template>
                    <ng-template ngbPaginationNext
                      >Next<span [data-feather]="'chevron-right'" [class]="'font-weight-bolder'"></span>
                    </ng-template>
                  </ngb-pagination>
            </div>
                
        </div>
    </div>
    <div class="sidebar-detached sidebar-left">
        <div class="sidebar">
            <div class="sidebar-file-manager">
                <div class="sidebar-inner pb-2 card">
                    <!-- sidebar menu links starts -->
                    <!-- add file button -->
                    <div class="dropdown dropdown-actions">
                        <span>Manage you network</span>
                      
                    </div>
                    <!-- add file button ends -->

                    <!-- sidebar list items starts  -->
                    <div class="sidebar-list ps ps--active-y">
                        <!-- links for file manager sidebar -->
                        <div class="list-group">
                            <a (click)="changeCategory('all')" [ngClass]="{'active': group == 'all' || group == null}" href="javascript:void(0)" class="list-group-item list-group-item-action">
                                <span class="align-middle">All ({{users_count['total'] ?? 0}})</span>
                            </a>
                            <a (click)="changeCategory('dentists')" [ngClass]="{'active': group == 'dentists'}" href="javascript:void(0)" class="list-group-item list-group-item-action">
                                <span class="align-middle">Dentists ({{users_count['dentist'] ?? 0}})</span>
                            </a>
                            <a (click)="changeCategory('students')" [ngClass]="{'active': group == 'students'}" href="javascript:void(0)" class="list-group-item list-group-item-action">
                                <span class="align-middle">Students ({{users_count['student'] ?? 0}})</span>
                            </a>
                            <a (click)="changeCategory('clinics')" [ngClass]="{'active': group == 'clinics'}" href="javascript:void(0)" class="list-group-item list-group-item-action">
                                <span class="align-middle">Clinics ({{users_count['clinic'] ?? 0}})</span>
                            </a>
                        </div>
                    </div>
                     
                </div>
            </div>
    
        </div>
    </div>
</div>
