/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
// @import '~primeng/resources/themes/md-light-indigo/theme.css';
// @import '~primeng/resources/themes/nova/theme.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
// @import '~primeng/resources/themes/rhea/theme.css';

@import '~bootstrap/scss/bootstrap-grid.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}


.p-overlaypanel:after {
    border-bottom-color: #F1F1F1 !important;
}


.p-dialog-mask {
    align-items: baseline !important;
}

.call-dialog {
    &:after {
        content: "";
        pointer-events: none;

        position: absolute;
        bottom: 98%;
        margin-top: -25px;                // adjust position, arrow has a height of 30px. 
        left:48%;
        transform: translate(-50%, 0);
        border: solid 15px transparent;
        border-bottom-color: #F3F3F3;
        z-index: 1;
    }

   


    position: relative;
    // right: 50%;
    // top: 0;
    // transform: translate(50%, 0);
  
    background: #F1F1F1;
    color: #495057;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
    display: flex;
    margin-top: 54px !important;
    // margin-top: 84px !important;
    // align-items: center;
    justify-content: center;


    .p-dialog-content {
        
        overflow: hidden;
        /* background: #ffffff; */
        // width: 100%;
        display: flex;

        background: unset !important;
        color: #495057;
        padding: 0 !important;
        /* padding: 0 1.5rem 2rem 1.5rem; */
    }
}


.p-overlaypanel {
    // margin-left: 5px;
    &:before {
        // margin-left: unset !important;
        // left: unset !important;
        // transform: translate(-80%, 0);
    }
    &:after {
        // display: none;
        // margin-left: unset !important;
        // left: 55% !important;
        // transform: translate(-80%, 0);
    }
}


.p-listbox {
    background: #F1F1F1 !important;
    border: none;
    .p-listbox-item.p-highlight {
        color: #495057;
        background: #ffffff !important;
    }
}