.panel {
  margin-top: 54px;
  height: calc(100vh - 54px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.contacts-history-panel {
  overflow-y: scroll;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 380px;
          flex: 1 0 380px;
  width: 380px;
  background: #F3F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.contacts-history-panel:hover {
  outline: 1px solid #00BABC;
}

.contacts-history-panel .contact-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  position: relative;
  background-color: #fff;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 4px;
  cursor: pointer;
}

.contacts-history-panel .contact-card:hover {
  outline: 1px solid #00BABC;
  background-color: #fafafa;
}

.contacts-history-panel .contact-card:hover .status > div {
  background-color: unset;
}

.contacts-history-panel .contact-card.active {
  background-color: #00BABC;
  color: #fff;
}

.contacts-history-panel .contact-card.active .image {
  background: #fff;
}

.contacts-history-panel .contact-card.active .status > div {
  background-color: transparent;
}

.contacts-history-panel .contact-card.active .red {
  color: #fff;
}

.contacts-history-panel .contact-card .image {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #C4C4C4;
  margin-right: 10px;
}

.contacts-history-panel .contact-card .date-ago {
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
}

.contacts-history-panel .contact-card .status .miss {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: red;
}

.contacts-history-panel .contact-card .status .accept {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #00BABC;
}

.red {
  color: red;
}

.messages-container {
  width: 100%;
}

.messages-container .messages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 50px calc(100vh - 252px) auto;
      grid-template-rows: 50px calc(100vh - 252px) auto;
}

.messages-container .messages .header {
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.messages-container .messages .header .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.messages-container .messages .header .info .text {
  margin-left: 10px;
}

.messages-container .messages .header .actions {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.messages-container .messages .header .actions .action {
  cursor: pointer;
  margin-left: 10px;
  background-color: #ebebeb;
  border-radius: 20%;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.messages-container .messages .content {
  overflow: hidden;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.messages-container .messages .content .message {
  padding: 10px;
  margin-top: 10px;
  margin: 10px;
  min-width: 250px;
  height: auto;
  background: #f0f0f0;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.messages-container .messages .content .message.mine {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #00BABC;
}

.messages-container .messages .content .message .head {
  font-weight: bold;
}

.messages-container .messages .content .message .body {
  padding-top: 10px;
}

.messages-container .messages .content .message .date {
  margin-left: auto;
  font-size: 12px;
}

.messages-container .messages .tools {
  -webkit-box-flex: 1;
      -ms-flex: 1 80px;
          flex: 1 80px;
}

.messages-container .messages .tools .message-input {
  height: 100%;
}

.messages-container .messages .tools .message-input input {
  padding: 10px;
  font-size: 22px;
  outline: none;
  border: 1px solid #00BABC;
  height: 100%;
  width: 100%;
}
/*# sourceMappingURL=contacts-history-panel.component.css.map */