<div class="panel">
    <div class="contacts-history-panel">
        <div>
            <h2>Recent Calls</h2>
        </div>
    
    
        <div *ngFor="let call of recentCalls"  @fadeIn
            [ngClass]="{'active': current_active == call}" 
            (click)="current_active = call;"
            class="contact-card">
            <div class="image">
                <img src="/assets/images/svg/user.svg" width="32" height="32">        </div>
            <div class="content" [ngClass]="{'red':  call.status == 'miss'}">
                {{call.from}}
            </div>
            <div class="status">
                <div *ngIf="call.status == 'answered'" class="accept"></div>
                <div *ngIf="call.status == 'miss'" class="miss"></div>
            </div>
            <div class="date-ago">
                {{call.date | timeago:true}}
            </div>
        </div>
    
    
    </div>
    
    <div class="messages-container">
        <div *ngIf="current_active" class="">
            <!-- {{current_active | json}} -->

            <div class="messages">
                <div class="header">
                   <div class="info">
                    <img src="/assets/images/svg/info.svg" width="24" height="24">
                    <div class="text">{{current_active?.from}}</div>
                   </div>
                    <div class="actions">
                        <div (click)="sip.createCall(current_active?.from)" class="action">
                            <img src="/assets/images/svg/_call.svg" width="24" height="24">
                        </div>
                        <div class="action">
                            <img src="/assets/images/svg/refresh.svg" width="24" height="24">
                        </div>
                        <div class="action">
                            <img (click)="current_active=null" src="/assets/images/svg/close.svg" width="24" height="24">
                        </div>
                    </div>
                </div>
                <div #chatbox class="content">
                    <div *ngFor="let i of [0,1,2,3,4,5]" [ngClass]="{'mine': i==3 || i==0}" class="message">
                        <div class="head">
                            Ahmed
                        </div>
                        <div class="body">
                           ss
                        </div>
                        <div class="date">
                            10/2/2
                        </div>
                    </div>
                  
                </div>
                <div class="tools">
                    <div class="message-input">
                        <input type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>