.panel { 
    // margin-top: 84px;
    margin-top: 54px;
    height: calc(100vh - 54px);
    // height: calc(100vh - 54px - 30px);
    display: flex;
    width: 100%;
}
.contacts-history-panel {
    overflow-y: scroll;
    // margin-top: 84px;
    // height: calc(100vh - 54px - 30px);
    flex: 1 0 380px;
    width: 380px;
    background: #F3F3F3;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    padding: 10px;
    &:hover {
        outline: 1px solid #00BABC;

        // outline: 1px solid rgb(0, 166, 255);
    }

    .contact-card {
        flex: 0 0 80px;
        align-self: stretch;

        position: relative;
        background-color: #fff;
        height: 80px;
        display: flex;
        align-items: center;
        padding: 10px;
        margin: 4px;
        cursor: pointer;

        &:hover {
            outline: 1px solid #00BABC;
            background-color: rgb(250, 250, 250);
            .status > div {
                background-color: unset;
            }
        }
        
        &.active {
            background-color: #00BABC;
            color: #fff;
            .image {
                background: #fff;
            }
            .status > div {
                background-color: transparent;
            }
            .red {
                color: #fff;
            }
        }

        .image {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: #C4C4C4;
            margin-right: 10px;
        }

        .content {

        }

        .date-ago {
            font-size: 12px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(-20%, -50%);
        }
        
        .status {
           

            .miss {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: 1px;
                height: 100%;
                background-color: red;
            }

            .accept {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: 1px;
                height: 100%;
                background-color: #00BABC;
            }
        }
    }
}


.red {
    color: red;
}

.messages-container {
    // flex-grow: 1;
    width: 100%;
    // &:hover {
    //     border: 1px solid #00BABC;
    // }

.messages {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px calc(100vh - 252px) auto;
    // grid-template-rows: 50px calc(100vh - 182px) auto;
    // grid-gap: 10px;


    .header {
        background-color: #f8f8f8;
        display: flex;
        align-items: center;
        padding: 0 10px;

        .info {
            display: flex;
            align-items: center;
            .text {
                margin-left: 10px;
            }
        }
        .actions {
            margin-left: auto;
            display: flex;
            align-items: center;
            .action {
                cursor: pointer;
                margin-left: 10px;
                background-color: #ebebeb;
                border-radius: 20%;
                height: 30px;
                width: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
  

    .content {
        // flex: 1 0;
        overflow: hidden;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        padding: 5px;
        align-items: flex-start;



        .message {

            &.mine {
               align-self: flex-end;
               background-color: #00BABC;
            }
           
            // flex: 0 0;
            padding: 10px;
            margin-top: 10px;
            margin: 10px;
            min-width: 250px;
            height: auto;
            background: #f0f0f0;
            border-radius: 4px;
            display: flex;
            flex-direction: column;

            .head {
                font-weight: bold;
            }

            .body {
                padding-top: 10px;
            }

            .date {
                margin-left: auto;
                font-size: 12px;
            }
        }

    }

    .tools {
        flex: 1 80px;

        .message-input {
            height: 100%;
            input {
                padding: 10px;
                font-size: 22px;
                outline: none;
                border: 1px solid #00BABC;
                height: 100%;
                width: 100%;
            }
        }

    }
}
}


