<li (click)="openNotification()" ngbDropdown #myDrop="ngbDropdown" class="nav-item dropdown-notification mr-25">
  <a class="nav-link" ngbDropdownToggle id="navbarNotificationDropdown"
    ><i class="ficon" data-feather="users"></i
    ><span *ngIf="follow?.followrequests_count" class="badge badge-pill badge-danger badge-up">{{
    follow?.followrequests_count
    }}</span></a
  >
  <ul
          (click)="$event.stopPropagation()"
    ngbDropdownMenu
    aria-labelledby="navbarNotificationDropdown"
    class="dropdown-menu dropdown-menu-media dropdown-menu-right"
  >

    <!-- Notifications header -->
    <li class="dropdown-menu-header">
      <div class="dropdown-header d-flex">
        <h4 class="notification-title mb-0 mr-auto">Follow Requests</h4>
<!--        <div class="badge badge-pill badge-light-primary">-->
<!--          {{ auth?.notifications_count }} New-->
<!--        </div>-->
      </div>
    </li>
    <!--/ Notifications header -->



    <li *ngIf="loading" class="p-5 d-flex align-items-center justify-content-center">
      <i class="fa fa-spin fa-2x fa-circle-o-notch"></i>
    </li>


    <!-- Notifications content -->
    <li *ngIf="!loading" class="scrollable-container media-list" [perfectScrollbar]>
      <div *ngIf="follow?.followRequests.length == 0" class="d-flex media justify-content-center">
        Empty
      </div>
      <a  class="d-flex" href="javascript:void(0)" *ngFor="let request of follow?.followRequests">
        <div class="media flex-column">
         <div class="d-flex align-items-center w-100">
           <div class="media-left">
             <div (click)="myDrop.close();" [routerLink]="['/profile', request?.user?.id]" class="avatar">
               <img [src]="request?.user?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + request?.user?.avatar : '/assets/images/avatars/placeholder.jpg'" alt="avatar" width="32" height="32" />
             </div>
           </div>
           <div (click)="myDrop.close();" [routerLink]="['/profile', request?.user?.id]" class="media-body">
             {{ request?.user?.first_name + ' ' + (request?.user?.last_name || '') }}
           </div>
           <div class="ml-auto d-flex align-items-center">
             <button [disabled]="acceptLoading" (click)="acceptRequest(request.id)" class="btn btn-icon rounded-circle btn-outline-success"><ng-template [ngIf]="!acceptLoading"><i-feather class="feather-sm" name="user-check"></i-feather></ng-template><i *ngIf="acceptLoading" class="fa fa-spin fa-circle-o-notch loading-icon-sm"></i></button>
             <button [disabled]="denyLoading" (click)="denyRequest(request.id)" class="btn btn-icon rounded-circle btn-outline-danger" style="margin-left: 5px"><ng-template [ngIf]="!denyLoading"><i-feather class="feather-sm" name="user-x"></i-feather></ng-template><i *ngIf="denyLoading" class="fa fa-spin fa-circle-o-notch loading-icon-sm"></i></button>

<!--             <div  timeago [date]="request?.created_at" [live]="true"></div>-->

           </div>
         </div>
         <div class="d-flex align-items-center justify-content-start w-100">
<!--           <button [disabled]="acceptLoading" (click)="acceptRequest(request.id)" class="btn btn-primary mt-1"><span *ngIf="!acceptLoading">Accept</span><i *ngIf="acceptLoading" class="fa fa-spin fa-circle-o-notch"></i></button>-->
<!--           <button [disabled]="denyLoading" (click)="denyRequest(request.id)" class="btn btn-secondary mt-1" style="margin-left: 5px"><span *ngIf="!denyLoading">Remove</span><i *ngIf="denyLoading" class="fa fa-spin fa-circle-o-notch"></i></button>-->

           <div class="ml-auto" timeago [date]="request?.created_at" [live]="true"></div>

         </div>
        </div></a>
    </li>
    <!--/ Notifications content -->

    <!-- Notifications footer -->
<!--    <li class="dropdown-menu-footer">-->
<!--      <a class="btn btn-primary btn-block" (click)="readAll()" href="javascript:void(0)">View all notifications</a>-->
<!--    </li>-->
    <!--/ Notifications footer -->
  </ul>
</li>
