<ng-template [ngIf]="user?.id != auth.user.id">

    <ng-template [ngIf]="type == 'bg'">
        <button (click)="unfollow()" *ngIf="user?.following == 1" type="button"  class="w-100 btn btn-flat-dark btn-unfollow waves-effect waves-float waves-light"><span *ngIf="!loading">Unfollow</span><i *ngIf="loading" class="fa fa-spin fa-circle-o-notch"></i></button>
        <button (click)="unfollow()" *ngIf="user?.following == 0" type="button"  class="w-100 btn btn-info waves-effect waves-float waves-light"><span *ngIf="!loading">Requested</span><i *ngIf="loading" class="fa fa-spin fa-circle-o-notch"></i></button>
        <button (click)="follow()" *ngIf="user?.following == null && !user?.followed_me" type="button"  class="w-100 btn btn-primary waves-effect waves-float waves-light"><span *ngIf="!loading"><span *ngIf="!user?.followed_me">Follow</span></span><i *ngIf="loading" class="fa fa-spin fa-circle-o-notch"></i></button>
        <button (click)="follow()"  *ngIf="user?.following == null && user?.followed_me" type="button"  class="w-100 btn btn-primary waves-effect waves-float waves-light"><span *ngIf="!loading"><span>Follow Back</span></span><i *ngIf="loading" class="fa fa-spin fa-circle-o-notch"></i></button>
    </ng-template>

    <ng-template [ngIf]="type == 'sm'">
        <button (click)="follow()" *ngIf="user?.following == null" type="button" class="btn btn-primary btn-icon btn-sm ml-auto" rippleEffect>
            <span *ngIf="!loading" class="fa fa-user-plus"></span><i *ngIf="loading" class="fa fa-spin fa-circle-o-notch"></i>
        </button>

        <button (click)="unfollow()" *ngIf="user?.following == 1" type="button" class="btn btn-flat-dark btn-unfollow btn-icon btn-sm ml-auto" rippleEffect>
            <span *ngIf="!loading" class="fa fa-minus-circle"></span><i *ngIf="loading" class="fa fa-spin fa-circle-o-notch"></i>
        </button>

        <button (click)="unfollow()" *ngIf="user?.following == 0" type="button" class="btn btn-info btn-icon btn-sm ml-auto" rippleEffect>
            <span *ngIf="!loading" class="fa fa-clock-o"></span><i *ngIf="loading" class="fa fa-spin fa-circle-o-notch"></i>
        </button>
    </ng-template>


    <ng-template [ngIf]="type == 'circle'">

        <button (click)="follow()" *ngIf="user?.following == null" class="btn btn-icon rounded-circle btn-primary" rippleEffect>
            <span *ngIf="loading" class="fa fa-spin fa-circle-o-notch loading-icon-bg"></span><ng-template [ngIf]="!loading"><i-feather class="feather-bg" name="user-plus"></i-feather></ng-template>
        </button>

        <button (click)="unfollow()" *ngIf="user?.following == 0" class="btn btn-icon rounded-circle btn-info" rippleEffect>
            <span *ngIf="loading" class="fa fa-spin fa-circle-o-notch loading-icon-bg"></span><ng-template [ngIf]="!loading"><i-feather class="feather-bg" name="clock"></i-feather></ng-template>
        </button>

        <button (click)="unfollow()" *ngIf="user?.following == 1" class="btn btn-icon rounded-circle btn-flat-dark btn-unfollow" rippleEffect>
            <span *ngIf="loading" class="fa fa-spin fa-circle-o-notch loading-icon-bg"></span><ng-template [ngIf]="!loading"><i-feather class="feather-bg" name="user-x"></i-feather></ng-template>
        </button>

<!--        <button (click)="unfollow()" *ngIf="user?.following == 1" class="btn btn-icon rounded-circle btn-success" rippleEffect>-->
<!--            <span *ngIf="loading" class="fa fa-spin fa-circle-o-notch"></span><span *ngIf="!loading" [data-feather]="'user-check'"></span>-->
<!--        </button>-->
    </ng-template>


    <ng-template [ngIf]="type == 'circle-flat'">

        <button (click)="follow()" *ngIf="user?.following == null" class="btn btn-icon rounded-circle btn-flat-primary" rippleEffect>
            <span *ngIf="loading" class="fa fa-spin fa-circle-o-notch loading-icon-bg"></span><ng-template [ngIf]="!loading"><i-feather class="feather-bg" name="user-plus"></i-feather></ng-template>
        </button>

        <button (click)="unfollow()" *ngIf="user?.following == 0" class="btn btn-icon rounded-circle btn-flat-info" rippleEffect>
            <span *ngIf="loading" class="fa fa-spin fa-circle-o-notch loading-icon-bg"></span><ng-template [ngIf]="!loading"><i-feather class="feather-bg" name="clock"></i-feather></ng-template>
        </button>

        <button (click)="unfollow()" *ngIf="user?.following == 1" class="btn btn-icon rounded-circle btn-flat-dark btn-unfollow" rippleEffect>
            <span *ngIf="loading" class="fa fa-spin fa-circle-o-notch loading-icon-bg"></span><ng-template [ngIf]="!loading"><i-feather class="feather-bg" name="user-x"></i-feather></ng-template>
        </button>
    </ng-template>


    <ng-template [ngIf]="type == 'circle-sm'">

        <button (click)="follow()" *ngIf="user?.following == null" class="btn btn-icon rounded-circle btn-outline-primary btn-sm" rippleEffect>
            <span *ngIf="loading" class="fa fa-spin fa-circle-o-notch loading-icon-sm"></span><ng-template [ngIf]="!loading"><i-feather class="feather-sm" name="user-plus"></i-feather></ng-template>
        </button>

        <button (click)="unfollow()" *ngIf="user?.following == 0" class="btn btn-icon rounded-circle btn-outline-info btn-sm" rippleEffect>
            <span *ngIf="loading" class="fa fa-spin fa-circle-o-notch loading-icon-sm"></span><ng-template [ngIf]="!loading"><i-feather class="feather-sm" name="clock"></i-feather></ng-template>
        </button>

        <ng-template [ngIf]="user?.following == 1">
            Following

        </ng-template>

        <!-- <button (click)="unfollow()" *ngIf="user?.following == 1" class="btn btn-icon rounded-circle btn-outline-danger btn-sm" rippleEffect>
            <span *ngIf="loading" class="fa fa-spin fa-circle-o-notch loading-icon-sm"></span><ng-template [ngIf]="!loading"><i-feather class="feather-sm" name="user-x"></i-feather></ng-template>
        </button> -->
    </ng-template>




</ng-template>
