<ul ngbNav #navWithIcons="ngbNav" class="nav-tabs" [(activeId)]="active">
    <li *ngIf="likeArray.length" [ngbNavItem]="'like'">
        <a ngbNavLink><span><img width="24" src="/assets/icons/like.svg" alt=""></span></a>
        <ng-template ngbNavContent>
            <div style="height: 25rem; overflow: hidden; overflow-y: visible">
                <div *ngFor="let user of likeArray" class="d-flex justify-content-start align-items-center mt-1">
                    <div class="avatar mr-75">
                        <img [routerLink]="['/profile/', user?.id]" [src]="user?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + user?.avatar : '/assets/images/avatars/placeholder.jpg'" alt="" height="40" width="40" />
                    </div>
                    <div class="profile-user-info">
                        <h6 class="mb-0"><a [routerLink]="['/profile/', user?.id]">{{ user?.first_name + ' ' + (user?.last_name || '') }}</a></h6>
                        <small class="text-muted text-capitalize">{{user?.account_type?.name}}</small>
                    </div>
                    <app-follow-btn class="ml-auto" style="padding-bottom: 10px" [type]="'circle-sm'" [user]="user"></app-follow-btn>
                </div>
            </div>
        </ng-template>
    </li>
    <li *ngIf="laughArray.length" [ngbNavItem]="'laugh'">
        <a ngbNavLink><span><img width="24" src="/assets/icons/laugh.svg" alt=""></span></a>
        <ng-template ngbNavContent>
            <div style="height: 25rem; overflow: hidden; overflow-y: visible">

            <div *ngFor="let user of laughArray" class="d-flex justify-content-start align-items-center mt-1">
                <div class="avatar mr-75">
                    <img [routerLink]="['/profile/', user?.id]" [src]="user?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + user?.avatar : '/assets/images/avatars/placeholder.jpg'" alt="" height="40" width="40" />
                </div>
                <div class="profile-user-info">
                    <h6 class="mb-0"><a [routerLink]="['/profile/', user?.id]">{{ user?.first_name + ' ' + (user?.last_name || '') }}</a></h6>
                    <small class="text-muted text-capitalize">{{user?.account_type?.name}}</small>
                </div>
                <app-follow-btn class="ml-auto" style="padding-bottom: 10px" [type]="'circle-sm'" [user]="user"></app-follow-btn>
            </div>
            </div>
        </ng-template>
    </li>
    <li *ngIf="loveArray.length" [ngbNavItem]="'love'">
        <a ngbNavLink><span><img width="24" src="/assets/icons/love.svg" alt=""></span></a>
        <ng-template ngbNavContent>
            <div style="height: 25rem; overflow: hidden; overflow-y: visible">

            <div *ngFor="let user of loveArray" class="d-flex justify-content-start align-items-center mt-1">
                <div class="avatar mr-75">
                    <img [routerLink]="['/profile/', user?.id]" [src]="user?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + user?.avatar : '/assets/images/avatars/placeholder.jpg'" alt="" height="40" width="40" />
                </div>
                <div class="profile-user-info">
                    <h6 class="mb-0"><a [routerLink]="['/profile/', user?.id]">{{ user?.first_name + ' ' + (user?.last_name || '') }}</a></h6>
                    <small class="text-muted text-capitalize">{{user?.account_type?.name}}</small>
                </div>
                <app-follow-btn class="ml-auto" style="padding-bottom: 10px" [type]="'circle-sm'" [user]="user"></app-follow-btn>
            </div>
            </div>
        </ng-template>
    </li>
    <li *ngIf="sadArray.length" [ngbNavItem]="'sad'">
        <a ngbNavLink><span><img width="24" src="/assets/icons/sad.svg" alt=""></span></a>
        <ng-template ngbNavContent>
            <div style="height: 25rem; overflow: hidden; overflow-y: visible">

            <div *ngFor="let user of sadArray" class="d-flex justify-content-start align-items-center mt-1">
                <div class="avatar mr-75">
                    <img [routerLink]="['/profile/', user?.id]" [src]="user?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + user?.avatar : '/assets/images/avatars/placeholder.jpg'" alt="" height="40" width="40" />
                </div>
                <div class="profile-user-info">
                    <h6 class="mb-0"><a [routerLink]="['/profile/', user?.id]">{{ user?.first_name + ' ' + (user?.last_name || '') }}</a></h6>
                    <small class="text-muted text-capitalize">{{user?.account_type?.name}}</small>
                </div>
                <app-follow-btn class="ml-auto" style="padding-bottom: 10px" [type]="'circle-sm'" [user]="user"></app-follow-btn>
            </div>
            </div>
        </ng-template>
    </li>
    <li *ngIf="angryArray.length" [ngbNavItem]="'angry'">
        <a ngbNavLink><span><img width="24" src="/assets/icons/angry.svg" alt=""></span></a>
        <ng-template ngbNavContent>
            <div style="height: 25rem; overflow: hidden; overflow-y: visible">

            <div *ngFor="let user of angryArray" class="d-flex justify-content-start align-items-center mt-1">
                <div class="avatar mr-75">
                    <img [routerLink]="['/profile/', user?.id]" [src]="user?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + user?.avatar : '/assets/images/avatars/placeholder.jpg'" alt="" height="40" width="40" />
                </div>
                <div class="profile-user-info">
                    <h6 class="mb-0"><a [routerLink]="['/profile/', user?.id]">{{ user?.first_name + ' ' + (user?.last_name || '') }}</a></h6>
                    <small class="text-muted text-capitalize">{{user?.account_type?.name}}</small>
                </div>
                <app-follow-btn class="ml-auto" style="padding-bottom: 10px" [type]="'circle-sm'" [user]="user"></app-follow-btn>
            </div>
            </div>
        </ng-template>
    </li>
</ul>
<div [ngbNavOutlet]="navWithIcons" class="mt-2"></div>
