<div class="content-wrapper">
    <div class="content-body">
        <!-- content-header component -->

        <div id="user-profile">

            <!-- profile info section -->
            <section id="profile-info">
                <div  [ngClass]="{'d-flex align-items-center justify-content-center': type == 'share', 'row': type != 'share'}">
                    <!-- left profile info section -->
                    <div *ngIf="type != 'share'" class="col-lg-3 col-12 order-2 order-lg-1">


                    </div>
                    <!--/ left profile info section -->
                    <!-- center profile info section -->
                    <div class="w-100" [ngClass]="{'col-lg-6 col-12 order-1 order-lg-2': type != 'share'}">


                   <!-- s-->
                   <div *ngIf="loading" class="card">
                       <div class="card-body">
                           <div class="d-flex justify-content-start align-items-center mb-1">
                               <!-- avatar -->
                               <div class="avatar mr-1">
                                   <p-skeleton shape="circle" size="4rem" styleClass="p-mr-2"></p-skeleton>
                               </div>
                               <!--/ avatar -->
                               <div class="profile-user-info">
                                   <p-skeleton width="10rem" styleClass="mb-0"></p-skeleton>
                                   <p-skeleton width="5rem" height="0.8rem" styleClass="mt-1"></p-skeleton>
                               </div>

                           </div>
                           <p class="card-text">
                               <p-skeleton width="100%" height="150px"></p-skeleton>

                           </p>
                           <!-- like share -->

                           <div class="d-flex justify-content-around">
                               <div>
                                   <p-skeleton width="8rem" height="30px" styleClass="mb-0"></p-skeleton>
                               </div>
                               <div>
                                   <p-skeleton width="8rem" height="30px" styleClass="mb-0"></p-skeleton>
                               </div>
                               <div>
                                   <p-skeleton width="8rem" height="30px" styleClass="mb-0"></p-skeleton>

                               </div>
                           </div>
                           <!-- like share -->





                       </div>
                   </div>
                   <!-- /s-->



                        <ng-template  [ngIf]="post && !loading">
                            <app-post [type]="type" (onPostDelete)="deletePost($event)" [loadAll]="type != 'share'" [data]="post"></app-post>
                        </ng-template>

                        <ng-template [ngIf]="error">
                            <div class="card p-2 d-flex align-items-center justify-content-center flex-column">
                                <img src="/assets/icons/notfound.svg" width="128" alt="">
                                <h2 class="mt-1">Post Not Found</h2>
                            </div>
                        </ng-template>


                    </div>
                    <!--/ center profile info section -->


                    <!-- right profile info section -->
                    <div *ngIf="type != 'share'" class="col-lg-3 col-12 order-3">

                    </div>
                    <!--/ right profile info section -->
                </div>


            </section>
            <!--/ profile info section -->
        </div>


    </div>



</div>
