
<div class="card">

    <div *ngIf="loading" class="d-flex justify-content-center align-items-center card-body">
        <i class="fa fa-2x fa-spin fa-circle-o-notch"></i>
    </div>

    <div *ngIf="!loading" class="card-body">
        <div *ngIf="message == 'private'">
            Account is private
        </div>
        <div *ngIf="!message && data.length == 0">
            Empty
        </div>
        <div *ngFor="let user of data" class="d-flex justify-content-start align-items-center mt-1">
            <div class="avatar mr-75">
                <img [routerLink]="['/profile/', user?.id]" [src]="user?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + user?.avatar : '/assets/images/avatars/placeholder.jpg'" alt="" height="40" width="40" />
            </div>
            <div class="profile-user-info">
                <h6 class="mb-0"><a [routerLink]="['/profile/', user?.id]">{{ user?.first_name + ' ' + (user?.last_name || '') }}</a></h6>
                <small class="text-muted text-capitalize">{{user?.account_type?.name}}</small>
            </div>
            <app-follow-btn class="ml-auto" [type]="'circle-sm'" [user]="user"></app-follow-btn>
        </div>
    </div>
</div>
