<li (click)="openNotification()" ngbDropdown #myDrop="ngbDropdown" class="nav-item dropdown-notification mr-25">
  <a class="nav-link" ngbDropdownToggle id="navbarNotificationDropdown"
    ><i class="ficon" data-feather="message-circle"></i
    ><span *ngIf="contact?.not_read_contacts?.length" class="badge badge-pill badge-danger badge-up">{{
    contact.not_read_contacts?.length
    }}</span></a
  >
  <ul
          (click)="$event.stopPropagation()"
    ngbDropdownMenu
    aria-labelledby="navbarNotificationDropdown"
    class="dropdown-menu dropdown-menu-media dropdown-menu-right"
  >

    <!-- Notifications header -->
    <li class="dropdown-menu-header">
      <div class="dropdown-header d-flex">
        <h4 class="notification-title mb-0 mr-auto">Messages</h4>
<!--        <div class="badge badge-pill badge-light-primary">-->
<!--          {{ auth?.notifications_count }} New-->
<!--        </div>-->
      </div>
    </li>
    <!--/ Notifications header -->



    <li *ngIf="loading" class="p-5 d-flex align-items-center justify-content-center">
      <i class="fa fa-spin fa-2x fa-circle-o-notch"></i>
    </li>


    <!-- Notifications content -->
    <li *ngIf="!loading" class="scrollable-container media-list" [perfectScrollbar]>
      <div *ngIf="contact?.contacts.length == 0" class="d-flex media justify-content-center">
        Empty
      </div>
      <a  class="d-flex" href="javascript:void(0)" *ngFor="let contact of contact?.contacts">
        <div class="media flex-column" [ngClass]="{'notification-new': !contact.message.seen && contact.message.from_id != auth.user.id && contact.message_id}">
         <div class="d-flex align-items-center w-100">
           <div class="media-left">
             <div (click)="myDrop.close();" [routerLink]="['/profile', contact?.to_user?.id]" class="avatar">
               <img [src]="contact?.to_user?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + contact?.to_user?.avatar : '/assets/images/avatars/placeholder.jpg'" alt="avatar" width="32" height="32" />
             </div>
           </div>
           <div (click)="myDrop.close();" [routerLink]="['/chat']" [queryParamsHandling]="'merge'" [queryParams]="{chat_id: contact.id}" class="media-body">
             <div class="font-weight-bold">{{ contact?.to_user?.first_name + ' ' + (contact?.to_user?.last_name || '') }}</div>
             <div class="text-muted">
               <span *ngIf="contact.message.type == 1">
                 {{ contact.message.text }}
               </span>
               <span *ngIf="contact.message.type == 2">
                 photo
               </span>
             </div>
           </div>
           <div class="ml-auto d-flex align-items-center">
             <div class="ml-auto" timeago [date]="contact?.last_message_time" [live]="true"></div>
           </div>
         </div>

        </div></a>
    </li>
    <!--/ Notifications content -->

    <!-- Notifications footer -->
<!--    <li class="dropdown-menu-footer">-->
<!--      <a class="btn btn-primary btn-block" (click)="readAll()" href="javascript:void(0)">View all notifications</a>-->
<!--    </li>-->
    <!--/ Notifications footer -->
  </ul>
</li>
