[v-cloak]>* {
    display: none;
}

[v-cloak]::before {
    content: " ";
    display: block;
    position: absolute;
    background: #fff;
    border-bottom: 1px solid #ececec;
    height: 50px;
    width: 100%;
}

body {
    background-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

.hash-menu-icon>a {
    position: relative;
    padding-right: 25px;
}

.hash-menu-icon>a:before {
    content: "\f19c";
    display: inline-block;
    font-family: icons-ibm-v12;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    right: 0;
    position: absolute;
    text-decoration: none;
    speak: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.menu {
    font-family: ibm-plex-sans, 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    /* font-weight: lighter; */
    display: flex;
    background: #fff;
    border-bottom: 1px solid #ececec;
    height: 50px;
    position: relative;
    z-index: 100;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.menu-items {
    display: flex;
}

.menu-items-right {
    margin-left: auto;
    margin-right: 10px;
}

.menu-item {
    margin: 0 0 0 25px;
    padding: 0;
}

.logo {}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
    transition: .3s color;
    box-sizing: border-box;
    color: #323232;
    cursor: pointer;
    height: 50px;
}

.logo a:after {
    background: #3b6caa;
    bottom: 4px;
    content: '';
    display: block;
    height: 0px;
    left: 0;
    position: absolute;
    -webkit-transform: translate3d(0, 4px, 0);
    transform: translate3d(0, 4px, 0);
    -webkit-transition: -webkit-transform .4s cubic-bezier(.4, 1, .4, 1);
    transition: -webkit-transform .4s cubic-bezier(.4, 1, .4, 1);
    transition: transform .4s cubic-bezier(.4, 1, .4, 1);
    transition: transform .4s cubic-bezier(.4, 1, .4, 1), -webkit-transform .4s cubic-bezier(.4, 1, .4, 1);
    width: 100%;
    transition: .3s all;
}

.logo a:hover:after {
    background: #3b6caa;
    bottom: 4px;
    content: '';
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    -webkit-transform: translate3d(0, 4px, 0);
    transform: translate3d(0, 4px, 0);
    -webkit-transition: -webkit-transform .4s cubic-bezier(.4, 1, .4, 1);
    transition: -webkit-transform .4s cubic-bezier(.4, 1, .4, 1);
    transition: transform .4s cubic-bezier(.4, 1, .4, 1);
    transition: transform .4s cubic-bezier(.4, 1, .4, 1), -webkit-transform .4s cubic-bezier(.4, 1, .4, 1);
    width: 100%;
    transition: .3s all;
}

.menu-item>a {
    text-decoration: none;
    position: relative;
    transition: .3s color;
    box-sizing: border-box;
    color: #323232;
    cursor: pointer;
    display: block;
    height: 42px;
    line-height: 42px;
}

.menu-item>a:after {
    background: #3b6caa;
    bottom: 0;
    content: '';
    display: block;
    height: 0px;
    left: 0;
    position: absolute;
    -webkit-transform: translate3d(0, 4px, 0);
    transform: translate3d(0, 4px, 0);
    -webkit-transition: -webkit-transform .4s cubic-bezier(.4, 1, .4, 1);
    transition: -webkit-transform .4s cubic-bezier(.4, 1, .4, 1);
    transition: transform .4s cubic-bezier(.4, 1, .4, 1);
    transition: transform .4s cubic-bezier(.4, 1, .4, 1), -webkit-transform .4s cubic-bezier(.4, 1, .4, 1);
    width: 100%;
    transition: .3s all;
}

.menu-item>a:hover {
    color: #3b6caa;
}

.menu-item:hover>a:after {
    background: #3b6caa;
    bottom: 0;
    content: '';
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    -webkit-transform: translate3d(0, 4px, 0);
    transform: translate3d(0, 4px, 0);
    -webkit-transition: -webkit-transform .4s cubic-bezier(.4, 1, .4, 1);
    transition: -webkit-transform .4s cubic-bezier(.4, 1, .4, 1);
    transition: transform .4s cubic-bezier(.4, 1, .4, 1);
    transition: transform .4s cubic-bezier(.4, 1, .4, 1), -webkit-transform .4s cubic-bezier(.4, 1, .4, 1);
    width: 100%;
    transition: .3s all;
}


.menu-active>a:after {
    background: #3b6caa;
    bottom: 0;
    content: '';
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    -webkit-transform: translate3d(0, 4px, 0);
    transform: translate3d(0, 4px, 0);
    -webkit-transition: -webkit-transform .4s cubic-bezier(.4, 1, .4, 1);
    transition: -webkit-transform .4s cubic-bezier(.4, 1, .4, 1);
    transition: transform .4s cubic-bezier(.4, 1, .4, 1);
    transition: transform .4s cubic-bezier(.4, 1, .4, 1), -webkit-transform .4s cubic-bezier(.4, 1, .4, 1);
    width: 100%;
    transition: .3s all;
}






@media only screen and (max-width: 768px) {


    .mb-hide {
        display: none;
    }

    .dropdown-content {
        position: relative !important;
        padding: 12px 0 !important;
        width: 100% !important;
    }

    .dropdown-content .content {
        padding: 0 16px !important;
    }

    .hash-menu:hover .dropdown-content {
        display: block;
        opacity: 1;
        animation-name: none !important;
    }

    .navbar-toggle {
        display: block !important;
    }

    .active {
        display: block;
        /* transition: .3s all; */
    }
}

.hash-menu:hover .dropdown-content {
    display: block;
    opacity: 1;
    animation-fill-mode: both;
    animation-name: view-init;
    animation-duration: .0s;

}

@keyframes view-init {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate(0, 54px);
    }
}


.dropdown-content {

    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* padding: 12px 16px; */
    margin: -4px 0;
    z-index: 1;
    top: 0;
    /* transition: all .3s ease-out; */
}

.menu-items-right .dropdown-content {
    cursor: pointer;

    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* padding: 12px 16px; */
    margin: -4px 0;
    z-index: 1;
    top: 0;
    right: 0;
    /* transition: all .3s ease-out; */
}


.dropdown-content .content .content-link {
    margin: 1px;
}

.dropdown-content .content .content-link a {
    padding: 10px;
    margin: 2px;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #323232;
}

.dropdown-content .content .content-link:hover {
    background-color: #3b6caa;
    color: #fff;
}

.dropdown-content .content .content-link:hover a {
    color: #fff;
}



.navbar-toggle {
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    font-size: 24px;
}








.megamenu-btn:hover .megamenu {
    /* max-height: 500px; */
    transition: all .3s ease-out;
}




.megamenu {
    /* max-height: 0; */
    /* max-height: 500px; */
    font-family: ibm-plex-sans, 'IBM Plex Sans', sans-serif;

    overflow: hidden;
    transition: all .3s ease-out;
    position: absolute;
    left: 0;
    top: 50px;
    height: 500px;
    width: 100%;
    background-color: #fff;
    display: flex;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    z-index: 80;

    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */

}

.megamenu-left {
    padding-top: 30px;
    margin-right: auto;
    background-color: #f4f4f4;
    width: 30%;
    display: flex;
    justify-content: center;
}

.megamenu-links {
    flex: 1;
    list-style: none;
    margin-left: 30%;
}

.megamenu-links li {
    position: relative;
}

.megamenu-links li a {
    padding: 8px;
}

.megamenu-links li:hover {
    background-color: #3674c5;
}


.megamenu-links li:hover a {
    color: #fff !important;
    font-weight: unset !important;
    transition: all .3s ease-out;
}

.megamenu-links li a:before {
    content: "\f1b3" !important;
    position: absolute;
    font-family: icons-ibm-v12;
    color: #fff;
    right: 15px;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    opacity: 0;
    transition: all .3s ease-out;
}

.megamenu-links li:hover a::before {
    opacity: 1;
    content: "\f1b3" !important;
    position: absolute;
    font-family: icons-ibm-v12 !important;
    color: #fff;
    right: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    transition: all .3s ease-out;
}


.megamenu-links li a {
    font-size: 20px;
    text-decoration: none;
    color: #323232;
    display: block;
    width: 100%;
    height: 100%;
}

/* .megamenu-links li a:focus {
    color: #3067af;
    font-weight: bold;
} */


.megamenu-right {
    margin-left: auto;
    background-color: #fff;
    /* flex-grow: 1; */
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-top: 30px;
}



.megamenu-right .megamenu-content-title a {
    font-size: 38px;
    text-decoration: none;
    color: #3067af;
}

.megamenu-right .megamenu-content-title a:hover {
    text-decoration: underline;
}

.megamenu-right .megamenu-content-body {
    display: flex;
    flex-direction: row;
    padding-right: 50px;
}

.megamenu-right .megamenu-content-body .left-content {
    width: 50%;
    color: #3f3f3f;
    padding-top: 10px;
}

.megamenu-right .megamenu-content-body .right-content {
    width: 50%;
    color: #3f3f3f;
    padding-top: 10px;


}





.close-mega-menu a {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -5px);
    font-size: 32px;
    color: #8a8a8a;
    background-color: transparent;
    text-decoration: none;
}

.close-mega-menu a:hover {
    color: #3067af;
}


.showMegaMenu-enter-active,
.showMegaMenu-leave-active {
    /* max-height: 500px; */
    transform: translateY(0px);
    transition: all .3s;

    opacity: 1;

}

.showMegaMenu-enter,
.showMegaMenu-leave-to {
    transform: translateY(-500px);
    /* max-height: 0; */
    /* max-height: 500px; */
    opacity: 0;

}


.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active in <2.1.8 */
    {
    opacity: 0
}

.activeLink {
    color: #3067af !important;
    font-weight: bold;
}


.item-link {
    font-size: 20px;
    text-decoration: none;
    color: #3067af;
}

.item-link:hover {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.item-text {
    font-size: 20px;
    color: #323232;
    margin: 10px 0;
}

.chevron-up-link:before {
    content: "\f19f";
    font-family: icons-ibm-v12;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.menu-profile:before {
    content: "\f208";
    display: inline-block;
    font-family: icons-ibm-v12;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-decoration: none;
    speak: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.menu-bars:before {
    content: "\f142";
    display: inline-block;
    font-family: icons-ibm-v12;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-decoration: none;
    speak: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.menu-bars-item {
    margin-left: 0 !important;
    padding: 0 0 0 15px;
}

.navbar-toggle-active {
    color: #1b95e0 !important;
}

.mobilemenu-screen-active {
    display: block !important;
    z-index: 900;
}

.mobilemenu-screen {
    background: rgba(0, 0, 0, .5) 0 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    will-change: transform;
}

.mobile-menu-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 999;
    overflow: hidden;
    font-family: ibm-plex-sans, 'IBM Plex Sans', sans-serif;

}

.mobile-menu {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 350px;
}

@media only screen and (max-width: 320px) {
    .mobile-menu {
        width: 280px;
    }

}

.mobile-menu-tr-enter-active,
.mobile-menu-tr-leave-active {
    /* max-height: 500px; */
    transform: translateX(0);
    transition: all .3s;
    opacity: 1;

}

.mobile-menu-tr-enter,
.mobile-menu-tr-leave-to {
    transform: translateX(400px);
    opacity: 0;
}

.mobile-menu-top {
    display: flex;
    padding: 0 30px 0 0;
    height: 50px;
    border-bottom: 2px solid #000000;
    align-items: center;
}

.close-button {
    cursor: pointer;
    margin-left: auto;
}

.close-button:before {
    content: "\f1a1";
    display: inline-block;
    font-family: icons-ibm-v12;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-decoration: none;
    speak: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.close-button:hover {
    color: #3b6caa;
}

.mobile-menu-items>ul {
    list-style: none;
}


.mobile-menu-item {
    position: relative;
}

.mobile-menu-item a {
    padding: 15px;
}

.mobile-menu-item:hover {
    background-color: #3674c5;
}


.mobile-menu-item:hover a {
    color: #fff !important;
    font-weight: unset !important;
    transition: all .3s ease-out;
}

.mobile-menu-item a:before {
    content: "\f1b3" !important;
    position: absolute;
    font-family: icons-ibm-v12;
    color: #fff;
    right: 15px;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    opacity: 0;
    transition: all .3s ease-out;
}

.mobile-menu-item:hover a::before {
    opacity: 1;
    content: "\f1b3" !important;
    position: absolute;
    font-family: icons-ibm-v12 !important;
    color: #fff;
    right: 0;
    top: 50%;
    transform: translate(-20%, -50%);
    font-size: 24px;
    transition: all .3s ease-out;
}


.mobile-menu-item a {
    font-size: 20px;
    text-decoration: none;
    color: #323232;
    display: block;
    width: 100%;
    height: 100%;
}