@font-face {
    font-family: ibm-plex-sans;
    src: url(/fonts/ibmplexsans-light.woff2) format("woff2"), url(/fonts/ibmplexsans-light.woff) format("woff");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: ibm-plex-sans;
    src: url(/fonts/ibmplexsans-lightitalic.woff2) format("woff2"), url(/fonts/ibmplexsans-lightitalic.woff) format("woff");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: ibm-plex-sans;
    src: url(/fonts/ibmplexsans-regular.woff2) format("woff2"), url(/fonts/ibmplexsans-regular.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: ibm-plex-sans;
    src: url(/fonts/ibmplexsans-regularitalic.woff2) format("woff2"), url(/fonts/ibmplexsans-regularitalic.woff) format("woff");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: ibm-plex-sans;
    src: url(/fonts/ibmplexsans-medium.woff2) format("woff2"), url(/fonts/ibmplexsans-medium.woff) format("woff");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: ibm-plex-sans;
    src: url(/fonts/ibmplexsans-mediumitalic.woff2) format("woff2"), url(/fonts/ibmplexsans-mediumitalic.woff) format("woff");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: ibm-plex-sans;
    src: url(/fonts/ibmplexsans-semibold.woff2) format("woff2"), url(/fonts/ibmplexsans-semibold.woff) format("woff");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: ibm-plex-sans;
    src: url(/fonts/ibmplexsans-semibolditalic.woff2) format("woff2"), url(/fonts/ibmplexsans-semibolditalic.woff) format("woff");
    font-weight: 600;
    font-style: italic
}

@font-face {
    font-family: ibm-plex-sans;
    src: url(/fonts/ibmplexsans-bold.woff2) format("woff2"), url(/fonts/ibmplexsans-bold.woff) format("woff");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: ibm-plex-sans;
    src: url(/fonts/ibmplexsans-bolditalic.woff2) format("woff2"), url(/fonts/ibmplexsans-bolditalic.woff) format("woff");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: ibm-plex-serif;
    src: url(/fonts/ibmplexserif-light.woff2) format("woff2"), url(/fonts/ibmplexserif-light.woff) format("woff");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: ibm-plex-serif;
    src: url(/fonts/ibmplexserif-lightitalic.woff2) format("woff2"), url(/fonts/ibmplexserif-lightitalic.woff) format("woff");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: ibm-plex-serif;
    src: url(/fonts/ibmplexserif-regular.woff2) format("woff2"), url(/fonts/ibmplexserif-regular.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: ibm-plex-serif;
    src: url(/fonts/ibmplexserif-regularitalic.woff2) format("woff2"), url(/fonts/ibmplexserif-regularitalic.woff) format("woff");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: ibm-plex-serif;
    src: url(/fonts/ibmplexserif-medium.woff2) format("woff2"), url(/fonts/ibmplexserif-medium.woff) format("woff");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: ibm-plex-serif;
    src: url(/fonts/ibmplexserif-mediumitalic.woff2) format("woff2"), url(/fonts/ibmplexserif-mediumitalic.woff) format("woff");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: ibm-plex-serif;
    src: url(/fonts/ibmplexserif-semibold.woff2) format("woff2"), url(/fonts/ibmplexserif-semibold.woff) format("woff");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: ibm-plex-serif;
    src: url(/fonts/ibmplexserif-semibolditalic.woff2) format("woff2"), url(/fonts/ibmplexserif-semibolditalic.woff) format("woff");
    font-weight: 600;
    font-style: italic
}

@font-face {
    font-family: ibm-plex-serif;
    src: url(/fonts/ibmplexserif-bold.woff2) format("woff2"), url(/fonts/ibmplexserif-bold.woff) format("woff");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: ibm-plex-serif;
    src: url(/fonts/ibmplexserif-bolditalic.woff2) format("woff2"), url(/fonts/ibmplexserif-bolditalic.woff) format("woff");
    font-weight: 700;
    font-style: italic
}

/*
	Do not attempt to copy, install or redistribute 
    these fonts.
    me: ok 😁😊
*/
@font-face {
    font-family: icons-ibm-v12;
    src: url(/fonts/icons-ibm-v12.eot);
    src: url(/fonts/icons-ibm-v12.woff) format("woff"), url(/fonts/icons-ibm-v12.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}