<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="ibm.css">
    <link rel="stylesheet" href="app.css">
</head>

<body>

    <header id="menu" v-cloak>
        <nav class="menu">

            <!-- Logo is here -->
            <div class="logo"><a :href="logo.href"><img :src="logo.src" :width="logo.width" :alt="logo.alt"></a></div>


            <!-- Navbar Items are here -->
            <nav class="menu-items">
                <template v-for="item in items">

                </template>

                <div v-for="item, index in items" class="menu-item mb-hide"
                    :class="{'hash-menu-icon': item.hasIcon, 'hash-menu': item.hasChildren, 'menu-active': index == activeMenu}">
                    <!-- simple-menu -->
                    <template v-if="item.type == 'simple-menu'">
                        <a @mouseover="showMegaMenu = false; activeMenu = null;"
                            class="chevron bottom">{{item.text}}</a>
                        <div v-if="item.hasChildren" class="dropdown-content">
                            <div class="content">
                                <div class="content-link" v-for="subitem in item.children">
                                    <a :href="subitem.href">
                                        {{ subitem.text }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </template>

                    <!-- link -->
                    <template v-if="item.type == 'link'">
                        <a @mouseover="showMegaMenu = false; activeMenu = null;" :href="item.href">{{ item.text }}</a>
                    </template>

                    <!-- mega-menu -->
                    <template v-if="item.type == 'mega-menu'">
                        <a @mouseleave="megamenuLeave()"
                            @mouseover="megaMenuData = item.megaMenuData; if (activeMenu != index) {activeMegaMenuItemsItem = 0; tabdata = megaMenuData.items[0].data} ;hovered = true; showMegaMenu = true; activeMenu = index;"
                            :href="item.href">{{ item.text }}</a>
                    </template>


                </div>

            </nav>
            <nav class="menu-items menu-items-right">
                <div class="menu-item hash-menu mb-hide"><a class="chevron bottom"><span
                            class="menu-profile"></span></a>
                    <div class="dropdown-content">
                        <div class="content">
                            <div class="content-link"><a href="#s1">
                                    Profile
                                </a></div>
                            <div class="content-link"><a href="#s2">
                                    Logout
                                </a></div>
                        </div>
                    </div>
                    <!---->
                    <!---->
                </div>
                <div class="menu-item menu-bars-item">
                    <a href="#">
                        <span :class="{'navbar-toggle-active': mobileNavOpen}" @click="mobileNavOpen = !mobileNavOpen">
                            <i class="menu-bars"></i>
                    </a>
                    </span>
                </div>
            </nav>

        </nav>

        <!-- megamenu -->
        <transition name="showMegaMenu">
            <div v-if="showMegaMenu" @mouseover="hovered = true;" @mouseleave="megamenuLeave()" class="megamenu">
                <div class="megamenu-left">
                    <ul class="megamenu-links">
                        <li v-for="item, index in megaMenuData.items"
                            @mouseover="activeMegaMenuItemsItem = index; tabdata = megaMenuData.items[index].data">
                            <a class="megamenu-items-link" :class="{'activeLink': activeMegaMenuItemsItem == index}"
                                :href="item.href">{{ item.text }}</a></li>
                    </ul>
                </div>
                <transition name="fade">
                    <div key="1" v-if="tabdata" class="megamenu-right">
                        <div class="megamenu-content-title">
                            <a :href="tabdata.title.href">{{ tabdata.title.text }}</a>
                        </div>
                        <div class="megamenu-content-body">
                            <div class="left-content">
                                <div v-for="item in tabdata.left">

                                    <!-- image -->
                                    <template v-if="item.type == 'image'">
                                        <img :src="item.src" :alt="item.alt">
                                    </template>

                                    <!-- link -->
                                    <template v-if="item.type == 'link'">
                                        <a class="item-link" :href="item.href">{{ item.text }}</a>
                                    </template>

                                    <!-- text -->
                                    <template v-if="item.type == 'text'">
                                        <div class="item-text" :class="{'bold': item.bold}">{{ item.text }}</div>
                                    </template>
                                </div>
                            </div>
                            <div class="right-content">
                                <div v-for="item in tabdata.right">
                                    <!-- image -->
                                    <template v-if="item.type == 'image'">
                                        <img :src="item.src" :alt="item.alt">
                                    </template>

                                    <!-- link -->
                                    <template v-if="item.type == 'link'">
                                        <a class="item-link" :href="item.href">{{ item.text }}</a>
                                    </template>

                                    <!-- text -->
                                    <template v-if="item.type == 'text'">
                                        <div class="item-text" :class="{'bold': item.bold}">{{ item.text }}</div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </transition>
                <div class="close-mega-menu">
                    <a @click="showMegaMenu = false; activeMenu = null;"><span class="chevron-up-link"></span></a>
                </div>

            </div>
        </transition>

        <div @click="mobileNavOpen = false" :class="{'mobilemenu-screen-active': mobileNavOpen}"
            class="mobilemenu-screen"></div>
        <div class="mobile-menu-container">
            <transition key="8" name="mobile-menu-tr">
                <div v-if="mobileNavOpen" class="mobile-menu">
                    <div class="mobile-menu-top">
                        <span class="close-button" @click="mobileNavOpen = false"></span>
                    </div>
                    <div class="mobile-menu-items">
                        <ul>
                            <li v-for="item in mobileMenuItems" class="mobile-menu-item">
                                <a :href="item.href">{{ item.text }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </transition>
        </div>


    </header>



    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script src="app.js"></script>
</body>

</html>