<script>
    import Skeleton from 'svelte-skeleton'
    import Swal from "sweetalert2";
    import {addVaultBalance, getAdminHolisticView, getVaultBalance, withdrawVaultBalance} from '../../backend/adminActions';
    import {onMount} from 'svelte';
    import {balance} from '../../stores/AdminStores/balanceStore'
    import { authInfo } from '../../stores/auth';
    import { navigate } from 'svelte-routing';
    import { fade, fly } from 'svelte/transition';

    // console.log(number.toLocaleString('ar-IQ', { style: 'currency', currency: 'IQD' }));

    // console.log(number.toLocaleString('us-US', { style: 'currency', currency: 'IQD' }));

    let is_loading = false;

    function addBalance() {
        Swal.fire({
            title: "ادخل كمية الرصيد المراد اضافتها",
            icon: "question",
            iconHtml: "؟",
            confirmButtonText: "اضافة",
            cancelButtonText: "الغاء",
            input: "text",
            showCancelButton: true,
            showCloseButton: true,
            preConfirm: (data) => {
                Swal.showLoading();
                return addVaultBalance(parseInt(data))
                    .then((response) => {
                        return response;
                    })
                    .catch((error) => {
                        console.log(error);
                        Swal.showValidationMessage(`فشلت العملية`);
                    });
            },
        }).then((result) => {
            if (result.value) {
                load();
                Swal.fire("تمت العملية بنجاح", "", "success");
            }
        });

    }


    function withdrawBalance() {
        Swal.fire({
            title: "ادخل كمية الرصيد المراد سحبها",
            icon: "question",
            iconHtml: "؟",
            confirmButtonText: "سحب",
            cancelButtonText: "الغاء",
            input: "text",
            showCancelButton: true,
            showCloseButton: true,
            preConfirm: (data) => {
                Swal.showLoading();
                return withdrawVaultBalance(parseInt(data))
                    .then((response) => {
                        return response;
                    })
                    .catch((error) => {
                        console.log(error);
                        Swal.showValidationMessage(`فشلت العملية`);
                    });
            },
        }).then((result) => {
            if (result.value) {
                load();
                Swal.fire("تمت العملية بنجاح", "", "success");
            }
        });
    }

    function load() {
        is_loading = true;
        getVaultBalance().then(resp => {
            console.log(resp)
            $balance = resp.data.balance ?? 0;
            is_loading = false;
        });
    }

    onMount(() => {
        if ($authInfo['role'] != 'ADMIN') {
            navigate('/accessDenied');
            return;
        }
        // getAdminHolisticView().then();
        load();
    });
</script>

<style>
    .custom-card {
        margin-top: 100px;
        position: relative;
        background-color: #ffffff;
        box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15) !important;
        border-radius: 8px;
        height: 400px;
        width: 600px;
    }

    .card-logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .card-details {
        padding-top: 80px;
    }
</style>

<div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div in:fly="{{ y: 50, duration: 1000 }}" class="custom-card">
                <img class="card-logo" src="/assets/img/logo.svg" width="100px" alt="">
                <div class="card-details d-flex justify-content-center align-items-center flex-column">
                    <h1>رصيد الخزنة</h1>
                    {#if !is_loading}
                    <h1 class="pt-3">{$balance.toLocaleString('us-US', { style: 'currency', currency: 'IQD' })}</h1>
                    {:else}
                    <div class="pt-3">
                        <Skeleton height="35" width="360">
                            <rect width="200" height="10" x="80" y="5" rx="5" ry="5" />
                            </Skeleton>
                    </div>
                    {/if}
                    
                    
                    <div class="pt-4 d-flex flex-column">
                        <button on:click={addBalance} class="btn btn-primary m-1 w-100">اضافة رصيد الى الخزنة</button>
                        <button on:click={withdrawBalance} class="btn btn-light m-1 w-100">سحب رصيد من الخزنة</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>