<script>
        import { fade, fly } from "svelte/transition";
        import Skeleton from 'svelte-skeleton'

        export let data_type;
        export let data;
        export let title;
        export let is_loading;
        export let icon;
</script>

<style>
    .custom-card {
        margin-top: 100px;
        position: relative;
        background-color: #ffffff;
        box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15) !important;
        border-radius: 8px;
        height: 400px;
        width: 600px;
    }

    .card-logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .card-details {
        padding-top: 60px;
        padding-bottom: 50px;
    }
</style>
<div in:fly={{ y: 50, duration: 1000 }} class="col-12 col-sm-12 col-md-4 mt-3 pt-5">
    <div class="card h-100 lift">
            <i
                class="card-logo fa fa-4x {icon} text-primary mb-3" />
        <div
            class="card-details card-body  d-flex flex-column justify-content-center">
            <div class="row align-items-center">
                <div class="col-xl-8 col-xxl-12">
               
                    <div
                        class="text-center text-xl-left text-xxl-center px-4 mb-4 mb-xl-0 mb-xxl-4">
                        {#if is_loading}
                            <Skeleton height="35" width="360">
                                <rect width="200" height="10" x="50" y="5" rx="5" ry="5" />
                            </Skeleton>
                        
                        {:else}
                        <h1 class="text-primary">
                            {title}
                        </h1>
                        {/if}
                       
                        <p class="text-gray-700 mb-0">
                            {#if is_loading}
                            <Skeleton height="35" width="360">
                                <rect width="100" height="10" x="100" y="5" rx="5" ry="5" />
                            </Skeleton>
                        
                        {:else}
                            {#if data_type == 'money'}
                            <h2>
                                {parseInt(data).toLocaleString(
                                    'us-US',
                                    {
                                        style: 'currency',
                                        currency: 'IQD',
                                        minimumFractionDigits: 0,
                                    }
                                )}
                            </h2>
                            {:else}
                                <h2>{data}</h2>
                            {/if}
                        {/if}
                            
                        </p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>