<script>
    import Select from "svelte-select";
    import { onMount, onDestroy } from "svelte";
    import { fade } from "svelte/transition";
    import Swal from "sweetalert2";
    import { allMerchants } from "../../stores/DataStores/merchantStore";
    import { allDrivers } from "../../stores/DataStores/driverStore";
    import { allDestinations } from "../../stores/DataStores/destinationStore";
    import Skeleton from 'svelte-skeleton'

    import { getMerchants, getDrivers, getDestinations, createOrder } from "../../backend/dataActions";
    import { authInfo } from "../../stores/auth";
    import { navigate } from "svelte-routing";

   
    let is_loading = false;

    let data = {
        sender: null,
        handler: null,
        receiver: '',
        receiver_address: '',
        receiver_phone: '',
        receiver_phone1: '',
        destination: null,
        express: false,
        cash: false,
        total: null,
        delivery_cost: null,
        comment: '',
        code: '',
    }
  
    let showValidation = false;
    let validationError;
    $: validationError = data.total <= 0 || !selectedMerchant || !selectedDriver || !selectedDestination;

    let selectedMerchant = null;
    let selectedDriver = null;
    let selectedDestination = null;

    async function load() {
        try {
            is_loading = true;
            $allMerchants = (await getMerchants()).data;
            $allDrivers = (await getDrivers()).data;
            $allDestinations = (await getDestinations()).data;
            is_loading = false;
            
        } catch (error) {
            console.log(error);
            Swal.fire("فشل تحميل البيانات", "", "error");

        } 

    }


    onMount(() => {
        if ($authInfo['role'] != 'DATA') {
            navigate('/accessDenied');
            return;
        }
        load();
    });

    onDestroy(() => {

    });

    function create() {
        showValidation = true;

        if (validationError) {
            window.scroll({ top: 0, behavior: 'smooth' }); // 👈
            return;
        }
        
        data.sender = selectedMerchant.pk;
        data.handler = selectedDriver.pk;
        data.destination = selectedDestination.pk;

        Swal.fire({
            title: "هل انت متأكد من اضافة الطلب؟",
            icon: "question",
            iconHtml: "؟",
            confirmButtonText: "اضافة",
            cancelButtonText: "الغاء",
            showCancelButton: true,
            showCloseButton: true,
            preConfirm: () => {
                Swal.showLoading();
                return createOrder(data)
                    .then((response) => {
                        return response;
                    })
                    .catch((error) => {
                        console.log(error);
                        Swal.fire("فشلت العملية", "", "error");
                    });
            },
        }).then((result) => {
            if (result.value) {
                Swal.fire("تمت العملية بنجاح", "", "success");
                reset();
            }
        });
    }

    function reset() {
        showValidation = false;
        selectedMerchant = null;
        selectedDriver = null;
        selectedDestination = null;
        data = {
            sender: null,
            handler: null,
            receiver: '',
            receiver_address: '',
            receiver_phone: '',
            receiver_phone1: '',
            destination: null,
            express: false,
            cash: false,
            total: null,
            delivery_cost: null,
            comment: '',
            code: '',
        }
    }

   
    function handleMerchantSelect(event) {
        selectedMerchant = event.detail;
    }

    function handleDriverSelect(event) {
        selectedDriver = event.detail;
    }
    
    function handleDestinationSelect(event) {
        selectedDestination = event.detail;
    }
</script>

<header
    in:fade
    class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10"
    style="">
    <div class="container">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-end">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <span class="m-2">اضافة طلبات</span>
                        <div class="page-header-icon">
                            <i class="fa fa-cart-plus" />
                        </div>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>
    <div in:fade class="container mt-n5">
        <div class="card">
            <div class="card-header">اضافة طلب</div>
            {#if !is_loading}
            <div class="card-body">

                {#if validationError && showValidation}
                    <div
                        class="alert alert-warning alert-solid rtl text-right"
                        role="alert">
                        يرجى التأكد من ملئ البيانات بشكل صحيح
                    </div>
                {/if}
                <div>

                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                           المرسل:
                        </div>
                        <div class="col-lg-9 col-xl-4">
                            <Select
                                optionIdentifier={'pk'}
                                getOptionLabel={(option) => option.name}
                                getSelectionLabel={(option) => option.name}
                                showChevron={true}
                                items={$allMerchants}
                                selectedValue={selectedMerchant}
                                on:select={handleMerchantSelect} />
                        </div>
                    </div>


                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            السائق:
                        </div>
                        <div class="col-lg-9 col-xl-4">
                             <Select
                                optionIdentifier={'pk'}
                                getOptionLabel={(option) => option.name}
                                getSelectionLabel={(option) => option.name}
                                showChevron={true}
                                items={$allDrivers}
                                selectedValue={selectedDriver}
                                on:select={handleDriverSelect} />
                        </div>
                    </div>

                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                           المستلم:
                        </div>
                        <div class="col-lg-9 col-xl-4 rtl">
                            <input
                                bind:value="{data.receiver}"
                                type="text"
                                class="form-control" />
                        </div>
                    </div> 
                    
                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                           عنوان المستلم:
                        </div>
                        <div class="col-lg-9 col-xl-4 rtl">
                            <input
                                bind:value="{data.receiver_address}"
                                type="text"
                                class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                           رقم المستلم 1:
                        </div>
                        <div class="col-lg-9 col-xl-4 rtl">
                            <input
                                bind:value="{data.receiver_phone}"
                                type="text"
                                class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                           رقم المستلم 2:
                        </div>
                        <div class="col-lg-9 col-xl-4 rtl">
                            <input
                                bind:value="{data.receiver_phone1}"
                                type="text"
                                class="form-control" />
                        </div>
                    </div>


                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            المكان:
                        </div>
                        <div class="col-lg-9 col-xl-4">
                              <Select
                                optionIdentifier={'pk'}
                                getOptionLabel={(option) => option.destination}
                                getSelectionLabel={(option) => option.destination}
                                showChevron={true}
                                items={$allDestinations}
                                selectedValue={selectedDestination}
                                on:select={handleDestinationSelect} />
                        </div>
                    </div>

                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            Express:
                        </div>
                        <div class="col-lg-9 col-xl-4 rtl">
                            <div class="d-flex">
                                <label class="mlo-switch">
                                    <input type="checkbox" bind:checked="{data.express}">
                                    <span class="mlo-slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            دفع نقدي:
                        </div>
                        <div class="col-lg-9 col-xl-4 rtl"> 
                            <div class="d-flex">
                                <label class="mlo-switch">
                                    <input type="checkbox" bind:checked="{data.cash}">
                                    <span class="mlo-slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            كمية المبلغ:
                        </div>
                        <div class="col-lg-9 col-xl-4 rtl">
                            <input
                                min="0"
                                bind:value="{data.total}"
                                type="number"
                                class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            اجرة النقل:
                        </div>
                        <div class="col-lg-9 col-xl-4 rtl">
                            <input
                                min="0"
                                bind:value="{data.delivery_cost}"
                                type="number"
                                class="form-control" />
                        </div>
                    </div>



                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            الرمز:
                        </div>
                        <div class="col-lg-9 col-xl-4 rtl">
                            <input
                                bind:value="{data.code}"
                                type="text"
                                class="form-control" />
                        </div>
                    </div>


                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            نوع المحتوى:
                        </div>
                        <div class="col-lg-9 col-xl-4 rtl">
                            <textarea
                                bind:value="{data.comment}"
                                class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-lg-9">
                        <button
                            on:click={create}
                            class="btn btn-primary font-weight-bold mr-2">اضافة</button>
                    </div>
                    <div class="col-lg-3" />
                </div>
            </div>
            {:else}
            <div class="card-body">
                <div>
                   <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            <Skeleton height="10" width="65">
                                <rect width="65" height="10" x="0" y="0" rx="5" ry="5" />
                                </Skeleton>
                        </div>
                        <div class="col-lg-9 col-xl-4 d-flex align-items-center justify-content-end">
                            <Skeleton height="10" width="200">
                                <rect width="200" height="10" x="0" y="0" rx="5" ry="5" />
                                </Skeleton>
                        </div>
                    </div>


                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            <Skeleton height="10" width="65">
                                <rect width="65" height="10" x="0" y="0" rx="5" ry="5" />
                                </Skeleton>
                        </div>
                        <div class="col-lg-9 col-xl-4 d-flex align-items-center justify-content-end">
                            <Skeleton height="10" width="200">
                                <rect width="200" height="10" x="0" y="0" rx="5" ry="5" />
                                </Skeleton>
                        </div>
                    </div>

 
                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            <Skeleton height="10" width="65">
                                <rect width="65" height="10" x="0" y="0" rx="5" ry="5" />
                                </Skeleton>
                        </div>
                        <div class="col-lg-9 col-xl-4 d-flex align-items-center justify-content-end">
                            <Skeleton height="10" width="200">
                                <rect width="200" height="10" x="0" y="0" rx="5" ry="5" />
                                </Skeleton>
                        </div>
                    </div>

                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            <Skeleton height="10" width="65">
                                <rect width="65" height="10" x="0" y="0" rx="5" ry="5" />
                                </Skeleton>
                        </div>
                        <div class="col-lg-9 col-xl-4 d-flex align-items-center justify-content-end">
                            <Skeleton height="10" width="200">
                                <rect width="200" height="10" x="0" y="0" rx="5" ry="5" />
                                </Skeleton>
                        </div>
                    </div>


              
              
              
              
                </div>
            </div>
            {/if}
        </div>
    </div>
