.error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -15rem;
    }
}


.profile {
    margin: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /*overflow: hidden;*/
    background-color: rgb(218, 218, 218);
    padding: 20px;
}

.profile .avatar > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
