<script>
import { navigate } from "svelte-routing";
import { fade, fly } from 'svelte/transition';


</script>

<style>
    .custom-card {
        margin-top: 100px;
        position: relative;
        background-color: #ffffff;
        box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15) !important;
        border-radius: 8px;
        height: 250px;
        width: 600px;
    }

    .card-logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .card-details {
        padding-top: 80px;
    }
</style>

<div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div in:fly="{{ y: 50, duration: 1000 }}" class="custom-card">
                <img class="card-logo" src="/assets/img/lock.svg" width="100px" alt="">
                <div class="card-details d-flex justify-content-center align-items-center flex-column">
                    <h1>لا تمتلك الصلاحية</h1>
                    <div class="pt-4 d-flex flex-column">
                        <button on:click="{() => navigate('/')}"  class="btn btn-light m-1 w-100">الذهاب للصفحة الرئيسية</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>