<script>
    import { fade } from "svelte/transition";
    import { onMount } from "svelte";
    import { expenseReasons } from "../stores/TreasurerStores/expenseReasonsStore";
    import { getBalance, getExpenseReasons } from "../backend/treasurerActions";
    import { authInfo } from "../stores/auth";
    import { navigate } from "svelte-routing";
    import {balance} from '../stores/TreasurerStores/balanceStore';

    onMount(() => {
        // feather.replace()
        switch ($authInfo["role"]) {
            case 'TREASURER':
                navigate("/profile");
                break;
            case 'DATA':
                navigate("/data");
                break;
            case 'ADMIN':
                navigate("/vault")
                break;
            case 'MERCHANT':
                navigate("/merchant/orders")
                break;
            case 'STAFF':
                navigate("/staff/orders")
                break;
            default:
                break;
        }
    });
</script>

<div>
    hello my uknown friend
</div>