<script>
    import Flatpickr from 'svelte-flatpickr'
    import {Line} from 'svelte-chartjs'
    import 'flatpickr/dist/flatpickr.css'
    import 'flatpickr/dist/themes/light.css'

    let date = null
    const flatpickrOptions = {
        //     mode: "range",
        //     minDate: "today",
        dateFormat: "d-m-Y",
        //
        // put into the component tag options="{ flatpickrOptions }"
    }

    function handleChange(event) {
        const [selectedDates, dateStr, ...rest] = event.detail;
        date = dateStr
        console.log({selectedDates, dateStr});
        console.log(date)
    }


    let dataLine = {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [
            {
                label: "My First dataset",
                fill: true,
                lineTension: 0.3,
                backgroundColor: "rgba(225, 204,230, .3)",
                borderColor: "rgb(205, 130, 158)",
                borderCapStyle: "butt",
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: "miter",
                pointBorderColor: "rgb(205, 130,1 58)",
                pointBackgroundColor: "rgb(255, 255, 255)",
                pointBorderWidth: 10,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgb(0, 0, 0)",
                pointHoverBorderColor: "rgba(220, 220, 220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: [65, 59, 80, 81, 56, 55, 40]
            },
            {
                label: "My Second dataset",
                fill: true,
                lineTension: 0.3,
                backgroundColor: "rgba(184, 185, 210, .3)",
                borderColor: "rgb(35, 26, 136)",
                borderCapStyle: "butt",
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: "miter",
                pointBorderColor: "rgb(35, 26, 136)",
                pointBackgroundColor: "rgb(255, 255, 255)",
                pointBorderWidth: 10,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgb(0, 0, 0)",
                pointHoverBorderColor: "rgba(220, 220, 220, 1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data: [28, 48, 40, 19, 86, 27, 90]
            }
        ]
    };

    import Bar from "svelte-chartjs/src/Bar.svelte"


  let data = {
    labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
    datasets: [
      {
        label: "% of Votes",
        data: [12, 19, 3, 5, 2, 3],
        backgroundColor: [
          "rgba(255, 134,159,0.4)",
          "rgba(98,  182, 239,0.4)",
          "rgba(255, 218, 128,0.4)",
          "rgba(113, 205, 205,0.4)",
          "rgba(170, 128, 252,0.4)",
          "rgba(255, 177, 101,0.4)"
        ],
        borderWidth: 2,
        borderColor: [
          "rgba(255, 134, 159, 1)",
          "rgba(98,  182, 239, 1)",
          "rgba(255, 218, 128, 1)",
          "rgba(113, 205, 205, 1)",
          "rgba(170, 128, 252, 1)",
          "rgba(255, 177, 101, 1)"
        ]
      }
    ]
  };

  let options = {
    responsive: true,
    scales: {
      xAxes: [
        {
          barPercentage: 1,
          gridLines: {
            display: true,
            color: "rgba(0, 0, 0, 0.1)"
          }
        }
      ],
      yAxes: [
        {
          gridLines: {
            display: true,
            color: "rgba(0, 0, 0, 0.1)"
          },
          ticks: {
            beginAtZero: true
          }
        }
      ]
    }
  }

</script>


<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i class="fa fa-tachometer-alt"></i></div>
                        Dashboard
                    </h1>
                    <div class="page-header-subtitle">An overview of the store performance</div>
                </div>
                <div class="col-12 col-xl-auto mt-4">
                    <Flatpickr
                            options="{ flatpickrOptions }"
                            on:change={handleChange}
                            element="#reportrange">
                        <div class="flatpickr" id="reportrange">
                            <button class="btn btn-white p-3" data-input>
                                <i class="mr-2 text-primary fa fa-calendar"></i>
                                <span>{date ? date : 'Select a date ... '}</span>
                                <i class="ml-1 fa fa-chevron-down"></i>
                            </button>
                            <!--                            <input type="text" placeholder="Select Date.." data-input>-->

                            <a class="input-button" title="clear" data-clear>
                                <i class="icon-close"></i>
                            </a>
                        </div>
                    </Flatpickr>
                    <!--                    <button class="btn btn-white p-3" id="reportrange">-->
                    <!--                        <i class="mr-2 text-primary fa fa-calendar"></i>-->
                    <!--                        <span></span>-->
                    <!--                        <i class="ml-1 fa fa-chevron-down"></i>-->
                    <!--                    </button>-->
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main page content-->
<div class="container mt-n10">
    <!--    <div class="row">-->
    <!--        <div class="col-xxl-4 col-xl-12 mb-4">-->
    <!--            <div class="card h-100">-->
    <!--                <div class="card-body h-100 d-flex flex-column justify-content-center py-5 py-xl-4">-->
    <!--                    <div class="row align-items-center">-->
    <!--                        <div class="col-xl-8 col-xxl-12">-->
    <!--                            <div class="text-center text-xl-left text-xxl-center px-4 mb-4 mb-xl-0 mb-xxl-4">-->
    <!--                                <h1 class="text-primary">Welcome to SB Admin Pro!</h1>-->
    <!--                                <p class="text-gray-700 mb-0">Browse our fully designed UI toolkit! Browse-->
    <!--                                    our prebuilt app pages, components, and utilites, and be sure to look at-->
    <!--                                    our full documentation!</p>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        <div class="col-xl-4 col-xxl-12 text-center"><img class="img-fluid"-->
    <!--                                                                          src="assets/img/illustrations/at-work.svg"-->
    <!--                                                                          style="max-width: 26rem"/></div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="col-xxl-4 col-xl-6 mb-4">-->
    <!--            <div class="card card-header-actions h-100">-->
    <!--                <div class="card-header">-->
    <!--                    Recent Activity-->
    <!--                    <div class="dropdown no-caret">-->
    <!--                        <button class="btn btn-transparent-dark btn-icon dropdown-toggle"-->
    <!--                                id="dropdownMenuButton" type="button" data-toggle="dropdown"-->
    <!--                                aria-haspopup="true" aria-expanded="false"><i class="text-gray-500"-->
    <!--                                                                              data-feather="more-vertical"></i>-->
    <!--                        </button>-->
    <!--                        <div class="dropdown-menu dropdown-menu-right animated&#45;&#45;fade-in-up"-->
    <!--                             aria-labelledby="dropdownMenuButton">-->
    <!--                            <h6 class="dropdown-header">Filter Activity:</h6>-->
    <!--                            <a class="dropdown-item" href="#!"><span-->
    <!--                                    class="badge badge-green-soft text-green my-1">Commerce</span></a>-->
    <!--                            <a class="dropdown-item" href="#!"><span-->
    <!--                                    class="badge badge-blue-soft text-blue my-1">Reporting</span></a>-->
    <!--                            <a class="dropdown-item" href="#!"><span-->
    <!--                                    class="badge badge-yellow-soft text-yellow my-1">Server</span></a>-->
    <!--                            <a class="dropdown-item" href="#!"><span-->
    <!--                                    class="badge badge-purple-soft text-purple my-1">Users</span></a>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="card-body">-->
    <!--                    <div class="timeline timeline-xs">-->
    <!--                        &lt;!&ndash; Timeline Item 1&ndash;&gt;-->
    <!--                        <div class="timeline-item">-->
    <!--                            <div class="timeline-item-marker">-->
    <!--                                <div class="timeline-item-marker-text">27 min</div>-->
    <!--                                <div class="timeline-item-marker-indicator bg-green"></div>-->
    <!--                            </div>-->
    <!--                            <div class="timeline-item-content">-->
    <!--                                New order placed!-->
    <!--                                <a class="font-weight-bold text-dark" href="#!">Order #2912</a>-->
    <!--                                has been successfully placed.-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        &lt;!&ndash; Timeline Item 2&ndash;&gt;-->
    <!--                        <div class="timeline-item">-->
    <!--                            <div class="timeline-item-marker">-->
    <!--                                <div class="timeline-item-marker-text">58 min</div>-->
    <!--                                <div class="timeline-item-marker-indicator bg-blue"></div>-->
    <!--                            </div>-->
    <!--                            <div class="timeline-item-content">-->
    <!--                                Your-->
    <!--                                <a class="font-weight-bold text-dark" href="#!">weekly report</a>-->
    <!--                                has been generated and is ready to view.-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        &lt;!&ndash; Timeline Item 3&ndash;&gt;-->
    <!--                        <div class="timeline-item">-->
    <!--                            <div class="timeline-item-marker">-->
    <!--                                <div class="timeline-item-marker-text">2 hrs</div>-->
    <!--                                <div class="timeline-item-marker-indicator bg-purple"></div>-->
    <!--                            </div>-->
    <!--                            <div class="timeline-item-content">-->
    <!--                                New user-->
    <!--                                <a class="font-weight-bold text-dark" href="#!">Valerie Luna</a>-->
    <!--                                has registered-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        &lt;!&ndash; Timeline Item 4&ndash;&gt;-->
    <!--                        <div class="timeline-item">-->
    <!--                            <div class="timeline-item-marker">-->
    <!--                                <div class="timeline-item-marker-text">1 day</div>-->
    <!--                                <div class="timeline-item-marker-indicator bg-yellow"></div>-->
    <!--                            </div>-->
    <!--                            <div class="timeline-item-content">Server activity monitor alert</div>-->
    <!--                        </div>-->
    <!--                        &lt;!&ndash; Timeline Item 5&ndash;&gt;-->
    <!--                        <div class="timeline-item">-->
    <!--                            <div class="timeline-item-marker">-->
    <!--                                <div class="timeline-item-marker-text">1 day</div>-->
    <!--                                <div class="timeline-item-marker-indicator bg-green"></div>-->
    <!--                            </div>-->
    <!--                            <div class="timeline-item-content">-->
    <!--                                New order placed!-->
    <!--                                <a class="font-weight-bold text-dark" href="#!">Order #2911</a>-->
    <!--                                has been successfully placed.-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        &lt;!&ndash; Timeline Item 6&ndash;&gt;-->
    <!--                        <div class="timeline-item">-->
    <!--                            <div class="timeline-item-marker">-->
    <!--                                <div class="timeline-item-marker-text">1 day</div>-->
    <!--                                <div class="timeline-item-marker-indicator bg-purple"></div>-->
    <!--                            </div>-->
    <!--                            <div class="timeline-item-content">-->
    <!--                                Details for-->
    <!--                                <a class="font-weight-bold text-dark" href="#!">Marketing and Planning-->
    <!--                                    Meeting</a>-->
    <!--                                have been updated.-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        &lt;!&ndash; Timeline Item 7&ndash;&gt;-->
    <!--                        <div class="timeline-item">-->
    <!--                            <div class="timeline-item-marker">-->
    <!--                                <div class="timeline-item-marker-text">2 days</div>-->
    <!--                                <div class="timeline-item-marker-indicator bg-green"></div>-->
    <!--                            </div>-->
    <!--                            <div class="timeline-item-content">-->
    <!--                                New order placed!-->
    <!--                                <a class="font-weight-bold text-dark" href="#!">Order #2910</a>-->
    <!--                                has been successfully placed.-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="col-xxl-4 col-xl-6 mb-4">-->
    <!--            <div class="card card-header-actions h-100">-->
    <!--                <div class="card-header">-->
    <!--                    Progress Tracker-->
    <!--                    <div class="dropdown no-caret">-->
    <!--                        <button class="btn btn-transparent-dark btn-icon dropdown-toggle"-->
    <!--                                id="dropdownMenuButton" type="button" data-toggle="dropdown"-->
    <!--                                aria-haspopup="true" aria-expanded="false"><i class="text-gray-500"-->
    <!--                                                                              data-feather="more-vertical"></i>-->
    <!--                        </button>-->
    <!--                        <div class="dropdown-menu dropdown-menu-right animated&#45;&#45;fade-in-up"-->
    <!--                             aria-labelledby="dropdownMenuButton">-->
    <!--                            <a class="dropdown-item" href="#!">-->
    <!--                                <div class="dropdown-item-icon"><i class="text-gray-500"-->
    <!--                                                                   data-feather="list"></i></div>-->
    <!--                                Manage Tasks-->
    <!--                            </a>-->
    <!--                            <a class="dropdown-item" href="#!">-->
    <!--                                <div class="dropdown-item-icon"><i class="text-gray-500"-->
    <!--                                                                   data-feather="plus-circle"></i></div>-->
    <!--                                Add New Task-->
    <!--                            </a>-->
    <!--                            <a class="dropdown-item" href="#!">-->
    <!--                                <div class="dropdown-item-icon"><i class="text-gray-500"-->
    <!--                                                                   data-feather="minus-circle"></i></div>-->
    <!--                                Delete Tasks-->
    <!--                            </a>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="card-body">-->
    <!--                    <h4 class="small">-->
    <!--                        Server Migration-->
    <!--                        <span class="float-right font-weight-bold">20%</span>-->
    <!--                    </h4>-->
    <!--                    <div class="progress mb-4">-->
    <!--                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%"-->
    <!--                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>-->
    <!--                    </div>-->
    <!--                    <h4 class="small">-->
    <!--                        Sales Tracking-->
    <!--                        <span class="float-right font-weight-bold">40%</span>-->
    <!--                    </h4>-->
    <!--                    <div class="progress mb-4">-->
    <!--                        <div class="progress-bar bg-warning" role="progressbar" style="width: 40%"-->
    <!--                             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>-->
    <!--                    </div>-->
    <!--                    <h4 class="small">-->
    <!--                        Customer Database-->
    <!--                        <span class="float-right font-weight-bold">60%</span>-->
    <!--                    </h4>-->
    <!--                    <div class="progress mb-4">-->
    <!--                        <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60"-->
    <!--                             aria-valuemin="0" aria-valuemax="100"></div>-->
    <!--                    </div>-->
    <!--                    <h4 class="small">-->
    <!--                        Payout Details-->
    <!--                        <span class="float-right font-weight-bold">80%</span>-->
    <!--                    </h4>-->
    <!--                    <div class="progress mb-4">-->
    <!--                        <div class="progress-bar bg-info" role="progressbar" style="width: 80%"-->
    <!--                             aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>-->
    <!--                    </div>-->
    <!--                    <h4 class="small">-->
    <!--                        Account Setup-->
    <!--                        <span class="float-right font-weight-bold">Complete!</span>-->
    <!--                    </h4>-->
    <!--                    <div class="progress">-->
    <!--                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%"-->
    <!--                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <a class="card-footer" href="#!">-->
    <!--                    <div class="d-flex align-items-center justify-content-between small text-body">-->
    <!--                        Visit Task Center-->
    <!--                        <i data-feather="arrow-right"></i>-->
    <!--                    </div>-->
    <!--                </a>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!-- Example Colored Cards for Dashboard Demo-->
    <div class="row">
        <div class="col-xxl-3 col-lg-6">
            <div class="card bg-secondary text-white mb-4">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mr-3">
                            <div class="text-white-75 small">Earnings (Monthly)</div>
                            <div class="text-lg font-weight-bold">$40,000</div>
                        </div>
                        <i class="feather-xl text-white-50" data-feather="calendar"></i>
                    </div>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Report</a>
                    <div class="small text-white"><i class="fa fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-lg-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mr-3">
                            <div class="text-white-75 small">Earnings (Annual)</div>
                            <div class="text-lg font-weight-bold">$215,000</div>
                        </div>
                        <i class="feather-xl text-white-50" data-feather="dollar-sign"></i>
                    </div>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Report</a>
                    <div class="small text-white"><i class="fa fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-lg-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mr-3">
                            <div class="text-white-75 small">Task Completion</div>
                            <div class="text-lg font-weight-bold">24</div>
                        </div>
                        <i class="feather-xl text-white-50" data-feather="check-square"></i>
                    </div>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Tasks</a>
                    <div class="small text-white"><i class="fa fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3 col-lg-6">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mr-3">
                            <div class="text-white-75 small">Pending Requests</div>
                            <div class="text-lg font-weight-bold">17</div>
                        </div>
                        <i class="feather-xl text-white-50" data-feather="message-circle"></i>
                    </div>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="#">View Requests</a>
                    <div class="small text-white"><i class="fa fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Example Charts for Dashboard Demo-->
    <div class="row">
        <div class="col-xl-6 mb-4">
            <div class="card card-header-actions h-100">
                <div class="card-header">
                    Earnings Breakdown
<!--                    <div class="dropdown no-caret">-->
<!--                        <button class="btn btn-transparent-dark btn-icon dropdown-toggle"-->
<!--                                id="areaChartDropdownExample" type="button" data-toggle="dropdown"-->
<!--                                aria-haspopup="true" aria-expanded="false"><i class="text-gray-500"-->
<!--                                                                              data-feather="more-vertical"></i>-->
<!--                        </button>-->
<!--                        <div class="dropdown-menu dropdown-menu-right animated&#45;&#45;fade-in-up"-->
<!--                             aria-labelledby="areaChartDropdownExample">-->
<!--                            <a class="dropdown-item" href="#!">Last 12 Months</a>-->
<!--                            <a class="dropdown-item" href="#!">Last 30 Days</a>-->
<!--                            <a class="dropdown-item" href="#!">Last 7 Days</a>-->
<!--                            <a class="dropdown-item" href="#!">This Month</a>-->
<!--                            <div class="dropdown-divider"></div>-->
<!--                            <a class="dropdown-item" href="#!">Custom Range</a>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                <div class="card-body">
                    <div class="chart-line">
                        <Line data={dataLine} options={{ responsive: true }}/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 mb-4">
            <div class="card card-header-actions h-100">
                <div class="card-header">
                    Monthly Revenue
<!--                    <div class="dropdown no-caret">-->
<!--                        <button class="btn btn-transparent-dark btn-icon dropdown-toggle"-->
<!--                                id="areaChartDropdownExample" type="button" data-toggle="dropdown"-->
<!--                                aria-haspopup="true" aria-expanded="false"><i class="text-gray-500"-->
<!--                                                                              data-feather="more-vertical"></i>-->
<!--                        </button>-->
<!--                        <div class="dropdown-menu dropdown-menu-right animated&#45;&#45;fade-in-up"-->
<!--                             aria-labelledby="areaChartDropdownExample">-->
<!--                            <a class="dropdown-item" href="#!">Last 12 Months</a>-->
<!--                            <a class="dropdown-item" href="#!">Last 30 Days</a>-->
<!--                            <a class="dropdown-item" href="#!">Last 7 Days</a>-->
<!--                            <a class="dropdown-item" href="#!">This Month</a>-->
<!--                            <div class="dropdown-divider"></div>-->
<!--                            <a class="dropdown-item" href="#!">Custom Range</a>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                <div class="card-body">
                    <div class="chart-bar">
                        <Bar {data} {options} />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Example DataTable for Dashboard Demo-->
    <!--    <div class="card mb-4">-->
    <!--        <div class="card-header">Personnel Management</div>-->
    <!--        <div class="card-body">-->
    <!--            <div class="datatable">-->
    <!--                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">-->
    <!--                    <thead>-->
    <!--                    <tr>-->
    <!--                        <th>Name</th>-->
    <!--                        <th>Position</th>-->
    <!--                        <th>Office</th>-->
    <!--                        <th>Age</th>-->
    <!--                        <th>Start date</th>-->
    <!--                        <th>Salary</th>-->
    <!--                        <th>Status</th>-->
    <!--                        <th>Actions</th>-->
    <!--                    </tr>-->
    <!--                    </thead>-->
    <!--                    <tfoot>-->
    <!--                    <tr>-->
    <!--                        <th>Name</th>-->
    <!--                        <th>Position</th>-->
    <!--                        <th>Office</th>-->
    <!--                        <th>Age</th>-->
    <!--                        <th>Start date</th>-->
    <!--                        <th>Salary</th>-->
    <!--                        <th>Status</th>-->
    <!--                        <th>Actions</th>-->
    <!--                    </tr>-->
    <!--                    </tfoot>-->
    <!--                    <tbody>-->
    <!--                    <tr>-->
    <!--                        <td>Tiger Nixon</td>-->
    <!--                        <td>System Architect</td>-->
    <!--                        <td>Edinburgh</td>-->
    <!--                        <td>61</td>-->
    <!--                        <td>2011/04/25</td>-->
    <!--                        <td>$320,800</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Garrett Winters</td>-->
    <!--                        <td>Accountant</td>-->
    <!--                        <td>Tokyo</td>-->
    <!--                        <td>63</td>-->
    <!--                        <td>2011/07/25</td>-->
    <!--                        <td>$170,750</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-warning badge-pill">Pending</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Ashton Cox</td>-->
    <!--                        <td>Junior Technical Author</td>-->
    <!--                        <td>San Francisco</td>-->
    <!--                        <td>66</td>-->
    <!--                        <td>2009/01/12</td>-->
    <!--                        <td>$86,000</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-secondary badge-pill">Part-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Cedric Kelly</td>-->
    <!--                        <td>Senior Javascript Developer</td>-->
    <!--                        <td>Edinburgh</td>-->
    <!--                        <td>22</td>-->
    <!--                        <td>2012/03/29</td>-->
    <!--                        <td>$433,060</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-info badge-pill">Contract</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Airi Satou</td>-->
    <!--                        <td>Accountant</td>-->
    <!--                        <td>Tokyo</td>-->
    <!--                        <td>33</td>-->
    <!--                        <td>2008/11/28</td>-->
    <!--                        <td>$162,700</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Brielle Williamson</td>-->
    <!--                        <td>Integration Specialist</td>-->
    <!--                        <td>New York</td>-->
    <!--                        <td>61</td>-->
    <!--                        <td>2012/12/02</td>-->
    <!--                        <td>$372,000</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Herrod Chandler</td>-->
    <!--                        <td>Sales Assistant</td>-->
    <!--                        <td>San Francisco</td>-->
    <!--                        <td>59</td>-->
    <!--                        <td>2012/08/06</td>-->
    <!--                        <td>$137,500</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Rhona Davidson</td>-->
    <!--                        <td>Integration Specialist</td>-->
    <!--                        <td>Tokyo</td>-->
    <!--                        <td>55</td>-->
    <!--                        <td>2010/10/14</td>-->
    <!--                        <td>$327,900</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Colleen Hurst</td>-->
    <!--                        <td>Javascript Developer</td>-->
    <!--                        <td>San Francisco</td>-->
    <!--                        <td>39</td>-->
    <!--                        <td>2009/09/15</td>-->
    <!--                        <td>$205,500</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-info badge-pill">Contract</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Sonya Frost</td>-->
    <!--                        <td>Software Engineer</td>-->
    <!--                        <td>Edinburgh</td>-->
    <!--                        <td>23</td>-->
    <!--                        <td>2008/12/13</td>-->
    <!--                        <td>$103,600</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Jena Gaines</td>-->
    <!--                        <td>Office Manager</td>-->
    <!--                        <td>London</td>-->
    <!--                        <td>30</td>-->
    <!--                        <td>2008/12/19</td>-->
    <!--                        <td>$90,560</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Quinn Flynn</td>-->
    <!--                        <td>Support Lead</td>-->
    <!--                        <td>Edinburgh</td>-->
    <!--                        <td>22</td>-->
    <!--                        <td>2013/03/03</td>-->
    <!--                        <td>$342,000</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Charde Marshall</td>-->
    <!--                        <td>Regional Director</td>-->
    <!--                        <td>San Francisco</td>-->
    <!--                        <td>36</td>-->
    <!--                        <td>2008/10/16</td>-->
    <!--                        <td>$470,600</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Haley Kennedy</td>-->
    <!--                        <td>Senior Marketing Designer</td>-->
    <!--                        <td>London</td>-->
    <!--                        <td>43</td>-->
    <!--                        <td>2012/12/18</td>-->
    <!--                        <td>$313,500</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Tatyana Fitzpatrick</td>-->
    <!--                        <td>Regional Director</td>-->
    <!--                        <td>London</td>-->
    <!--                        <td>19</td>-->
    <!--                        <td>2010/03/17</td>-->
    <!--                        <td>$385,750</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Michael Silva</td>-->
    <!--                        <td>Marketing Designer</td>-->
    <!--                        <td>London</td>-->
    <!--                        <td>66</td>-->
    <!--                        <td>2012/11/27</td>-->
    <!--                        <td>$198,500</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Paul Byrd</td>-->
    <!--                        <td>Chief Financial Officer (CFO)</td>-->
    <!--                        <td>New York</td>-->
    <!--                        <td>64</td>-->
    <!--                        <td>2010/06/09</td>-->
    <!--                        <td>$725,000</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Gloria Little</td>-->
    <!--                        <td>Systems Administrator</td>-->
    <!--                        <td>New York</td>-->
    <!--                        <td>59</td>-->
    <!--                        <td>2009/04/10</td>-->
    <!--                        <td>$237,500</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Bradley Greer</td>-->
    <!--                        <td>Software Engineer</td>-->
    <!--                        <td>London</td>-->
    <!--                        <td>41</td>-->
    <!--                        <td>2012/10/13</td>-->
    <!--                        <td>$132,000</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-warning badge-pill">Pending</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Dai Rios</td>-->
    <!--                        <td>Personnel Lead</td>-->
    <!--                        <td>Edinburgh</td>-->
    <!--                        <td>35</td>-->
    <!--                        <td>2012/09/26</td>-->
    <!--                        <td>$217,500</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Jenette Caldwell</td>-->
    <!--                        <td>Development Lead</td>-->
    <!--                        <td>New York</td>-->
    <!--                        <td>30</td>-->
    <!--                        <td>2011/09/03</td>-->
    <!--                        <td>$345,000</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Yuri Berry</td>-->
    <!--                        <td>Chief Marketing Officer (CMO)</td>-->
    <!--                        <td>New York</td>-->
    <!--                        <td>40</td>-->
    <!--                        <td>2009/06/25</td>-->
    <!--                        <td>$675,000</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Caesar Vance</td>-->
    <!--                        <td>Pre-Sales Support</td>-->
    <!--                        <td>New York</td>-->
    <!--                        <td>21</td>-->
    <!--                        <td>2011/12/12</td>-->
    <!--                        <td>$106,450</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-secondary badge-pill">Part-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Doris Wilder</td>-->
    <!--                        <td>Sales Assistant</td>-->
    <!--                        <td>Sidney</td>-->
    <!--                        <td>23</td>-->
    <!--                        <td>2010/09/20</td>-->
    <!--                        <td>$85,600</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Angelica Ramos</td>-->
    <!--                        <td>Chief Executive Officer (CEO)</td>-->
    <!--                        <td>London</td>-->
    <!--                        <td>47</td>-->
    <!--                        <td>2009/10/09</td>-->
    <!--                        <td>$1,200,000</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Gavin Joyce</td>-->
    <!--                        <td>Developer</td>-->
    <!--                        <td>Edinburgh</td>-->
    <!--                        <td>42</td>-->
    <!--                        <td>2010/12/22</td>-->
    <!--                        <td>$92,575</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Jennifer Chang</td>-->
    <!--                        <td>Regional Director</td>-->
    <!--                        <td>Singapore</td>-->
    <!--                        <td>28</td>-->
    <!--                        <td>2010/11/14</td>-->
    <!--                        <td>$357,650</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Brenden Wagner</td>-->
    <!--                        <td>Software Engineer</td>-->
    <!--                        <td>San Francisco</td>-->
    <!--                        <td>28</td>-->
    <!--                        <td>2011/06/07</td>-->
    <!--                        <td>$206,850</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Fiona Green</td>-->
    <!--                        <td>Chief Operating Officer (COO)</td>-->
    <!--                        <td>San Francisco</td>-->
    <!--                        <td>48</td>-->
    <!--                        <td>2010/03/11</td>-->
    <!--                        <td>$850,000</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Shou Itou</td>-->
    <!--                        <td>Regional Marketing</td>-->
    <!--                        <td>Tokyo</td>-->
    <!--                        <td>20</td>-->
    <!--                        <td>2011/08/14</td>-->
    <!--                        <td>$163,000</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Michelle House</td>-->
    <!--                        <td>Integration Specialist</td>-->
    <!--                        <td>Sidney</td>-->
    <!--                        <td>37</td>-->
    <!--                        <td>2011/06/02</td>-->
    <!--                        <td>$95,400</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Suki Burks</td>-->
    <!--                        <td>Developer</td>-->
    <!--                        <td>London</td>-->
    <!--                        <td>53</td>-->
    <!--                        <td>2009/10/22</td>-->
    <!--                        <td>$114,500</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Prescott Bartlett</td>-->
    <!--                        <td>Technical Author</td>-->
    <!--                        <td>London</td>-->
    <!--                        <td>27</td>-->
    <!--                        <td>2011/05/07</td>-->
    <!--                        <td>$145,000</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Gavin Cortez</td>-->
    <!--                        <td>Team Leader</td>-->
    <!--                        <td>San Francisco</td>-->
    <!--                        <td>22</td>-->
    <!--                        <td>2008/10/26</td>-->
    <!--                        <td>$235,500</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Martena Mccray</td>-->
    <!--                        <td>Post-Sales support</td>-->
    <!--                        <td>Edinburgh</td>-->
    <!--                        <td>46</td>-->
    <!--                        <td>2011/03/09</td>-->
    <!--                        <td>$324,050</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Unity Butler</td>-->
    <!--                        <td>Marketing Designer</td>-->
    <!--                        <td>San Francisco</td>-->
    <!--                        <td>47</td>-->
    <!--                        <td>2009/12/09</td>-->
    <!--                        <td>$85,675</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Howard Hatfield</td>-->
    <!--                        <td>Office Manager</td>-->
    <!--                        <td>San Francisco</td>-->
    <!--                        <td>51</td>-->
    <!--                        <td>2008/12/16</td>-->
    <!--                        <td>$164,500</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Hope Fuentes</td>-->
    <!--                        <td>Secretary</td>-->
    <!--                        <td>San Francisco</td>-->
    <!--                        <td>41</td>-->
    <!--                        <td>2010/02/12</td>-->
    <!--                        <td>$109,850</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Vivian Harrell</td>-->
    <!--                        <td>Financial Controller</td>-->
    <!--                        <td>San Francisco</td>-->
    <!--                        <td>62</td>-->
    <!--                        <td>2009/02/14</td>-->
    <!--                        <td>$452,500</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Timothy Mooney</td>-->
    <!--                        <td>Office Manager</td>-->
    <!--                        <td>London</td>-->
    <!--                        <td>37</td>-->
    <!--                        <td>2008/12/11</td>-->
    <!--                        <td>$136,200</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Jackson Bradshaw</td>-->
    <!--                        <td>Director</td>-->
    <!--                        <td>New York</td>-->
    <!--                        <td>65</td>-->
    <!--                        <td>2008/09/26</td>-->
    <!--                        <td>$645,750</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Olivia Liang</td>-->
    <!--                        <td>Support Engineer</td>-->
    <!--                        <td>Singapore</td>-->
    <!--                        <td>64</td>-->
    <!--                        <td>2011/02/03</td>-->
    <!--                        <td>$234,500</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Bruno Nash</td>-->
    <!--                        <td>Software Engineer</td>-->
    <!--                        <td>London</td>-->
    <!--                        <td>38</td>-->
    <!--                        <td>2011/05/03</td>-->
    <!--                        <td>$163,500</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-info badge-pill">Contract</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Sakura Yamamoto</td>-->
    <!--                        <td>Support Engineer</td>-->
    <!--                        <td>Tokyo</td>-->
    <!--                        <td>37</td>-->
    <!--                        <td>2009/08/19</td>-->
    <!--                        <td>$139,575</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Thor Walton</td>-->
    <!--                        <td>Developer</td>-->
    <!--                        <td>New York</td>-->
    <!--                        <td>61</td>-->
    <!--                        <td>2013/08/11</td>-->
    <!--                        <td>$98,540</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Finn Camacho</td>-->
    <!--                        <td>Support Engineer</td>-->
    <!--                        <td>San Francisco</td>-->
    <!--                        <td>47</td>-->
    <!--                        <td>2009/07/07</td>-->
    <!--                        <td>$87,500</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-info badge-pill">Contract</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Serge Baldwin</td>-->
    <!--                        <td>Data Coordinator</td>-->
    <!--                        <td>Singapore</td>-->
    <!--                        <td>64</td>-->
    <!--                        <td>2012/04/09</td>-->
    <!--                        <td>$138,575</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Zenaida Frank</td>-->
    <!--                        <td>Software Engineer</td>-->
    <!--                        <td>New York</td>-->
    <!--                        <td>63</td>-->
    <!--                        <td>2010/01/04</td>-->
    <!--                        <td>$125,250</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Zorita Serrano</td>-->
    <!--                        <td>Software Engineer</td>-->
    <!--                        <td>San Francisco</td>-->
    <!--                        <td>56</td>-->
    <!--                        <td>2012/06/01</td>-->
    <!--                        <td>$115,000</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Jennifer Acosta</td>-->
    <!--                        <td>Junior Javascript Developer</td>-->
    <!--                        <td>Edinburgh</td>-->
    <!--                        <td>43</td>-->
    <!--                        <td>2013/02/01</td>-->
    <!--                        <td>$75,650</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Cara Stevens</td>-->
    <!--                        <td>Sales Assistant</td>-->
    <!--                        <td>New York</td>-->
    <!--                        <td>46</td>-->
    <!--                        <td>2011/12/06</td>-->
    <!--                        <td>$145,600</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Hermione Butler</td>-->
    <!--                        <td>Regional Director</td>-->
    <!--                        <td>London</td>-->
    <!--                        <td>47</td>-->
    <!--                        <td>2011/03/21</td>-->
    <!--                        <td>$356,250</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Lael Greer</td>-->
    <!--                        <td>Systems Administrator</td>-->
    <!--                        <td>London</td>-->
    <!--                        <td>21</td>-->
    <!--                        <td>2009/02/27</td>-->
    <!--                        <td>$103,500</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Jonas Alexander</td>-->
    <!--                        <td>Developer</td>-->
    <!--                        <td>San Francisco</td>-->
    <!--                        <td>30</td>-->
    <!--                        <td>2010/07/14</td>-->
    <!--                        <td>$86,500</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Shad Decker</td>-->
    <!--                        <td>Regional Director</td>-->
    <!--                        <td>Edinburgh</td>-->
    <!--                        <td>51</td>-->
    <!--                        <td>2008/11/13</td>-->
    <!--                        <td>$183,000</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Michael Bruce</td>-->
    <!--                        <td>Javascript Developer</td>-->
    <!--                        <td>Singapore</td>-->
    <!--                        <td>29</td>-->
    <!--                        <td>2011/06/27</td>-->
    <!--                        <td>$183,000</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-primary badge-pill">Full-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    <tr>-->
    <!--                        <td>Donna Snider</td>-->
    <!--                        <td>Customer Support</td>-->
    <!--                        <td>New York</td>-->
    <!--                        <td>27</td>-->
    <!--                        <td>2011/01/25</td>-->
    <!--                        <td>$112,000</td>-->
    <!--                        <td>-->
    <!--                            <div class="badge badge-secondary badge-pill">Part-time</div>-->
    <!--                        </td>-->
    <!--                        <td>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i-->
    <!--                                    data-feather="more-vertical"></i></button>-->
    <!--                            <button class="btn btn-datatable btn-icon btn-transparent-dark"><i-->
    <!--                                    data-feather="trash-2"></i></button>-->
    <!--                        </td>-->
    <!--                    </tr>-->
    <!--                    </tbody>-->
    <!--                </table>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</div>

