<script>
    import AuthFooter from "../components/AuthFooter.svelte";
    import {onMount} from "svelte";
    import {isAuthenticated} from "../stores/auth";
    import {navigate} from "svelte-routing";
    import {loginUser} from "../backend/userActions";
    import Swal from "sweetalert2";


    onMount(() => {
        if ($isAuthenticated) {
            navigate('/')
        }

    })

    let username = '';
    let password = '';

    $: valid = !username || !password;

    function handleLogin() {
        const user = loginUser({username, password})
        user.then(() => {
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                width: 200,
                showConfirmButton: false,
                timer: 1500
            }).then(() => {
                window.location.reload();
            })
        }).catch(() => {
            Swal.fire({
                position: 'top-end',
                icon: 'error',
                title: 'error,  either username or password are incorrect',
                showConfirmButton: false,
                timer: 2500
            })
        })
    }
</script>


<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <!-- Basic login form-->
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header justify-content-center">
                                <h3 class="font-weight-light my-4">
                                    تسجيل الدخول
                                </h3>
                            </div>
                            <div class="card-body">
                                <!-- Login form-->
                                <form>
                                    <!-- Form Group (email address)-->
                                    <div class="form-group">
                                        <label style="float: right;" class="small mb-1" for="inputPhoneNumber">اسم المستخدم</label>
                                        <input class="form-control" id="inputPhoneNumber" type="text"
                                               placeholder="ادخل اسم المستخدم" bind:value={username}/>
                                    </div>
                                    <!-- Form Group (password)-->
                                    <div class="form-group">
                                        <label style="float: right;" class="small mb-1" for="inputPassword">الرمز</label>
                                        <input class="form-control" id="inputPassword" type="password"
                                               placeholder="ادخل الرمز" bind:value={password}/>
                                    </div>
                                    <!-- Form Group (remember password checkbox)-->
                                    <!--                                    <div class="form-group">-->
                                    <!--                                        <div class="custom-control custom-checkbox">-->
                                    <!--                                            <input class="custom-control-input" id="rememberPasswordCheck"-->
                                    <!--                                                   type="checkbox"/>-->
                                    <!--                                            <label class="custom-control-label" for="rememberPasswordCheck">Remember-->
                                    <!--                                                password</label>-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->
                                    <!-- Form Group (login box)-->
                                    <div class="form-group d-flex align-items-right justify-content-right mt-4 mb-0">
                                        <!--                                        <a class="small" href="auth-password-basic.html">Forgot Password?</a>-->
                                        <button disabled={valid} class="btn btn-primary text-gray-200"
                                                on:click|preventDefault={handleLogin}>تسجيل الدخول
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <!--                            <div class="card-footer text-center">-->
                            <!--                                <div class="small"><a href="auth-register-basic.html">Need an account? Sign up!</a>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
    <AuthFooter/>

</div>
