@import '@core/scss/core.scss';
@import './assets/scss/styles';
@import "sweetalert2/src/sweetalert2";
@import "@ng-select/ng-select/themes/default.theme.css";
@import 'lightgallery/scss/lightgallery';
@import 'lightgallery/scss/lg-zoom';
@import 'lightgallery/scss/lg-transitions';
@import 'lightgallery/scss/lg-thumbnail';
@import 'lightgallery/scss/lg-autoplay';
@import 'lightgallery/scss/lg-share';
@import 'lightgallery/scss/lg-fullscreen';
//@import 'primeng/resources/themes/saga-blue/theme.css';
//@import 'primeng/resources/themes/fluent-light/theme.css';
//@import '@vime/core/themes/default.css';
@import '@ctrl/ngx-emoji-mart/picker';
@import './assets/themes/mdc-light-deeppurple/theme.css';
@import './assets/themes/mdc-dark-deeppurple/theme.scss';
@import 'ngx-red-zoom/styles/base.scss';
@import 'ngx-red-zoom/styles/style-window.scss';

.red-zoom--style--window {
  @include red-zoom-style-window(
          $overlay-color: rgba(115, 103, 240, 0.47)
  );

  .red-zoom__lens {
    --window-x: calc(var(--red-zoom-thumb-x, 0px) + var(--red-zoom-thumb-w, 0px) + 32px);

    left: var(--window-x, 0px);
    top: var(--red-zoom-thumb-y, 0px);
    width: var(--red-zoom-thumb-w, 0px);
    height: var(--red-zoom-thumb-h, 0px);
  }
}

.bg-progress-status {
  background-color: #037aff !important;
}

.timeline-event {
  min-height: 30px !important;
}

.swiper-container-vertical .swiper-wrapper {
  max-height: 200px;
}

.lg-backdrop {
  background-color: #000000ec;
  
}



.dentwe-dialog-container .overlay {
  outline: 0 !important;
}
.dark-layout .post-action:hover {
  background-color: #1b2337 !important;
}

.dark-layout .like-share {
  border-top: 1px solid #232b40 !important;
}

.dark-layout .action-icon {
  // background-color: #1b2337 !important;
}

.feather-bg {
  width: 16px !important;
  height: 16px !important;
}

.loading-icon-bg {
  font-size: 16px !important;
}

.feather-sm {
  width: 16px !important;
  height: 16px !important;
}

.loading-icon-sm {
  font-size: 16px !important;
}



.post-form {
  .post-top {
    display: flex;
    align-items: center;
    .post-avatar > img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .post-input {
      display: flex;
      align-items: center;
      flex: 1;
      margin-left: 10px;
      overflow: hidden;

      border-radius: 50px;
      & > input {
        background-color: #f3f3f3;
        color: #000000;
        font-size: 16px;
        height: 50px;
        width: 100%;
        border: 0;
        outline: 0;
        padding: 20px;

      }
    }
  }

  .post-bottom {
    margin-top: 10px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    & > div {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
    }

  }

}

.post-action:hover {
  background-color: #f3f3f3;

}





// new post

.new-post {
  // box-shadow: 0 1px 5px #00000057;
  border-radius: 6px;
  width: 500px;
  // padding: 20px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 570px) {
  .new-post {
    width: 100%;
  }
}

.new-post-input {
  background-color: inherit;
  border: 0;
  outline: 0;
  font-size: 18px;
  width: 100%;
  height: 100px;
}

.new-post-actions {
  // height: 50px;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 6px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 15px;

  &> div > button {
    margin: 2px
  }
}

.dark-layout {
  .p-dropdown-panel .p-dropdown-header {
    background: #394463;
    .p-inputtext {
      color: #ffffff;
      background: #394463;
      border: 1px solid #333d58;
    }
  }

}

.dropdown-fullwidth {
  .p-dropdown {
    width: 100% !important;
  }

}

@media screen and (max-width: 570px) {
  .p-dialog {
      width: 95% !important;
  }
}
//
//.dark-layout {
//  .p-dialog-title {
//    color: #fff;
//  }
//  .p-dialog .p-dialog-header {
//    background-color: #283046 !important;
//  }
//  .p-dialog .p-dialog-content {
//    background-color: #283046 !important;
//  }
//  .p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
//    color: #ffffff;
//    border-color: transparent;
//    background: #394463;
//  }
//  .p-dialog .p-dialog-header .p-dialog-header-icon:focus {
//    outline: 0 none;
//    outline-offset: 0;
//    box-shadow: 0 0 0 0.2rem #435b6d;
//  }
//
//  .new-post-input {
//    color: #fff !important;
//  }
//
//  .new-post-actions {
//    border: 1px solid #1f2536;
//    color: #fff;
//  }
//
//  .p-dropdown {
//    border-color: #394463;
//    background-color: #394463;
//  }
//
//  .p-dropdown-label {
//    color: #fff !important;
//
//  }
//
//  .p-dropdown-panel {
//    background-color: #394463;
//  }
//
//  .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
//    color: #fff;
//  }
//
//  .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
//    color: #ffffff !important;
//    background: #2a334a !important;
//  }
//  .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
//    background: #1c253f !important;
//  }
//
//}




.post-uploader {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 20px 10px;
  border-radius: 6px;
  background-color: #ffffff;

  &:hover {
    background-color: #efefef !important;

  }

}

.dark-layout {
  .post-uploader {

    background-color: #1c253f;

    &:hover {
      background-color: #232e50 !important;

    }
  }
}

.dark-layout {
  .comment-body {
    background-color: #1B2337;

  }
  .comment-input {
    background-color: #1B2337;
    border: 1px solid #1B2337;
    color: #ffffff;

  }

  .comments {
    border-top: 1px solid #232b40 !important;

  }

  }



.dark-layout {
  .reactions {
    background-color: #31365C !important;

  }

  .like-btn {
    background-color: #31365C;
  }

}


.reaction-comment {
  top: -60px;
  left: -25px !important;
}


.dark-layout {
  .p-dialog .p-dialog-content {
    color: #ffffff;
  }

  .p-dialog .p-dialog-footer {
    background-color: #283046;
  }

  .p-skeleton {
    background-color: rgb(48, 57, 83);
  }

  .p-skeleton:after {
    background: linear-gradient(
                    90deg
            , rgb(48, 57, 83), rgb(40, 48, 70), rgb(48, 57, 83));
  }
}

.dark-layout {
  .feeling-container {
    background-color: #1c253f !important;

    .selected {
      background-color: #263152 !important;
    }
    div {
      &:hover {
        background-color: #263152 !important;
      }
    }
  }
}


.p-dialog-content {
  // overflow-y: unset !important;
}


.emoji-mart-dark {
  color: #fff;
  border-color: #191c2a;
  background-color: #283046;
}

.emoji-mart-dark .emoji-mart-search input {
  color: #fff;
  border-color: #171c2a;
  background-color: #283046;
}

.emoji-mart-dark .emoji-mart-category-label span {
  background-color: #283046;
  color: #fff;
}


.emoji-mart-bar {
  display: none;
}



.btn-followback {
  background-color: #3e378a !important;
}


.btn-unfollow {
  background-color: #ededed;
}

.dark-layout {
  
  .btn-unfollow {
    background-color: #303b57;
  }
}

.form-control {
  border: 1px solid rgba(0, 0, 0, 0.38);
}
.dark-layout {
  .form-control {
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  input.form-control:not(:focus), .dark-layout .custom-file-label:not(:focus), .dark-layout textarea.form-control:not(:focus) {
    border: 1px solid rgba(255, 255, 255, 0.3);

  }
}

.gallery {overflow: hidden;}

// /* Importing Bootstrap SCSS file. */
// @import "~bootstrap/scss/bootstrap";

// /* Importing Datepicker SCSS file. */
// @import "~ngx-bootstrap/datepicker/bs-datepicker";




.custom {
  display: block;
    width: 100%;
    height: 2.714rem;
    padding: 0.438rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.45;
    color: #6e6b7b;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d8d6de;
    border-radius: 0.357rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.iti {
  width: 100%;
}

.dark-layout .custom {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #283046;
  color: #ffffff;
  outline: none;
}

.dark-layout {
  #country-search-box {
    background-color: #283046;
    color: #fff;

  }

  .country-dropdown {
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  background-color: #283046 !important;

  }

  .iti__country-list {
    background-color: #283046;
    color: #fff;
  }
}

.custom.is-invalid {
  border-color: #ea5455;
  padding-right: calc(1.45em + 0.876rem);
  background-size: calc(0.725em + 0.438rem) calc(0.725em + 0.438rem);
}


.dentwe-item {
  display: flex;
  align-items: center;
  // border: 1px solid #7367f0;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
  // height: 50px;
}

thead > tr > th > span{
  font-size: 14px;
  font-weight: 900;
}


.dark-layout {
  .jobs-panel {
    background-color: #283046 !important;
  }
}

.modal.show {
  z-index: 3000 !important;
}

.dark-layout {
  .radio-image span {
    border: 2px solid #171f30;
  }


  .product-image-container {
    border: 2px solid #171f30;
    background-color: #171f30;
  }
}


.row-height{
  height:  calc(100vh - 218px); /* opera */
  height: -webkit-calc(100vh - 218px); /* google, safari */
  height: -moz-calc(100vh - 218px); /* firefox */
}

@media screen and (max-width: 991px) {
  .row-height{
    height:  calc(100vh - 112px); /* opera */
    height: -webkit-calc(100vh - 112px); /* google, safari */
    height: -moz-calc(100vh - 112px); /* firefox */
  }
}

.left{
  height: 100%;
  overflow: visible;
  //overflow-y: scroll;
}

.right{
  height: 100%;
  overflow: visible;

  //overflow-y: scroll;
}

.mid{
  height: 100%;
  overflow: visible;

  //overflow-y: scroll;
}
