<input class="d-none" multiple #imageInput (change)="onImagesChange($event)" type="file" accept="image/png, image/jpeg">
<input class="d-none" multiple #addMoreImagesInput (change)="onAddMoreImagesChange($event)" type="file" accept="image/png, image/jpeg">
<!--<input class="d-none" #videoInput (change)="onVideoChange($event)" type="file" accept="video/mp4">-->
<div class="d-flex align-items-center justify-content-center">
    <div class="new-post">
        <div class="d-flex justify-content-start align-items-center mb-1">
            <!-- avatar -->
            <div class="avatar mr-1">
                <img [src]="auth.user?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + auth.user?.avatar : '/assets/images/avatars/placeholder.jpg'"
                    alt="avatar img" height="50" width="50" />
            </div>
            <!--/ avatar -->
            <div class="profile-user-info">
                <h6 class="font-weight-bold" style="font-size: 16px; margin-bottom: 5px;">{{ auth.user?.first_name + ' ' + (auth.user?.last_name || '') }}</h6>
                <p-dropdown [disabled]="type == 'user'" [options]="postPrivacy" [(ngModel)]="selectedPrivacy" optionLabel="name">
                    <ng-template pTemplate="selectedItem">
                        <div *ngIf="selectedPrivacy" class="d-flex align-items-center">
                            <i class="{{selectedPrivacy.icon}}" style="margin-right: 5px; margin-left: 5px;"></i>
                            <div>{{selectedPrivacy.name}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <div class="d-flex align-items-center">
                            <i class="{{item.icon}}" style="margin-right: 5px; margin-left: 5px;"></i>
                            <div>{{item.name}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>

            </div>
            
        </div>
        <div class="position-relative">
            <textarea [(ngModel)]="postText" class="new-post-input" type="text" placeholder="What do you want to talk about?"></textarea>

            <div class="" style="position: absolute; right: 10px; bottom: 10px;">
                <button class="btn btn-icon btn-outline-primary" (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">😀</button>
                <emoji-mart
                        (emojiSelect)="addEmoji($event)"
                        *ngIf="isEmojiPickerVisible" darkMode="true"
                        showPreview="false"
                        isNative="true"
                        skin="3"
                        [style]="{ position: 'absolute', top: '0px', right: '40px', zIndex: 9999 }"
                        ></emoji-mart>
            </div>


        </div>

        <div *ngIf="postType == 'photo'" class="new-post-actions">
                <div class="post-uploader">
                    <div (click)="imageInput.click()" *ngIf="!imagesFiles.length" class="d-flex cursor-pointer flex-column align-items-center justify-content-center">
                        <i class="pi pi-plus-circle" style="font-size: 2rem; margin-bottom: 5px;"></i>
                        <div>Add Photos</div>
                    </div>
                    <div *ngIf="imagesFiles.length" class="post-image-container">
                        <div *ngFor="let file of imagesFiles" class="post-image">
                            <i  (click)="removeFile(file);" class="pi pi-trash"></i>
                            <img src="{{file.url}}" alt="">
                        </div>
                        <div (click)="addMoreImagesInput.click()" class="d-flex cursor-pointer flex-column align-items-center justify-content-center">
                            <i class="pi pi-plus-circle" style="font-size: 2rem; margin-bottom: 5px;"></i>
                        </div>
                    </div>
                </div>
        </div>
        <div *ngIf="postType == 'video'" class="new-post-actions">
            <div class="post-uploader">
<!--                <div (click)="videoInput.click()" *ngIf="!videoFile" class="cursor-pointer d-flex flex-column align-items-center justify-content-center">-->
<!--                    <i class="pi pi-plus-circle" style="font-size: 2rem; margin-bottom: 5px;"></i>-->
<!--                    <div>Add Video</div>-->
<!--                </div>-->
<!--                <div *ngIf="videoFile" class="post-video">-->
<!--                    <i  (click)="videoFile = null" class="pi pi-trash"></i>-->
<!--                </div>-->
                <input class="new-post-input p-2" [(ngModel)]="youtubeLink" [ngClass]="{'youtube-not-ok': !youtube_parser(youtubeLink)}" type="text" placeholder="Paste youtube link here">
            </div>
        </div>
        <div *ngIf="postType == 'feeling'">
            <div class="feeling-container">
                <div (click)="postFeeling = 'like'" [ngClass]="{'selected': postFeeling == 'like'}"><img src="assets/icons/like.svg" alt=""></div>
                <div (click)="postFeeling = 'laugh'" [ngClass]="{'selected': postFeeling == 'laugh'}"><img src="assets/icons/laugh.svg" alt=""></div>
                <div (click)="postFeeling = 'love'" [ngClass]="{'selected': postFeeling == 'love'}"><img src="assets/icons/love.svg" alt=""></div>
                <div (click)="postFeeling = 'sad'" [ngClass]="{'selected': postFeeling == 'sad'}"><img src="assets/icons/sad.svg" alt=""></div>
                <div (click)="postFeeling = 'angry'" [ngClass]="{'selected': postFeeling == 'angry'}"><img src="assets/icons/angry.svg" alt=""></div>
            </div>
        </div>
        <div *ngIf="type != 'share' && type != 'edit'" class="new-post-actions">
            <div>Add to your post</div>
            <div class="ml-auto d-flex">
                <button (click)="changePostType('photo')" [ngClass]="{'btn-outline-primary': postType != 'photo', 'btn-primary': postType == 'photo'}" class="btn btn-icon btn-outline-primary rounded-circle">
                    <i data-feather="image"></i>
                </button>
                <button (click)="changePostType('video')" [ngClass]="{'btn-outline-primary': postType != 'video', 'btn-primary': postType == 'video'}" class="btn btn-icon btn-outline-primary rounded-circle">
                    <i data-feather="video"></i>
                </button>
                <button (click)="changePostType('feeling')" [ngClass]="{'btn-outline-primary': postType != 'feeling', 'btn-primary': postType == 'feeling'}" class="btn btn-icon btn-outline-primary rounded-circle">
                    <i data-feather="smile"></i>
                </button>
            </div>
        </div>
        <div class="d-flex">
            <ng-template [ngIf]="type == 'share'">
                <button (click)="sharePost()" class="btn btn-primary w-100" rippleeffect>Repost</button>
                <a class="ml-1 btn btn-facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://app.dentwe.com/post/{{post['id']}}">
                    <i data-feather="facebook"></i>
                </a>
                <a class="ml-1 btn btn-twitter" target="_blank" href="https://twitter.com/intent/tweet?url=https://app.dentwe.com/post/{{post['id']}}&hashtags=dentwe">
                    <i data-feather="twitter"></i>
                </a>
            </ng-template>
            <ng-template [ngIf]="type == 'edit'">
                <button (click)="editPost()" class="btn btn-primary w-100" rippleeffect>Update</button>
            </ng-template>
            <ng-template [ngIf]="type == 'new'">
                <button [disabled]="validate()" (click)="doPost()" class="btn btn-primary w-100" rippleeffect>
                    <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
                    <span *ngIf="!loading">Post</span>
                </button>
            </ng-template>

            <ng-template [ngIf]="type == 'user'">
                <button [disabled]="validate()" (click)="doPost()" class="btn btn-primary w-100" rippleeffect>
                    <i class="fa fa-spin fa-circle-o-notch" *ngIf="loading"></i>
                    <span *ngIf="!loading">Post on {{user?.first_name}}'s profile</span>
                </button>
            </ng-template>


        </div>

    </div>
</div>
