.post-image-container {
  display: flex;
  align-items: center;
  overflow: auto;
}

.post-image {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  i {
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    &:hover {
      background-color: #e72121;
      color: #000000;
    }
  }
  
  img {
    object-fit: cover;
    width: 100px;
    height: 100px;
  }
}


.post-video {
  i {
    font-size: 18px;
    //position: absolute;
    right: 10px;
    top: 10px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    &:hover {
      background-color: #e72121;
      color: #000000;
    }
  }
}


.youtube-not-ok {
  border: 1px solid #e72121;
}


.feeling-container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  grid-gap: 10px;
  background-color: #96E6E6;
  border-radius: 8px;

  .selected {
    background-color: #679a9a;
  }

  div {
    border-radius: 8px;
    padding: 4px;
    cursor: pointer;
    &:hover {
      background-color: #679a9a;
    }
  }

  img {
    height: 48px;
    width: 48px;
  }
}
