<script>
    import DataTable from "../../components/datatable/DataTable.svelte";
    import { assignDriver, getStorageOrders, updateOrder } from "../../backend/staffActions";
    import { authInfo } from "../../stores/auth";
    import { navigate } from "svelte-routing";
    import { onMount } from "svelte";
    import Swal from "sweetalert2";


    import { getDrivers, getStatus,} from '../../backend/staffActions';
    import { allDrivers } from "../../stores/StaffStores/driversStore";
    import { allStatus } from "../../stores/StaffStores/statusStore";


    let dataTable;
    let is_loading = false;

    const config = {
        header_title: "الطلبات في المخزن",
        header_icon: "fa fa-building",
        card_title: "الطلبات في المخزن",
        checkbox_feature: true,
        row_actions_feature: true,
        columns: [
            { text: "المرسل", key: 'sender_name', type: "text" },
            { text: "المستلم", key: 'receiver', type: "text" },
            { text: "الوجهة", key: 'destination_name', type: "text" },
            { text: "الرمز", key: 'code', type: "code", class: 'ltr' },
            { text: "اجرة النقل", key: 'delivery_cost', type: "money" },
            { text: "المبلغ الكلي", key: 'total', type: "money" },
            { text: "الحالة", key: 'status_name', type: "text" },
    
        ],
        rows: [],
        rowActions: [
            {
                text: "معاينة",
                type: "icon",
                button_class: "btn-pink",
                icon: "fa fa-eye",
                action: (row) => {
                    navigate(`/staff/orders/${row.pk}`);
                }
            },
            {
                text: "تعديل",
                type: "icon",
                button_class: "btn-pink",
                icon: "fa fa-edit",
                action: (row) => {
                    Swal.fire({
                        title: "تعديل الطلب",
                        icon: "info",
                        confirmButtonText: "تعديل",
                        cancelButtonText: "الغاء",
                        showCancelButton: true,
                        showCloseButton: true,
                        html:
                            `<label for="swal-input1" class="swal2-custom-input-label">الملاحظات</label>`+
                            `<input id="swal-input1" style="margin-top: 0;" value="${row.comment ?? ''}" class="swal2-input">`+
                            `<label for="swal-input2" class="swal2-custom-input-label">الحالة</label>`+
                            `<select id="swal-input2" class="swal2-custom-select" style="display: flex;">
                                ${$allStatus.map(i => `<option value="${i.pk}" ${row?.status?.pk == i.pk ? 'selected' : ''}>${i.status}</option>`).join('')}
                                </select>`,
                        preConfirm: () => {
                            Swal.showLoading();
                            
                            let data = {
                                note: document.getElementById('swal-input1').value,
                                status: document.getElementById('swal-input2').value
                            }

                            return updateOrder({
                                orders: [
                                    {
                                        order: row.pk,
                                        comment: data.note
                                    }
                                ],
                                status: data.status
                            }).then(response => {
                                return data;
                            }).catch(error => {
                                console.log(error);
                                Swal.fire("فشلت العملية", "", "error");
                            })
                        },
                    }).then((result) => {
                        console.log(result.value)
                        if (result.value) {
                            load();
                            Swal.fire("تمت العملية بنجاح", "", "success");
                        }
                    });


                  
                },
            },
            {
                text: "تعيين السائق",
                type: "icon",
                button_class: "btn-pink",
                icon: "fa fa-car",
                action: (row) => {
                    Swal.fire({
                        title: "تعيين السائق",
                        icon: "info",
                        confirmButtonText: "تعديل",
                        cancelButtonText: "الغاء",
                        showCancelButton: true,
                        showCloseButton: true,
                        html:
                            `<label for="swal-input2" class="swal2-custom-input-label">السائق</label>`+
                            `<select id="swal-input2" class="swal2-custom-select" style="display: flex;">
                                ${$allDrivers.map(i => `<option value="${i.pk}"}>${i.name}</option>`).join('')}
                                </select>`,
                        preConfirm: () => {
                            Swal.showLoading();
                            
                            let data = {
                                driver: document.getElementById('swal-input2').value
                            }

                            return assignDriver({
                                orders: [
                                    {
                                        order: row.pk,
                                        comment: data.note
                                    }
                                ],
                                driver: data.driver
                            }).then(response => {
                                return data;
                            }).catch(error => {
                                console.log(error);
                                Swal.fire("فشلت العملية", "", "error");
                            });
                        },
                    }).then((result) => {
                        console.log(result.value)
                        if (result.value) {
                            // load();
                            Swal.fire("تمت العملية بنجاح", "", "success");
                        }
                    });


                  
                },
            },
        ],
    };

    const actions = [
        {
            text: "تحديث",
            action: () => {
                load();
            },
        },{
            text: 'تعيين السائق',
            action: () => {
                console.log(dataTable.getSelected())
                if (dataTable.getSelected().length == 0) {
                    Swal.fire("يرجى تحديد بعض الطلبات", "", "info");
                    return;
                }
                Swal.fire({
                        title: "تعيين السائق",
                        icon: "info",
                        confirmButtonText: "تعديل",
                        cancelButtonText: "الغاء",
                        showCancelButton: true,
                        showCloseButton: true,
                        html:
                            `<label for="swal-input2" class="swal2-custom-input-label">السائق</label>`+
                            `<select id="swal-input2" class="swal2-custom-select" style="display: flex;">
                                ${$allDrivers.map(i => `<option value="${i.pk}"}>${i.name}</option>`).join('')}
                                </select>`,
                        preConfirm: () => {
                            Swal.showLoading();
                            
                            let data = {
                                driver: document.getElementById('swal-input2').value
                            }

                            return assignDriver({
                                orders: [
                                        ...dataTable.getSelected().map(i => { return {order: i.pk} })
                                ],
                                driver: data.driver
                            }).then(response => {
                                return data;
                            }).catch(error => {
                                console.log(error);
                                Swal.fire("فشلت العملية", "", "error");
                            });
                        },
                    }).then((result) => {
                        console.log(result.value)
                        if (result.value) {
                            // load();
                            Swal.fire("تمت العملية بنجاح", "", "success");
                        }
                    });
            }
        }
    ];

    onMount(() => {
        if ($authInfo['role'] != 'STAFF') {
            navigate('/accessDenied');
            return;
        }
        loadDropdown();
        load();
    });

    function loadDropdown() {
        getDrivers().then((response) => {
            $allDrivers = response.data;
        });

        getStatus().then((response) => {
            $allStatus = response.data;
        });
    }

    export function load() {
        is_loading = true;
        config.rows = [];
        getStorageOrders()
            .then((response) => {
                config.rows = response.data.map(i => {
                    i['sender_name'] = i?.["sender"]?.["name"];
                    i['destination_name'] = i?.["destination"]?.["destination"];
                    i['status_name'] = i?.["status"]?.["status"];
                    return i;
                });
                is_loading = false;
            })
            .catch((e) => {
                is_loading = false;
                console.log(e);
            });
    }
</script>

<DataTable
    {config}
    {actions}
    columns={config.columns}
    rows={config.rows}
    {is_loading}
    bind:this={dataTable} />
