<script>
    import { Route, Router } from "svelte-routing";
    import { globalStore } from "./stores/globalStore";
    import Dashboard from "./pages/layouts/Dashboard.svelte";
    import Auth from "./pages/layouts/Auth.svelte";
    import { authInfo, isAuthenticated } from "./stores/auth";
    import { getUserInfo } from "./backend/userActions";

    function getAuthInfo() {
        return new Promise(async (resolve, reject) => {
            if ($isAuthenticated) {
                const response = await getUserInfo();
                $authInfo = response.data;
            }
            resolve(null);
        });
    }
</script>

<div
    class="layout-rtl nav-fixed"
    class:sidenav-toggled={$globalStore.sideNavToggle}>
    {#await getAuthInfo()}
    <div class="splash-screen">
        <div class="splash-loader"></div>
        <img class="splash-logo" src="/assets/img/logo.svg">
    </div>
    {:then}
    <Router url="">
        <Route path="/login" component={Auth} />
        <Route path="/*" component={Dashboard} />
    </Router>
    {/await}
</div>
