.gallery {
  display: grid;
  grid-gap: 5px;
  margin-bottom: 5px;
}



.grid-layout-6 {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 5vw);
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
  }

  .gallery__item--4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;

  }

  .gallery__item--5 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 7;
    position: relative;
    &::before {
      cursor: pointer;
      left: 0;
      top: 0;
      border-radius: 0.357rem !important;
      position: absolute;
      content: '';
      background-color: rgba(0, 0, 0, 0.44);
      width: 100%;
      height: 100%;
    }

    &::after {
      left: 50%;
      top: 50%;
      position: absolute;
      content: '+ More';
      font-size: 15px;
      color: #ffffff;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }

  }
}

.grid-layout-5 {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 5vw);
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
  }

  .gallery__item--4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;

  }

  .gallery__item--5 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 7;
    position: relative;
  }
}

.grid-layout-4 {
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 5vw);
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .gallery__item--2 {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 8;
  }

  .gallery__item--4 {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 8;
  }

}

.grid-layout-3 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 5vw);

  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  .gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .gallery__item--3 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
  }

}

.grid-layout-2 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 5vw);

  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .gallery__item--2 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 7;
  }

}

.grid-layout-1 {

  .gallery__item--1 {


  }
}







.gallery__img {
  cursor: pointer;
  width: 100%;
  // max-height: 500px;
  height: 100%;
  object-fit: cover;
}

.gallery__item {
  transform: scale(0);
  opacity: 0;
  animation: scaleUp 0.5s ease-in-out forwards;
}

@keyframes scaleUp {
  0% { opacity: 0; }
  100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}


.like-share{
  border-top: 1px solid #f3f3f3;
  margin-top: 10px;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  .action-icon {
    overflow: hidden;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // height: 30px;
    // width: 30px;
    // border-radius: 50%;
    // background-color: #f3f3f3;

    &> div > img {
      height: 30px;
      width: 30px;
    }
  }
  & > div  {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;

    & > div {
      padding: 10px;

      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

}


.card-text {
  margin: 20px 0;
  font-size: 16px;
}

.comments {
  border-top: 1px solid #f3f3f3;

}

.comment {
  margin: 12px 0;
}


.comment-body {
  display: block;
  background: #f0f2f5;
  width: 100%;
  padding: 10px;
  border-radius: 18px;
}

.comment-tools {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.comment-input {
  resize: none;
  outline: none;
  height: 36px;
  float: right;
  padding-top: 8px;
  width: calc(100% - 38px);
  background-color: #f0f2f5;
  padding-right: 10px;
  padding-left: 12px;
  border-radius: 18px!important;
  margin-left: 10px;
  border: 1px solid #f0f2f5;
}

.comment-like {
  margin-top: 5px;
  position: relative;
  //position: absolute;
  //bottom: -35px;
}

.reaction-count-group {
  transform: scale(.8);
  overflow: hidden;
  margin: -3px;
  cursor: pointer;
  &> span {
    margin-left: 20px;
    margin-right: 5px;
    font-size: 18px;
  }
}
.reaction-count-image {
  width: 30px;
  //transform: scale(2.2);
}

.like-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #f3f3f3;
}

.comment-font {
  font-size: 13px !important;
}

.shared-post-container {
  //border: 1px solid;
  border-radius: 8px;
  margin: 5px;
}
