<p-dialog [appendTo]="'body'" header="Share Post" [(visible)]="sharePostDialog" [blockScroll]="true" [resizable]="false"
          [draggable]="false"
          [modal]="true"
          [closable]="true">
    <app-post-form type="share" [post]="data" (onPostComplete)="sharePostDialog = false" *ngIf="sharePostDialog">
    </app-post-form>
</p-dialog>

<p-dialog [appendTo]="'body'" header="Edit Post" [(visible)]="editPostDialog" [blockScroll]="true" [resizable]="false"
          [draggable]="false"
          [modal]="true"
          [closable]="true">
    <app-post-form type="edit" [post]="data" (onPostComplete)="editPostDialog = false; onEditComplete($event)" *ngIf="editPostDialog">
    </app-post-form>
</p-dialog>



<p-dialog header="Reactions" [(visible)]="reactions_visiable" [blockScroll]="true" [resizable]="false" [style]="{width: '40vw'}"
          [draggable]="false"
          [modal]="true"
          [closable]="true">

    <app-view-reactions *ngIf="reactions_visiable" [type]="activeReactionType" [data]="activeReactionData" [active]="activeReaction"></app-view-reactions>

</p-dialog>


<div class="card" style="margin-bottom: 15px;">
    <div class="card-body">
        <div class="d-flex justify-content-start align-items-center mb-1">
            <!-- avatar -->
            <div class="avatar mr-1">
                <img [routerLink]="['/profile/', data?.user?.id]" [src]="data.user?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + data.user?.avatar : '/assets/images/avatars/placeholder.jpg'" alt="avatar img" height="50" width="50" />
            </div>
            <!--/ avatar -->
            <div class="profile-user-info">
               <div class="d-flex align-items-center"> <h6 class="mb-0" style="margin-right: 4px"><a [routerLink]="['/profile/', data?.user?.id]">{{ data?.user?.first_name + ' ' + (data?.user?.last_name || '') }}</a></h6><span style="margin-top: 3px;" *ngIf="data.post_type == 'feeling'"> is feeling <img
                       src="/assets/icons/{{data?.post_feeling}}.svg" width="24px" alt=""></span> </div>
                <ng-template [ngIf]="data.recipient"><i class="fa fa-arrow-circle-right" style="margin-right: 5px"></i><a [routerLink]="['/profile/', data?.recipient?.id]">{{ data?.recipient?.first_name + ' ' + (data?.recipient?.last_name || '') }}</a></ng-template>
                <small [routerLink]="['/post/', data?.id]" class="text-muted d-flex align-items-center cursor-pointer"><span [pTooltip]="data?.updated_at | date: 'medium'" tooltipPosition="bottom">{{ data?.updated_at | timeago }}</span> <span style="padding-left: 5px;"><button class="btn btn-icon rounded-circle p-0">
                    <i *ngIf="data.post_privacy == 0" class="pi pi-globe" style="font-size: 18px"></i>
                    <i *ngIf="data.post_privacy == 1" class="pi pi-users" style="font-size: 18px"></i>
                    <i *ngIf="data.post_privacy == 2" class="pi pi-tags" style="font-size: 18px"></i>
                    <i *ngIf="data.post_privacy == 3" class="pi pi-lock" style="font-size: 18px"></i>
                </button></span></small>
            </div>
            <div *ngIf="type != 'share'" ngbDropdown class="ml-auto">
                <div
                        role="button"
                        class="hide-arrow"
                        id="post_more"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        ngbDropdownToggle
                >
                    <i data-feather="more-vertical" [size]="18"></i>
                </div>
                <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="post_more">
                    <div *ngIf="data?.user?.id == auth?.user?.id" (click)="editPostDialog = true" ngbDropdownItem><i data-feather="edit" class="mr-50"></i>Edit</div>
                    <div ngbDropdownItem (click)="reportPost()"><i data-feather="flag" class="mr-50"></i>Report</div>
                    <div *ngIf="data?.user?.id == auth?.user?.id" (click)="deletePost()" ngbDropdownItem><i data-feather="trash-2" class="mr-50"></i>Delete</div>
                </div>
            </div>

        </div>
        <p class="card-text">
            {{
            data?.post_text
            }}
        </p>

        <div class="shared-post-container border" *ngIf="data?.post_type == 'share'">
            <app-show-post [type]="'share'" [post_id]="data?.parent_id"></app-show-post>
        </div>

        <lightgallery *ngIf="data.post_type == 'photo'" class="gallery grid-layout-{{data?.multi_image_posts?.length + 1 > 6 ? 6 : data?.multi_image_posts?.length + 1}}" [settings]="settings" [onBeforeSlide]="onBeforeSlide">
            <ng-template [ngIf]="data?.multi_image">
                <div class="gallery__item gallery__item--1" [attr.data-src]="config.getBaseUrl() + 'storage/images/posts/' + data?.post_file">
                    <img class="img-fluid rounded mb-75 gallery__img" [src]="config.getBaseUrl() + 'storage/images/posts/' + data?.post_file" alt="" />
                </div>
                <ng-container *ngFor="let post of data?.multi_image_posts; let i = index" >
                    <div *ngIf="i < 4 else d" class="gallery__item gallery__item--{{i+2}}" [attr.data-src]="config.getBaseUrl() + 'storage/images/posts/' + post?.post_file">
                        <img class="img-fluid rounded mb-75 gallery__img" [src]="config.getBaseUrl() + 'storage/images/posts/' + post?.post_file" alt="" />
                    </div>
                    <ng-template #d>
                        <div style="display: none" [attr.data-src]="config.getBaseUrl() + 'storage/images/posts/' + post?.post_file">
                            <img class="img-fluid rounded mb-75 gallery__img" [src]="config.getBaseUrl() + 'storage/images/posts/' + post?.post_file" alt="" />
                        </div>
                    </ng-template>
                </ng-container>


            </ng-template>
        </lightgallery>

        <div *ngIf="data.post_type == 'video'">
            <div *ngIf="data.post_type == 'video'">
<!--                <div style="height: 70vh"  class="w-100 rounded border-0  mb-50">-->
<!--                    <vm-player controls>-->
<!--                        <vm-youtube style="height: 70vh" autoplay="false" cookies="true" video-id="DyTCOwB0DVw"></vm-youtube>-->
<!--                        &lt;!&ndash; ... &ndash;&gt;-->
<!--                    </vm-player>-->
<!--                </div>-->
                <iframe class="w-100 rounded border-0 height-250 mb-50"  [src]="'https://www.youtube.com/embed/' + data?.youtube_id | safe: 'resourceUrl'" frameborder="0" allowfullscreen></iframe>



                <!-- <vm-player #player playsinline>-->
<!--                    <vm-video>-->
<!--                        <source [attr.data-src]="config.getBaseUrl() + 'storage/images/posts/' + data?.post_file" type="video/mp4" />-->
<!--                    </vm-video>-->

<!--                    <vm-default-ui>-->
<!--                        &lt;!&ndash; Custom UI component. &ndash;&gt;-->
<!--                        <tap-sides-to-seek></tap-sides-to-seek>-->
<!--                    </vm-default-ui>-->
<!--                </vm-player>-->

<!--                <video-->
<!--                        style="height: 70vh"-->
<!--                        class="w-100 rounded border-0  mb-50"-->
<!--                        controls-->
<!--                        [src]="config.getBaseUrl() + 'storage/images/posts/' + data?.post_file" type="video/mp4"></video>-->

            </div>
        </div>

        <!-- like share -->

        <div *ngIf="type != 'share'"  class="d-flex mx-1">
            <div class="d-flex">
<!--                <div *ngIf="reactionsGroup.smile.length" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">-->
<!--                    <img class="reaction-count-image" width="18" [src]="reactionsGroup.smile[0]?.reaction.src" alt="">-->
<!--                    <span> {{reactionsGroup.smile.length}}</span>-->
<!--                </div>-->
<!--                <div *ngIf="reactionsGroup.laugh.length" style="margin-left: 2px" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">-->
<!--                    <img class="reaction-count-image" width="18" [src]="reactionsGroup.laugh[0]?.reaction.src" alt="">-->
<!--                    <span> {{reactionsGroup.laugh.length}}</span>-->
<!--                </div>-->
<!--                <div *ngIf="reactionsGroup.love.length" style="margin-left: 2px" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">-->
<!--                    <img class="reaction-count-image" width="18" [src]="reactionsGroup.love[0]?.reaction.src" alt="">-->
<!--                    <span> {{reactionsGroup.love.length}}</span>-->
<!--                </div>-->
<!--                <div *ngIf="reactionsGroup.sad.length" style="margin-left: 2px" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">-->
<!--                    <img class="reaction-count-image" width="18" [src]="reactionsGroup.sad[0]?.reaction.src" alt="">-->
<!--                    <span> {{reactionsGroup.sad.length}}</span>-->
<!--                </div>-->
<!--                <div *ngIf="reactionsGroup.cry.length" style="margin-left: 2px" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">-->
<!--                    <img class="reaction-count-image" width="18" [src]="reactionsGroup.cry[0]?.reaction.src" alt="">-->
<!--                    <span> {{reactionsGroup.cry.length}}</span>-->
<!--                </div>-->
<!--                <div *ngIf="reactionsGroup.idea.length" style="margin-left: 2px" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">-->
<!--                    <img class="reaction-count-image" width="18" [src]="reactionsGroup.idea[0]?.reaction.src" alt="">-->
<!--                    <span> {{reactionsGroup.idea.length}}</span>-->
<!--                </div>-->

<!--                <div (click)="showReactionsDialog('')" *ngIf="data.like_reactions_count > 0" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">-->
<!--                    <img class="reaction-count-image" width="18" src="assets/icons/smile.svg" alt="">-->
<!--                    <span> {{data.like_reactions_count}}</span>-->
<!--                </div>-->

<!--                <div (click)="showReactionsDialog('')" *ngIf="data.like_reactions_count > 0" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">-->
<!--                    <img class="reaction-count-image" width="18" src="assets/icons/laugh.svg" alt="">-->
<!--                    <span> {{data.like_reactions_count}}</span>-->
<!--                </div>-->

<!--                <div (click)="showReactionsDialog('')" *ngIf="data.love_reactions_count > 0" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">-->
<!--                    <img class="reaction-count-image" width="18" src="assets/icons/love.svg" alt="">-->
<!--                    <span> {{data.love_reactions_count}}</span>-->
<!--                </div>-->

<!--                <div (click)="showReactionsDialog('')" *ngIf="data.sad_reactions_count > 0" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">-->
<!--                    <img class="reaction-count-image" width="18" src="assets/icons/sad.svg" alt="">-->
<!--                    <span> {{data.sad_reactions_count}}</span>-->
<!--                </div>-->

<!--                <div (click)="showReactionsDialog('')" *ngIf="data.angry_reactions_count > 0" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">-->
<!--                    <img class="reaction-count-image" width="18" src="assets/icons/cry.svg" alt="">-->
<!--                    <span> {{data.angry_reactions_count}}</span>-->
<!--                </div>-->

<!--                <div (click)="showReactionsDialog('')" *ngIf="data.idea_reactions_count > 0" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">-->
<!--                    <img class="reaction-count-image" width="18" src="assets/icons/idea.svg" alt="">-->
<!--                    <span> {{data.idea_reactions_count}}</span>-->
<!--                </div>-->

                <div (click)="showReactionsDialog('like', 'post', data)" *ngIf="data.like_reactions_count > 0" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">
                    <img class="reaction-count-image" width="24" src="assets/icons/like.svg" alt="">
                    <span> {{data.like_reactions_count}}</span>
                </div>

                <div (click)="showReactionsDialog('laugh', 'post', data)" *ngIf="data.laugh_reactions_count > 0" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">
                    <img class="reaction-count-image" width="24" src="assets/icons/laugh.svg" alt="">
                    <span> {{data.laugh_reactions_count}}</span>
                </div>

                <div (click)="showReactionsDialog('love', 'post', data)" *ngIf="data.love_reactions_count > 0" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">
                    <img class="reaction-count-image" width="24" src="assets/icons/love.svg" alt="">
                    <span> {{data.love_reactions_count}}</span>
                </div>

                <div (click)="showReactionsDialog('sad', 'post', data)" *ngIf="data.sad_reactions_count > 0" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">
                    <img class="reaction-count-image" width="24" src="assets/icons/sad.svg" alt="">
                    <span> {{data.sad_reactions_count}}</span>
                </div>

                <div (click)="showReactionsDialog('angry', 'post', data)" *ngIf="data.angry_reactions_count > 0" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">
                    <img class="reaction-count-image" width="24" src="assets/icons/angry.svg" alt="">
                    <span> {{data.angry_reactions_count}}</span>
                </div>




            </div>
            <div class="ml-auto"><i class="pi pi-comment"></i> {{data?.comments_count}}</div>
        </div>

        <div *ngIf="type != 'share'" class="like-share">
            <div appReactions class="post-action position-relative" >
                <app-reactions #postReactions [data]="data" type="post"></app-reactions>
                    <div *ngIf="data?.my_reaction" (click)="removeReaction(data?.my_reaction)" class="action-icon">
                        <div>
                            <img src="{{data?.my_reaction?.reaction.src}}" alt="">
                        </div>
                    </div>
                <ng-template [ngIf]="!data?.my_reaction">
                    <div (click)="postReactions.react(1)">
                        <i class="pi pi-thumbs-up font-medium-3"></i>
                        <span class="ml-1">Like</span>
                    </div>

                </ng-template>


            </div>
            <div (click)="showComments()" class="post-action" >
                <span class="action-icon"><i data-feather="message-circle" class="font-medium-3"></i></span>
                <span class="ml-1">Comment</span>
            </div>
            <div (click)="sharePostDialog = true; shareLink()" class="post-action" >
                <span class="action-icon"><i data-feather="share-2" class="font-medium-3"></i></span>
                <span class="ml-1">Share</span>
            </div>
        </div>
        <!-- like share -->



        <!-- comments -->
        <ng-template [ngIf]="show_comments">
           <div class="comments">
               <div
                       class="comment d-flex align-items-start"
                       *ngFor="let comment of comments"
                       id="comment-{{comment?.id}}"

               >
                   <div class="avatar mt-25 mr-75">
                       <img  [routerLink]="['/profile/', comment.user.id]" [src]="comment.user?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + comment.user?.avatar : '/assets/images/avatars/placeholder.jpg'" alt="Avatar" height="34" width="34" />
                   </div>
                   <div class="d-flex flex-column w-100" >
                       <div class="comment-body w-100 p-1 position-relative " [ngClass]="{'border-primary': nav_comment_id == comment.id}">
                           <div class="d-flex align-items-center">
                               <span class="mb-0 font-weight-bold comment-font"><a [routerLink]="['/profile/', comment.user.id]">{{ comment?.user?.first_name + ' ' + (comment?.user?.last_name || '') }}</a></span>
                               <small style="margin-left: 5px" class="text-muted">{{comment?.updated_at | timeago}}</small>
                               <div ngbDropdown class="ml-auto">
                                   <div
                                           role="button"
                                           class="hide-arrow"
                                           id="post_more"
                                           data-toggle="dropdown"
                                           aria-haspopup="true"
                                           aria-expanded="false"
                                           ngbDropdownToggle
                                   >
                                       <i data-feather="more-vertical" [size]="18"></i>
                                   </div>
                                   <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="post_more">
                                       <div ngbDropdownItem (click)="reportPost()"><i data-feather="flag" class="mr-50"></i>Report</div>
                                       <div *ngIf="comment?.user?.id == auth?.user?.id" (click)="deleteComment(comment)" ngbDropdownItem><i data-feather="trash-2" class="mr-50"></i>Delete</div>
                                   </div>
                               </div>
                           </div>
                           <div>{{ comment.text }}</div>

                       </div>
                       <div class="comment-like d-flex align-items-center flex-wrap">
                           <div appReactions class="cursor-pointer like-btn">
                               <app-reactions #commentReactions [data]="comment" type="comment" styleClass="reaction-comment"></app-reactions>

                               <span *ngIf="comment.my_reaction"    (click)="removeCommentReaction(comment)" class="">
                                 <div>
                                     <img src="{{comment?.my_reaction?.reaction.src}}" alt="">
                                 </div>
                               </span>
                               <ng-template [ngIf]="!comment.my_reaction">
                                   <div (click)="commentReactions.react(1)">
                                       <i class="pi pi-thumbs-up font-medium-3"></i>
                                   </div>

                               </ng-template>

                           </div>
                           <div (click)="replies.showReplies()" class="cursor-pointer like-btn" style="margin-left: 5px; width: auto; padding-left: 5px;">
                               <i class="pi pi-comment"></i><span style="margin: 0 5px">{{comment?.replies_count}}</span>
                           </div>
                           <div class="ml-auto d-flex align-items-center">
                               <div (click)="showReactionsDialog('like', 'comment', comment)" *ngIf="comment.like_reactions_count > 0" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">
                                   <img class="reaction-count-image" width="18" src="assets/icons/like.svg" alt="">
                                   <span> {{comment.like_reactions_count}}</span>
                               </div>

                               <div (click)="showReactionsDialog('laugh', 'comment', comment)" *ngIf="comment.laugh_reactions_count > 0" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">
                                   <img class="reaction-count-image" width="18" src="assets/icons/laugh.svg" alt="">
                                   <span> {{comment.laugh_reactions_count}}</span>
                               </div>

                               <div (click)="showReactionsDialog('love', 'comment', comment)" *ngIf="comment.love_reactions_count > 0" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">
                                   <img class="reaction-count-image" width="18" src="assets/icons/love.svg" alt="">
                                   <span> {{comment.love_reactions_count}}</span>
                               </div>

                               <div (click)="showReactionsDialog('sad', 'comment', comment)" *ngIf="comment.sad_reactions_count > 0" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">
                                   <img class="reaction-count-image" width="18" src="assets/icons/sad.svg" alt="">
                                   <span> {{comment.sad_reactions_count}}</span>
                               </div>

                               <div (click)="showReactionsDialog('angry', 'comment', comment)" *ngIf="comment.angry_reactions_count > 0" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">
                                   <img class="reaction-count-image" width="18" src="assets/icons/angry.svg" alt="">
                                   <span> {{comment.angry_reactions_count}}</span>
                               </div>

                           </div>

                       </div>
                       <app-replies #replies [loadAll]="loadAll" [data]="comment" [nav_reply_id]="nav_reply_id"></app-replies>
                   </div>
               </div>
<!--               s-->
               <div *ngIf="commentsLoading" style="margin: 15px 0;" class="d-flex align-items-start">
                   <div class="mt-25 mr-75">
                       <p-skeleton shape="circle" size="3rem" styleClass="p-mr-2"></p-skeleton>
                   </div>
                   <div class="w-100">
                       <p-skeleton width="100%" height="50px" borderRadius="18px"></p-skeleton>
                   </div>
               </div>
<!--               /s-->


               <div (click)="viewMore()" class="cursor-pointer" *ngIf="!commentsLoading && commentsCurrentPage != commentsLastPage">
                   View more comments
               </div>
               <div *ngIf="!commentsLoading" class="comment-tools">
                   <div class="avatar">
                       <img  [src]="auth.user?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + auth.user?.avatar : '/assets/images/avatars/placeholder.jpg'" alt="Avatar" height="34" width="34" />
                   </div>
                   <div class="d-flex align-items-center w-100">
                       <textarea [(ngModel)]="comment" (keydown.enter)="$event.preventDefault()" (keyup.enter)="postComment()"  class="comment-input" placeholder="Write a comment and press enter"></textarea>
                       <button (click)="postComment()" class="ml-1 btn btn-icon rounded-circle btn-flat-light waves-effect" rippleeffect><i class="pi pi-send"></i></button>
                   </div>
               </div>
           </div>

        </ng-template>
        <!--/ comments -->

<!--        &lt;!&ndash; comment box &ndash;&gt;-->
<!--        <fieldset class="form-label-group mb-50">-->
<!--            <textarea class="form-control" id="label-textarea" rows="3" placeholder="Add Comment"></textarea>-->
<!--            <label for="label-textarea">Add Comment</label>-->
<!--        </fieldset>-->
<!--        &lt;!&ndash;/ comment box &ndash;&gt;-->
<!--        <button type="button" class="btn btn-sm btn-primary" rippleEffect>Post Comment</button>-->







    </div>
</div>
