<block-ui> </block-ui>
<div *ngIf="!loading" class="content-wrapper">
    <div class="content-body">
        <section id="pricing-plan">
            <!-- title text and switch button -->
            <div class="text-center">
                <div>
                    <a routerLink="/"><img class="mt-5" src="assets/images/logo/logo3.png" width="90" alt=""></a>

                </div>
                <h1 class="my-3">One step to complete your registration</h1>
            </div>
            <!--/ title text and switch button -->

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-12 col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title">Account Details</h4>
                                        </div>
                                        <div class="card-body">
                                            <form class="form form-vertical" [formGroup]="confirmForm"
                                                  (ngSubmit)="onSubmit()">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <button type="button" (click)="pickProfileImage()" class="btn btn-primary"><span class="fa fa-photo"></span> Choose Profile Picture</button>
                                                    </div>
                                                    <div class="col-12 mt-1">
                                                        <div class="form-group">
                                                            <label for="full-name-icon">Full Name (in your mother
                                                                language)</label>
                                                            <input formControlName="full_name"
                                                                   [ngClass]="{ 'is-invalid': submitted && f.full_name.errors }"
                                                                   type="text" id="full-name-icon" class="form-control"
                                                                   name="fname-icon" placeholder="Full Name">
                                                            <div *ngIf="submitted && f.full_name.errors"
                                                                 class="invalid-feedback">
                                                                <div *ngIf="f.full_name.errors.required">Full Name is
                                                                    required
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="location-icon">Location</label>
                                                            <input formControlName="location"
                                                                   [ngClass]="{ 'is-invalid': submitted && f.location.errors }"
                                                                   type="text" id="location-icon" class="form-control"
                                                                   name="location-icon" placeholder="Location">
                                                            <div *ngIf="submitted && f.location.errors"
                                                                 class="invalid-feedback">
                                                                <div *ngIf="f.location.errors.required">Location is
                                                                    required
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="password-info-icon">Password</label>
                                                            <input formControlName="password"
                                                                   [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                                                   type="password" id="password-info-icon"
                                                                   class="form-control" name="password-icon"
                                                                   placeholder="">
                                                            <div *ngIf="submitted && f.password.errors"
                                                                 class="invalid-feedback">
                                                                <div *ngIf="f.password.errors.required">Password is
                                                                    required
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="password-info-icon">Confirm Password</label>
                                                            <input formControlName="password_confirmation"
                                                                   [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                                                   type="password" id="password_confirmation-info-icon"
                                                                   class="form-control"
                                                                   name="password_confirmation-icon" placeholder="">
                                                            <div *ngIf="submitted && f.password_confirmation.errors"
                                                                 class="invalid-feedback">
                                                                <div *ngIf="f.password_confirmation.errors.required">
                                                                    Confirm Password is required
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label>Birth Date</label>
                                                            <div class="row">
                                                                <div class="col-4 col-md-4 col-lg-3 pr-0">
                                                                    <select formControlName="birth_date_month" aria-label="Month" name="birthday_month"
                                                                            id="month" title="Month"
                                                                            class="form-control">
                                                                        <option value="1">Jan</option>
                                                                        <option value="2">Feb</option>
                                                                        <option value="3">Mar</option>
                                                                        <option value="4">Apr</option>
                                                                        <option value="5">May</option>
                                                                        <option value="6" selected="1">Jun</option>
                                                                        <option value="7">Jul</option>
                                                                        <option value="8">Aug</option>
                                                                        <option value="9">Sep</option>
                                                                        <option value="10">Oct</option>
                                                                        <option value="11">Nov</option>
                                                                        <option value="12">Dec</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-4 col-md-4 col-lg-3 pr-0">
                                                                    <select formControlName="birth_date_day" aria-label="Day" name="birthday_day"
                                                                            id="day" title="Day" class="form-control">
                                                                        <option value="1">1</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                        <option value="5">5</option>
                                                                        <option value="6">6</option>
                                                                        <option value="7">7</option>
                                                                        <option value="8">8</option>
                                                                        <option value="9">9</option>
                                                                        <option value="10">10</option>
                                                                        <option value="11">11</option>
                                                                        <option value="12">12</option>
                                                                        <option value="13">13</option>
                                                                        <option value="14">14</option>
                                                                        <option value="15">15</option>
                                                                        <option value="16">16</option>
                                                                        <option value="17">17</option>
                                                                        <option value="18">18</option>
                                                                        <option value="19">19</option>
                                                                        <option value="20">20</option>
                                                                        <option value="21">21</option>
                                                                        <option value="22">22</option>
                                                                        <option value="23">23</option>
                                                                        <option value="24">24</option>
                                                                        <option value="25">25</option>
                                                                        <option value="26">26</option>
                                                                        <option value="27">27</option>
                                                                        <option value="28">28</option>
                                                                        <option value="29">29</option>
                                                                        <option value="30" selected="1">30</option>
                                                                        <option value="31">31</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-4 col-md-4 col-lg-3">
                                                                    <select formControlName="birth_date_year" aria-label="Year" name="birthday_year"
                                                                            id="year" title="Year" class="form-control">
                                                                        <option *ngFor="let year of years" value="{{year}}" [selected]="year == currentYear">{{year}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label>Gender</label>
                                                               <div class="d-flex">
                                                                   <div class="custom-control custom-radio form-check-inline">
                                                                       <input type="radio" id="maleRadio" formControlName="gender" name="gender" value="male" class="custom-control-input" checked />
                                                                       <label class="custom-control-label" for="maleRadio">Male</label>
                                                                   </div>
                                                                   <div class="custom-control custom-radio form-check-inline">
                                                                       <input type="radio" id="femaleRadio" formControlName="gender" name="gender" value="female" class="custom-control-input" />
                                                                       <label class="custom-control-label" for="femaleRadio">Female</label>
                                                                   </div>
                                                               </div>

                                                        </div>
                                                    </div>

                                                    <div class="col-12">
                                                        <button type="submit"
                                                                class="btn pull-right btn-primary waves-effect waves-float waves-light">
                                                            Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- pricing free trial -->
            <div class="pricing-free-trial">
                <div class="row">
                    <div class="col-12 col-lg-10 col-lg-offset-3 mx-auto">
                        <div class="pricing-trial-content d-flex justify-content-between">
                            <div class="text-center text-md-left mt-3">
                                <h3 class="text-primary">About Dentwe!</h3>
                                <p class="pr-2">
                                    We welcome you to Dentwe, the world's largest Dentists network with more than 170 countries and territories.
                                    <br><b>Our Vision </b>
                                    is to Create economic opportunities for every dentists and dental students with facilitate finding them by their patients in the global labor market.
                                    <br><b>Our Mission </b>
                                    is to connect dentists from around the world and sharing the experience individually to help them be more productive and achieve all of their work goals. Moreover to make easy search for every dental clinic by everyone.
                                </p>
                            </div>

                            <!-- image -->
                            <img
                                    width="240" src="assets/pictures/dental-care-4414041-3658794.png"

                                    alt="svg img"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <!--/ pricing free trial -->



        </section>
    </div>
</div>
