<script>
    import Select from "svelte-select";
    import { onMount, onDestroy } from "svelte";
    import { fade, fly } from "svelte/transition";
    import { flip } from "svelte/animate";
    import Swal from "sweetalert2";
    import { allOrders } from "../../stores/MerchantStores/ordersStore";
    import Skeleton from "svelte-skeleton";

    import { authInfo } from "../../stores/auth";
    import { navigate } from "svelte-routing";
    import { deleteOrder, getDestinations, getOrders } from "../../backend/merchantActions";

    let is_loading = false;
    let data = null;
    export let order_id;

    $: data = $allOrders.filter((e) => e.pk == order_id)[0];

    let selectedDestination = null;

    async function load() {
        try {
            is_loading = true;
            if (!$allOrders.length)
                $allOrders = (await getOrders()).data.map((i) => {
                    i["sender_name"] = i?.["sender"]?.["name"];
                    i["destination_name"] = i?.["destination"]?.["destination"];
                    i["status_name"] = i?.["status"]?.["status"];
                    return i;
                });
            is_loading = false;
        } catch (error) {
            console.log(error);
            Swal.fire("فشل تحميل البيانات", "", "error");
        }
    }

    onMount(() => {
        if ($authInfo["role"] != "MERCHANT") {
            navigate("/accessDenied");
            return;
        }
        load();
    });

    onDestroy(() => {});

    function delete_order() {
        Swal.fire({
            title: "هل انت متأكد من مسح الطلب؟",
            icon: "warning",
            iconHtml: "؟",
            confirmButtonText: "نعم",
            cancelButtonText: "الغاء",
            showCancelButton: true,
            showCloseButton: true,
            preConfirm: () => {
                Swal.showLoading();
                return deleteOrder(order_id)
                    .then((response) => {
                        return response;
                    })
                    .catch((error) => {
                        console.log(error.response.data);
                        Swal.fire("فشلت العملية", "", "error");
                    });
            },
        }).then((result) => {
            if (result.value) {
                getOrders().then(response => {
                    $allOrders = response.data.map(i => {
                    i['sender_name'] = i?.["sender"]?.["name"];
                    i['destination_name'] = i?.["destination"]?.["destination"];
                    i['status_name'] = i?.["status"]?.["status"];
                    return i;
                    });
                    navigate("/merchant/orders");

                });
                Swal.fire("تمت العملية بنجاح", "", "success");
            }
        });
    }
</script>

<style>
    .orders-items {
        padding: 20px;
        border: 3px dotted rgb(221, 221, 221);
        background-color: rgb(250, 250, 250);
        margin: 10px 100px;
        text-align: right;
    }

    .orders-items > .row {
        margin: 5px;
    }

    .items-total {
        color: rgb(13, 111, 216);
        padding: 20px;
        margin: 10px 100px;
    }
    .item {
        padding: 20px;
        color: rgb(216, 115, 0);
    }
</style>

<header
    in:fade
    class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10"
    style="">
    <div class="container">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-end">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        <span class="m-2">تفاصيل الطلب</span>
                        <div class="page-header-icon">
                            <i class="fa fa-cart-plus" />
                        </div>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div in:fade class="container mt-n5">
    <div class="card">
        <div class="card-header">تفاصيل الطلب</div>
        {#if !is_loading && data}
            <div class="card-body">
                <div>
                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            المستلم:
                        </div>
                        <div
                            class="col-lg-9 col-xl-4 col-form-label text-lg-right rtl">
                            {data.receiver}
                        </div>
                    </div>

                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            الحالة:
                        </div>
                        <div
                            class="col-lg-9 col-xl-4 col-form-label text-lg-right rtl">
                            <span
                                class="text-primary">{data.status.status}</span>
                        </div>
                    </div>

                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            عنوان المستلم:
                        </div>
                        <div
                            class="col-lg-9 col-xl-4 col-form-label text-lg-right rtl">
                            {data.receiver_address}
                        </div>
                    </div>

                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            رقم المستلم 1:
                        </div>
                        <div
                            class="col-lg-9 col-xl-4 col-form-label text-lg-right">
                            {data.receiver_phone}
                        </div>
                    </div>

                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            رقم المستلم 2:
                        </div>
                        <div
                            class="col-lg-9 col-xl-4 col-form-label text-lg-right">
                            {data.receiver_phone1 || 'لا يوجد'}
                        </div>
                    </div>

                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            المكان:
                        </div>
                        <div
                            class="col-lg-9 col-xl-4 col-form-label text-lg-right rtl">
                            {data.destination.destination}
                        </div>
                    </div>

                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            Express:
                        </div>
                        <div
                            class="col-lg-9 col-xl-4 col-form-label text-lg-right rtl">
                            {#if data['express']}
                                <p class="text-primary m-0">نعم</p>
                            {:else}
                                <p class="text-danger m-0">كلا</p>
                            {/if}
                        </div>
                    </div>

                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            دفع نقدي:
                        </div>
                        <div
                            class="col-lg-9 col-xl-4 col-form-label text-lg-right rtl">
                            {#if data['cash']}
                                <p class="text-primary m-0">نعم</p>
                            {:else}
                                <p class="text-danger m-0">كلا</p>
                            {/if}
                        </div>
                    </div>

                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            اجرة النقل:
                        </div>
                        <div
                            class="col-lg-9 col-xl-4 col-form-label text-lg-right rtl">
                            {parseInt(data.delivery_cost).toLocaleString(
                                'us-US',
                                {
                                    style: 'currency',
                                    currency: 'IQD',
                                    minimumFractionDigits: 0,
                                }
                            )}
                        </div>
                    </div>

                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            نوع المحتوى:
                        </div>
                        <div
                            class="col-lg-9 col-xl-4 col-form-label text-lg-right rtl">
                            {data.comment || 'لا يوجد'}
                        </div>
                    </div>

                    {#if data?.items.length}
                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            البضائع:
                        </div>
                        <div class="col-lg-9 col-xl-4 rtl" />
                    </div>
                    {/if}
                    

                    {#each data?.items as item, i (item)}
                        <div
                            animate:flip={{ duration: 1000 }}
                            in:fly={{ y: 100, duration: 1000 }}
                            class="orders-items">
                            <div class="row rtl">
                                <div class="col-3">الاسم</div>
                                <div class="col-2">التكلفة</div>
                                <div class="col-2">الكمية</div>
                                <div class="col-4">الملاحظات</div>
                                <div class="col-1" />
                            </div>
                            <div class="row rtl">
                                <div class="item col-3">{item.name}</div>
                                <div class="item col-2">
                                    {parseInt(item.cost).toLocaleString(
                                        'us-US',
                                        {
                                            style: 'currency',
                                            currency: 'IQD',
                                            minimumFractionDigits: 0,
                                        }
                                    )}
                                </div>
                                <div class="item col-2">{item.qty}</div>
                                <div class="item col-4">{item.comment || 'لا يوجد'}</div>
                                <div
                                    class="col-1"
                                    style="display: flex; align-items: center;" />
                            </div>
                        </div>
                    {/each}
                    <div class="row items-total rtl">
                        المجموع:
                        {parseInt(data.total).toLocaleString('us-US', {
                            style: 'currency',
                            currency: 'IQD',
                            minimumFractionDigits: 0,
                        })}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-lg-9">
                        <button
                            on:click={() => delete_order()}
                            class="btn btn-danger font-weight-bold mr-2">مسح</button>
                    </div>
                    <div class="col-lg-3" />
                </div>
            </div>
        {:else}
            <div class="card-body">
                <div>
                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            <Skeleton height="10" width="65">
                                <rect
                                    width="65"
                                    height="10"
                                    x="0"
                                    y="0"
                                    rx="5"
                                    ry="5" />
                            </Skeleton>
                        </div>
                        <div
                            class="col-lg-9 col-xl-4 d-flex align-items-center justify-content-end">
                            <Skeleton height="10" width="200">
                                <rect
                                    width="200"
                                    height="10"
                                    x="0"
                                    y="0"
                                    rx="5"
                                    ry="5" />
                            </Skeleton>
                        </div>
                    </div>

                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            <Skeleton height="10" width="65">
                                <rect
                                    width="65"
                                    height="10"
                                    x="0"
                                    y="0"
                                    rx="5"
                                    ry="5" />
                            </Skeleton>
                        </div>
                        <div
                            class="col-lg-9 col-xl-4 d-flex align-items-center justify-content-end">
                            <Skeleton height="10" width="200">
                                <rect
                                    width="200"
                                    height="10"
                                    x="0"
                                    y="0"
                                    rx="5"
                                    ry="5" />
                            </Skeleton>
                        </div>
                    </div>

                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            <Skeleton height="10" width="65">
                                <rect
                                    width="65"
                                    height="10"
                                    x="0"
                                    y="0"
                                    rx="5"
                                    ry="5" />
                            </Skeleton>
                        </div>
                        <div
                            class="col-lg-9 col-xl-4 d-flex align-items-center justify-content-end">
                            <Skeleton height="10" width="200">
                                <rect
                                    width="200"
                                    height="10"
                                    x="0"
                                    y="0"
                                    rx="5"
                                    ry="5" />
                            </Skeleton>
                        </div>
                    </div>

                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            <Skeleton height="10" width="65">
                                <rect
                                    width="65"
                                    height="10"
                                    x="0"
                                    y="0"
                                    rx="5"
                                    ry="5" />
                            </Skeleton>
                        </div>
                        <div
                            class="col-lg-9 col-xl-4 d-flex align-items-center justify-content-end">
                            <Skeleton height="10" width="200">
                                <rect
                                    width="200"
                                    height="10"
                                    x="0"
                                    y="0"
                                    rx="5"
                                    ry="5" />
                            </Skeleton>
                        </div>
                    </div>
                </div>
            </div>
        {/if}
    </div>
</div>
