.side-panel {
    // margin-top: 84px;
    margin-top: 54px;
    height: calc(100vh - 54px);
    // height: calc(100vh - 54px - 30px);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 54px;
    background: #000000;
    color: #fff;
    z-index: 1;

    .icon-btn {
        cursor: pointer;
        margin: 5px 0;
    }

    .icon-btn.last {
        margin-top: auto;
    }
}


.settings-dialog {
    padding: 0 100px;

    .p-field {
        margin: 5px;
        margin-bottom: 15px;
    }
}