<p-dialog header="Settings" [(visible)]="display" 
[transitionOptions]="'200ms'" [draggable]="false" [position]="'top'" [modal]="true">
<div class="settings-dialog">

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <label for="firstname1">SIP User</label>
            <input id="firstname1" [(ngModel)]="sipUser" type="text" pInputText> 
        </div>
        <div class="p-field p-col">
            <label for="lastname1">SIP Password</label>
            <input id="lastname1" [(ngModel)]="sipPassword" type="password" pInputText> 
        </div>
        <div *ngIf="!isFirefox && outputDevices?.length" class="p-field p-col">
            <label for="lastname1">Output Device</label>
            <p-dropdown name="dropdown1" appendTo="body" [options]="outputDevices" [(ngModel)]="selectedOutputDevice" [optionLabel]="'label'" [optionValue]="'deviceId'" optionDisabled="inactive" [placeholder]="'Select Device'" (onChange)="onChange()"></p-dropdown>
        </div>
        <div *ngIf="inputDevices?.length"  class="p-field p-col">
            <label for="lastname1">Input Device</label>
            <p-dropdown name="dropdown1" appendTo="body" [options]="inputDevices" [(ngModel)]="selectedInputDevice" [optionLabel]="'label'" [optionValue]="'deviceId'" optionDisabled="inactive" [placeholder]="'Select Device'" (onChange)="onChange()"></p-dropdown>
        </div>
        <div class="p-field p-col">
            <button pButton pRipple (click)="saveSettings()" type="button" label="Save"></button>
        </div>
    </div>

</div>


</p-dialog>

<div class="side-panel">
    <div class="icon-btn">
        <img src="/assets/images/svg/history.svg" width="28" height="28">
    </div>
   <div class="icon-btn">
        <img src="/assets/images/svg/dashboard.svg" width="28" height="28">
    </div>
    <div (click)="showSettings()" class="icon-btn last">
        <img src="/assets/images/svg/settings.svg" width="28" height="28">
    </div>
</div>