.side-panel {
  margin-top: 54px;
  height: calc(100vh - 54px);
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 54px;
  background: #000000;
  color: #fff;
  z-index: 1;
}

.side-panel .icon-btn {
  cursor: pointer;
  margin: 5px 0;
}

.side-panel .icon-btn.last {
  margin-top: auto;
}

.settings-dialog {
  padding: 0 100px;
}

.settings-dialog .p-field {
  margin: 5px;
  margin-bottom: 15px;
}
/*# sourceMappingURL=side-panel.component.css.map */