<block-ui> </block-ui>
<div class="content-wrapper">
    <div class="content-body">
        <section id="pricing-plan">
            <!-- title text and switch button -->
            <div class="text-center px-1 px-sm-auto">
                <div>
                    <a routerLink="/"><img src="assets/images/logo/logo3.png" width="90" alt=""></a>

                </div>
                <h1 class="mt-5">Join Dentwe Network!</h1>
                <p class="mb-2 pb-75">
                    Choose your career type to register your Dentwe account
                </p>
            </div>
            <!--/ title text and switch button -->

            <!-- pricing plan cards -->
            <div *ngIf="!selectedAccountType" class="row pricing-card">
                <div class="col-12 col-sm-offset-2 col-sm-10 col-md-12 col-lg-offset-2 col-lg-10 mx-auto px-4 px-sm-auto">
                    <div class="row justify-content-center">
                        <!-- basic plan -->
                        <div *ngFor="let account of accountTypes" class="col-12 col-md-4 account-type">
                            <div class="card basic-pricing text-center {{account.cssClass}}">
                                <div class="card-body">
                                    <img height="140" src="{{account.image}}" class="{{account.imageClass}}" alt="svg img" />
                                    <h3>{{account.title}}</h3>

                                    <div class="d-sm-none" [ngbCollapse]="!account.is_collapsed">
                                        <p class="card-text">A simple start for everyone</p>
                                        <ul class="list-group list-group-circle text-left card-features">
                                            <li *ngFor="let feature of account.features" class="list-group-item ng-star-inserted"> {{feature}} </li>
                                        </ul>
                                    </div>
                                    <button
                                            type="button"
                                            class="d-sm-none btn btn-outline-primary"
                                            (click)="account.is_collapsed = !account.is_collapsed"
                                            [attr.aria-expanded]="!account.is_collapsed"
                                            aria-controls="collapseExample4"
                                            rippleEffect
                                    >
                                        <div *ngIf="!account.is_collapsed">Show Features <i class="fa fa-arrow-down"></i></div>
                                        <div *ngIf="account.is_collapsed">Hide Features <i class="fa fa-arrow-up"></i></div>


                                    </button>
                                    <p class="d-none d-sm-block card-text">A simple start for everyone</p>
                                    <ul class="d-none d-sm-block list-group list-group-circle text-left card-features">
                                        <li *ngFor="let feature of account.features" class="list-group-item ng-star-inserted"> {{feature}} </li>
                                    </ul>
                                    <button (click)="selectAccountType(account)" class="btn btn-block btn-primary mt-2 waves-effect waves-float waves-light" rippleEffect>Register</button>
                                </div>
                            </div>
                        </div>
                        <!--/ basic plan -->


                    </div>
                    <p class="text-center mt-2">
                        <a routerLink="/login"><i data-feather="chevron-left"></i> Back to login</a>
                    </p>
                </div>
            </div>
            <!--/ pricing plan cards -->

            <div *ngIf="selectedAccountType" class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Register Form</h4>
                            </div>
                            <div class="card-body">
                                <form class="form form-vertical" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                    <div class="row">
                                        <div *ngIf="selectedAccountType.name != 'clinic'" class="col-12">
                                            <div class="form-group">
                                                <label for="first-name-icon">First Name</label>
                                                <input formControlName="first_name" [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" type="text" id="first-name-icon" class="form-control" name="fname-icon" placeholder="First Name">
                                                <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                                                    <div *ngIf="f.first_name.errors.required">First Name is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="selectedAccountType.name != 'clinic'" class="col-12">
                                            <div class="form-group">
                                                <label for="first-name-icon">Last Name</label>
                                                    <input formControlName="last_name" [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }" type="text" id="last-name-icon" class="form-control" name="lname-icon" placeholder="Last Name">
                                                    <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                                                        <div *ngIf="f.last_name.errors.required">Last Name is required</div>
                                                    </div>
                                            </div>
                                        </div>
                                        <div *ngIf="selectedAccountType.name == 'clinic'" class="col-12">
                                            <div class="form-group">
                                                <label for="first-name-icon">Clinic Name</label>
                                                <input formControlName="clinic_name" [ngClass]="{ 'is-invalid': submitted && f.clinic_name.errors }" type="text" id="clinic-name-icon" class="form-control" name="lname-icon" placeholder="Clinic Name">
                                                <div *ngIf="submitted && f.clinic_name.errors" class="invalid-feedback">
                                                    <div *ngIf="f.clinic_name.errors.required">Clinic Name is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="email-id-icon">Email</label>
                                                    <input formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors || emailTakenError }" type="email" id="email-id-icon" class="form-control" name="email-id-icon" placeholder="Email">
                                                    <div *ngIf="submitted && f.email.errors || emailTakenError" class="invalid-feedback">
                                                        <div *ngIf="f.email.errors?.required">Email is required</div>
                                                        <div *ngIf="f.email.errors?.email">Email must be a valid email address</div>
                                                        <div *ngIf="emailTakenError">{{emailTakenError}}</div>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="contact-info-icon">Mobile</label>
                                                    <ngx-intl-tel-input   class="form-group" 
                                                        id="phone"
                                                        formControlName="phone"
                                                        [cssClass]="{'custom': 1, 'is-invalid': submitted && f['phone']?.status == 'INVALID'}"
                                                        [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                                                        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
                                                        [selectedCountryISO]="CountryISO.Iraq" [maxLength]="15"
                                                        [phoneValidation]="true" [separateDialCode]="separateDialCode"
                                                        [numberFormat]="PhoneNumberFormat.National" name="phone">
                                                    </ngx-intl-tel-input>
                                                    
                                                    <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                                        <div *ngIf="f.phone.errors.required">Phone number is required</div>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <!--Using ng-option and for loop-->

                                                <label for="country">Country</label>
                                                <div class="input-group input-group-merge">
                                                    <ng-select [ngClass]="{ 'is-invalid': submitted && f.country.errors }" formControlName="country" placeholder="Country" class="w-100" id="country" name="country">
                                                        <ng-option *ngFor="let c of config.countries" [value]="c.value">{{c.text}}</ng-option>
                                                    </ng-select>
                                                    <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                                        <div *ngIf="f.country.errors.required">Country is required</div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12 mb-2">
                                            <div class="custom-control custom-switch">
                                                <input  formControlName="agree" type="checkbox" class="custom-control-input"
                                                  id="accountSwitch1" />
                                                <label class="custom-control-label" for="accountSwitch1"></label>
                                                I agree to Dentwe <a target="_blank" [routerLink]="['/terms-of-use']">Terms</a> and <a target="_blank" [routerLink]="['/privacy-policy']">Privacy</a>
                                              </div>
                                        </div>

                                        <div class="col-12">
                                            <button (click)="selectAccountType(null)" type="reset" rippleeffect="" class="btn btn-outline-secondary waves-effect">Back</button>
                                            <button [disabled]="!registerForm.value.agree" type="submit" class="btn pull-right btn-primary waves-effect waves-float waves-light">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- pricing free trial -->
            <div class="pricing-free-trial">
                <div class="row">
                    <div class="col-12 col-lg-10 col-lg-offset-3 mx-auto">
                        <div class="pricing-trial-content d-flex justify-content-between">
                            <div class="text-center text-md-left mt-3">
                                <h3 class="text-primary">About Dentwe!</h3>
                                <p class="pr-2">
                                    We welcome you to Dentwe, the world's largest Dentists network with more than 170 countries and territories.
                                    <br><b>Our Vision </b>
                                    is to Create economic opportunities for every dentists and dental students with facilitate finding them by their patients in the global labor market.
                                    <br><b>Our Mission </b>
                                    is to connect dentists from around the world and sharing the experience individually to help them be more productive and achieve all of their work goals. Moreover to make easy search for every dental clinic by everyone.
                                </p>
                            </div>

                            <!-- image -->
                            <img
                                    width="240" src="assets/pictures/dental-care-4414041-3658794.png"

                                    alt="svg img"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <!--/ pricing free trial -->


        </section>
    </div>
</div>
