@import '/src/@core/scss/base/pages/page-pricing';
@import '/src/@core/scss/angular/libs/form-wizard.component.scss';
@import '/src/@core/scss/angular/libs/select.component.scss';

.card:hover {
  box-shadow: 0 0 0pt 1pt $primary;
}

.account-type {
  .card {
    //height: 540px;
    .card-features {
      min-height: 200px;
    }
    .card-body > button {
      //position: absolute;
      //bottom: 25px;
      //width: 90%;
      //left: 50%;
      //transform: translate(-50%, 0);
    }
  }
}
