{{define "title"}}
    Polymath | Home
{{end}}

{{define "content"}}

    <div class="container">
        <p>preview some charts</p>

        <div class="profile">
            <div class="avatar">
                <img src="{{.user.ProfilePicture.String}}" alt="">
            </div>
            <div class="mt-2 text-capitalize">
                {{.user.FirstName.String}}
            </div>
        </div>
    </div>

{{end}}
