{{define "body"}}
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light">Polymath</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light {{if eq .url "/home" }} active {{end}} {{if eq .url "/" }} active {{end}} p-3" href="/home">Home</a>
                <a class="list-group-item list-group-item-action list-group-item-light {{if eq .url "/partner" }} active {{end}} p-3" href="/partner">Partner</a>
                <a class="list-group-item list-group-item-action list-group-item-light {{if eq .url "/packages" }} active {{end}} p-3" href="/packages">Packages</a>
                <a class="list-group-item list-group-item-action list-group-item-light {{if eq .url "/upload" }} active {{end}} p-3" href="/upload">Upload</a>
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-capitalize" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ .user.FirstName.String}}</a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/profile">Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/logout">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div class="container-fluid">
                {{template "content" .}}
            </div>
        </div>
    </div>
{{end}}
