{{define "title"}}
    Polymath | Login
{{end}}

{{define "body"}}
    <section style="height: 100vh; background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-5">
                    <div class="card rounded-3 text-black">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center mb-5">
                                        <img src="https://pbs.twimg.com/profile_images/1547908008599961600/6gM22rSN_400x400.jpg" style="width: 100px;" alt="logo">
                                    </div>

                                    <form method="post" action="/login">
                                        <p>Please login to your account</p>

                                        {{ if .error }}
                                            <div class="alert alert-warning d-flex align-items-center" role="alert">
                                                <div>
                                                    {{.error}}
                                                </div>
                                            </div>
                                        {{end}}


                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="email">Email</label>
                                            <input type="email" name="email" id="email" class="form-control" placeholder="Email address" value="keepgoing.ahmed@gmail.com"/>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="password">Password</label>
                                            <input type="password" name="password" id="password" class="form-control" value="aa" />
                                        </div>

                                        <div class="float-end mb-5">
                                            <button class="btn btn-primary" type="submit">Log in</button>
                                        </div>



                                    </form>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{end}}
