{{define "title"}}
    Polymath | New Upload
{{end}}

{{define "content"}}
    <div class="container mt-4">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-8">
                <form enctype="multipart/form-data" method="post" action="/new-upload">
                    <p>Please select video file to upload</p>

                    {{ if .error }}
                        <div class="alert alert-warning d-flex align-items-center" role="alert">
                            <div>
                                {{.error}}
                            </div>
                        </div>
                    {{end}}


                    <div class="form-outline mb-4">
                        <label class="form-label" for="email">File</label>
                        <input type="file" name="file" id="file" class="form-control" />
                    </div>


                    <div class="float-end mb-5">
                        <button class="btn btn-primary" type="submit">submit</button>
                    </div>



                </form>
            </div>
        </div>
    </div>
{{end}}
