{{define "title"}}
    Polymath | New Package
{{end}}

{{define "content"}}

    <div class="container mt-4">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-8">
                <form method="post" action="/new-package">
                    <p>Please fill package information</p>

                    {{ if .error }}
                        <div class="alert alert-warning d-flex align-items-center" role="alert">
                            <div>
                                {{.error}}
                            </div>
                        </div>
                    {{end}}


                    <div class="form-outline mb-4">
                        <label class="form-label" for="name">Name</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Premium" />
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="price">Price</label>
                        <input type="number" name="price" id="price" class="form-control"/>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="type">Type</label>
                        <select name="type" id="type" class="form-control">
                            <option value="1month">1 month</option>
                            <option value="2month">2 month</option>
                            <option value="3month">3 month</option>
                        </select>
                    </div>


                    <div class="float-end mb-5">
                        <button class="btn btn-primary" type="submit">submit</button>
                    </div>



                </form>
            </div>
        </div>
    </div>

{{end}}
