{{define "title"}}
    Polymath | Packages
{{end}}

{{define "content"}}
    <div class="container mt-1">
        <div class="row">
            <div class="col-12">
                <p>Create new package</p>
                <a href="/new-package" class="btn btn-info float-end">Create Package</a>
            </div>
        </div>
        <div class="mt-5">
            <hr>
        </div>
        <div class="col-12">
            <p>My Packages</p>
            {{ range .packages }}
                <ul class="list-group mt-2 mb-5">
                    <li class="list-group-item">Name: {{ .Name.String }}</li>
                    <li class="list-group-item">Price: ${{ .Price.Int64 }}</li>
                    <li class="list-group-item">Type: {{ .Type.String }}</li>
                </ul>
            {{ end }}
        </div>
    </div>
{{end}}
