{{define "title"}}
    Polymath | Partner
{{end}}

{{define "content"}}
    <div class="container mt-1">
       <div class="row">
           <div class="col-12">
               <p>To become a partner with polymath and start earn money, you need to link first with stripe</p>
               {{if .stripeVerified }}
                   <a href="/partner/login" class="btn btn-outline-success float-end">Account is Linked (click to login)</a>

               {{else}}
                   <a href="/partner/link" class="btn btn-info float-end">Link with Stripe</a>

               {{end}}
           </div>
       </div>
    </div>
{{end}}
