{{define "title"}}
    Polymath | Profile
{{end}}

{{define "content"}}

    <div class="profile">
        <div class="avatar">
            <img src="{{.user.ProfilePicture.String}}" alt="">
        </div>
        <div class="mt-2 text-capitalize">
            {{.user.FirstName.String}}
        </div>
    </div>

{{end}}
