{{define "title"}}
    Polymath | Upload
{{end}}

{{define "content"}}

    <div class="container mt-1">
        <div class="row">
            <div class="col-12">
                <p>Upload Video</p>
                <a href="/new-upload" class="btn btn-info float-end">New Upload</a>
            </div>
        </div>
        <div class="col-12">
            <p>My Files</p>
            {{ range .uploadedFiles }}
                <ul class="list-group mt-2 mb-5">
                    <li class="list-group-item">File: {{ .File.String }}</li>
                    <li class="list-group-item">Uplaoded at: {{ .CreatedAt.String }}</li>
                </ul>
            {{ end }}
        </div>
    </div>

{{end}}
