<p-dialog [(visible)]="display" [modal]="false" [draggable]="false" [closable]="false" [closeOnEscape]="false"
    [showHeader]="false" [styleClass]="'call-dialog'">
    <ng-template pTemplate>
        <div class="incomming-call-card">
            <ng-container *ngIf="sip.slots$ | async as slots">
                <div *ngIf="!slots[sip.currentSlot].session" class="empty-card">
                    <img src="/assets/images/svg/notifications_paused.svg" width="64" height="64">
                    <div>{{slots[sip.currentSlot].name}}</div>
                </div>
                <div *ngIf="slots[sip.currentSlot].session" class="contact-card">
                    <div class="head">
                        <div class="slot">
                            {{slots[sip.currentSlot].name}}
                        </div>
                        <div *ngIf="slots[sip.currentSlot].session" class="image">
                            <img src="/assets/images/svg/user.svg" width="32" height="32">
                        </div>
                        <div *ngIf="slots[sip.currentSlot].did" class="status">
                            <p><b>{{slots[sip.currentSlot].did}}</b></p>
                            <ng-container *ngIf="slots[sip.currentSlot].type == 'inbound'">
                                <p *ngIf="!slots[sip.currentSlot].answered">Incomming...</p>
                                <p *ngIf="!slots[sip.currentSlot].answered">{{slots[sip.currentSlot].duration.ringStart | timeago:true}}</p>
                                <p *ngIf="slots[sip.currentSlot].answered">Connected</p>
                            </ng-container>
                            <ng-container *ngIf="slots[sip.currentSlot].type == 'outbound'">
                                <p *ngIf="!slots[sip.currentSlot].answered">Calling...</p>
                                <p *ngIf="!slots[sip.currentSlot].answered">{{slots[sip.currentSlot].duration.ringStart | timeago:true}}</p>
                                <p *ngIf="slots[sip.currentSlot].answered">Connected</p>
                            </ng-container>
                           
                        </div>
                    </div>
    

                    <ng-container *ngIf="slots[sip.currentSlot].type == 'inbound'">
                        <div *ngIf="!slots[sip.currentSlot].answered && slots[sip.currentSlot].session" class="answer-tools">
                            <div  (click)="sip.answerCall(slots[sip.currentSlot]?.session)" class="answer action">
                                <img src="/assets/images/svg/call.svg" width="20" height="20">
                            </div>
                         
                        </div>
        
                        <div *ngIf="slots[sip.currentSlot].answered" class="answer-tools">
                            <div (click)="sip.endCall(slots[sip.currentSlot]?.session)"  class="decline action">
                                <img src="/assets/images/svg/call_end.svg" width="20" height="20">
                            </div>
                            <div (click)="mute(slots[sip.currentSlot])" [ngClass]="{'muted': slots[sip.currentSlot].mute}"   class="action">
                                <img src="/assets/images/svg/mic_off.svg" width="20" height="20">
                            </div>
                            <div (click)="showTransferDialog(slots[sip.currentSlot])"  class="action">
                                <img src="/assets/images/svg/reply.svg" width="20" height="20">
                            </div>
                            <div (click)="hold(slots[sip.currentSlot])" [ngClass]="{'holded': slots[sip.currentSlot].hold == true}" class="action">
                                <img src="/assets/images/svg/pause.svg" width="20" height="20">
                            </div>
                           
                        </div>
                    </ng-container>
    
                    <ng-container *ngIf="slots[sip.currentSlot].type == 'outbound'">
                        <div *ngIf="!slots[sip.currentSlot].answered && slots[sip.currentSlot].session" class="answer-tools">
                            <div (click)="sip.endCall(slots[sip.currentSlot]?.session)"  class="decline action">
                                <img src="/assets/images/svg/call_end.svg" width="20" height="20">
                            </div>
                         
                        </div>
        
                        <div *ngIf="slots[sip.currentSlot].answered" class="answer-tools">
                            <div (click)="sip.endCall(slots[sip.currentSlot]?.session)"  class="decline action">
                                <img src="/assets/images/svg/call_end.svg" width="20" height="20">
                            </div>
                            <div (click)="mute(slots[sip.currentSlot])" [ngClass]="{'muted': slots[sip.currentSlot].mute}"  class="action">
                                <img src="/assets/images/svg/mic_off.svg" width="20" height="20">
                            </div>
                            <div (click)="showTransferDialog(slots[sip.currentSlot])"  class="action">
                                <img src="/assets/images/svg/reply.svg" width="20" height="20">
                            </div>   
                            <div (click)="hold(slots[sip.currentSlot])" [ngClass]="{'holded': slots[sip.currentSlot].hold == true}"  class="action">
                                <img src="/assets/images/svg/pause.svg" width="20" height="20">
                            </div>
                        </div>
                    </ng-container>
       
                
                </div>
            </ng-container>
           
        </div>
    </ng-template>
</p-dialog>


<p-overlayPanel #op [dismissable]="false" [showCloseIcon]="false">
    <ng-template pTemplate>
        <div class="incomming-call-card">
            <div class="contact-card">
                <div class="content">
                    <div class="image">
                        <img src="/assets/images/svg/user.svg" width="32" height="32">
                    </div>
                    <div class="info">
                        <div><b>+947719729219</b></div>
                        <div>Ahmed Mohammed</div>
                        <div>B2C</div>

                    </div>
                </div>
                <div class="answer-tools">
                    <div class="decline action">
                        <img src="/assets/images/svg/call_end.svg" width="20" height="20">
                    </div>
                    <div class="answer action">
                        <img src="/assets/images/svg/call.svg" width="20" height="20">
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>




<p-overlayPanel #dialpad [dismissable]="true" [showCloseIcon]="false">
    <ng-template pTemplate>
        <div class="callpad">
            <div class="contact-card">
                <div class="content">
                    <input #number type="text" name="numpad_number" [(ngModel)]="NNUMPAD_NUMBER">
                </div>
                <div class="dialpad-keyboard">
                    <div (click)="pushNumpadNumber(key.value)"  *ngFor="let key of NUMBPAD_KEYBOARD" class="action">
                        <div class="key">
                            <div class="content">{{key.value}}</div>
                            <div class="tip">{{key.text}}</div>
                        </div>
                    </div>


                </div>
                <div class="dialpad-actions">
                    <div (click)="sip.createCall(NNUMPAD_NUMBER); dialpad.hide();" class="call action">
                        <img src="/assets/images/svg/_call.svg" width="20" height="20">
                    </div>
                    <div (click)="popNumpadNumber()" class="backspace action">
                        <img src="/assets/images/svg/backspace.svg" width="20" height="20">
                    </div>

                </div>
            </div>
        </div>
    </ng-template>
</p-overlayPanel>


<p-overlayPanel #status [dismissable]="true" [showCloseIcon]="false">
    <ng-template pTemplate>
            <div class="status-dialog">
                <div class="ui-grid ui-grid-responsive ui-fluid" style="width: 100%;">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                            <p-listbox appendTo="body" (onChange)="onStatusChange()" [(ngModel)]="selectedStatus" [options]="statusArray" optionLabel="name" ></p-listbox>
                        </div>
                    </div>
                </div>
                </div>
    </ng-template>
</p-overlayPanel>


<p-dialog header="Transfer Call" 
[(visible)]="transferDisplay" 
(onHide)="hideTransferDialog()"
[transitionOptions]="'200ms'" [draggable]="false" [position]="'top'" [modal]="true">
<div class="transfer-dialog">

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <label for="firstname1">Number</label>
            <input id="firstname1" #phone type="text" pInputText> 
        </div>
        <div class="p-field p-col">
            <button pButton pRipple (click)="transfer(phone.value)" type="button" label="Transfer"></button>
        </div>
    </div>

</div>


</p-dialog>



<header class="header-container">
    <app-status-bar></app-status-bar>
    <div class="header">
        <div class="logo">
            <img src="/assets/images/logo.png" alt="">

        </div>
        <div class="actions">

            <div (click)="dialpad.toggle($event, area)" class="action">
                <div #area class="area"></div>
                <img src="/assets/images/svg/dialpad.svg"
                    width="30" height="30">
            </div>
            <div class="action" (click)="showDialog()" #bell>
                <ng-container *ngIf="sip.slots$ | async as slots">
                    <img *ngIf="slots[sip.currentSlot].status == 'ringing'"
                    src="/assets/images/svg/notifications_ringing.svg" width="34" height="34">
                    
                    <img *ngIf="slots[sip.currentSlot].status == 'active'"
                    src="/assets/images/svg/notifications_ringing.svg" width="34" height="34">
                
                    <img *ngIf="slots[sip.currentSlot].status == 'empty'"
                    src="/assets/images/svg/notifications.svg" width="34" height="34">
                
                </ng-container>
                <!-- <img *ngIf="(sip.status$|async)?.session_state == 'Established'"
                    src="https://s2.svgbox.net/materialui.svg?ic=notifications&color=cc9A02" width="34" height="34">
                <img *ngIf="(sip.status$|async)?.session_state == 'Incomming'"
                    src="https://s2.svgbox.net/materialui.svg?ic=notifications&color=FF9A02" width="34" height="34">
                <img *ngIf="(sip.status$|async)?.session_state == 'Terminated'"
                    src="https://s2.svgbox.net/materialui.svg?ic=notifications&color=000" width="34" height="34">
                <img *ngIf="!(sip.status$|async)?.session_state"
                    src="https://s2.svgbox.net/materialui.svg?ic=notifications&color=000" width="34" height="34"> -->
            </div>
            <div (click)="status.toggle($event, area2)" class="action status">
                <div #area2 class="area2"></div>
                {{selectedStatus['name']}}
            </div>

        </div>
        <div class="spacer"></div>
    </div>
</header>

<div class="slots">
    <div (click)="sip.currentSlot = i; display=true" *ngFor="let slot of (sip.slots$ | async); let i = index" class="slot {{slot?.status}} {{slot?.type}}">
        <div>
            {{slot?.name}}
            <span *ngIf="sip.currentSlot == i">(active)</span>
        </div>

        <img *ngIf="slot?.status == 'empty'" src="/assets/images/svg/rings.svg" width="28" height="28">
        <img (click)="sip.endCall(slot?.session)" *ngIf="slot?.status == 'active'" src="/assets/images/svg/call_end.svg" width="28" height="28">
        <!-- <img (click)="sip.answerCall(slot?.session)" *ngIf="slot?.status == 'ringing'" src="https://s2.svgbox.net/loaders.svg?ic=rings&color=000000" width="28" height="28"> -->
        <img *ngIf="slot?.status == 'ringing'" src="/assets/images/svg/rings.svg" width="28" height="28">
    </div>
</div>