.header-container {
    z-index: 100;
    position: absolute;
    width: 100%;

    top: 0;
    left: 0;
}

.header {
    height: 54px;
    background: #F1F1F1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;


    .logo {
        padding-left: 25px;
        img {
            width: 38px;
        }
    }

    .actions {
        display: flex;
        align-items: center;
        

        .action {
            cursor: pointer;
            margin: 0 5px;
            position: relative;
            overflow: hidden;

            .area {
                position: absolute;
                width: 100%;
                left: -5px;
                height: 100%;
                // background-color: rgba(238, 130, 238, 0.551);
            } 
            
            .area2 {
                position: absolute;
                width: 100%;
                left: 25px;
                height: 100%;
                // background-color: rgba(238, 130, 238, 0.551);
            }

        }

        .status {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 109px;
            height: 35px;
            background: #C4C4C4;
            border-radius: 2px;
        }
        
    }
}



.incomming-call-card {

  
    position: relative;
    // right: 50%;
    // top: 0;
    // transform: translate(50%, 0);
    // height: 200px;
    background: #F1F1F1;
    color: #495057;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    justify-content: center;
}



.empty-card {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 400px;
    align-items: center;
    justify-content: center;
}

.contact-card {
    position: relative;
    height: 100%;
    display: flex;
    // align-items: center;
    flex-direction: column;
    padding: 15px;
    width: 400px;
    
    margin: 4px;


    .head {
        display: flex;

        .slot {
            position: absolute;
            left: 20px;
            bottom: 20px;
        }

        .image {
            flex: 0 0 auto;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: #fff;
            margin-right: 10px;
        }

        .status {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

    }

  

    .answer-tools {
        margin-top: auto;
        display: flex;
        justify-content: center;

        .action {
            cursor: pointer;
            margin: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #E0E0E0;

            &.holded {
                background-color: #ffffff;
            }

            &.muted {
                background-color: #ffffff;
            }
        }

        .decline.action {
            background-color: #FF0000;
            color: #fff;

        }
        .answer.action {
            background-color: #2fbb20;
            color: #fff;

        }
    }

}








.callpad {
    position: absolute;
    right: 50%;
    top: 0;
    transform: translate(50%, 0);
    padding-bottom: 30px;

    width: 300px;
    background: #F1F1F1;
    color: #495057;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        
        input {
            background-color: transparent;
            border: none;
            font-size: 20px;
            text-align: center;
        }
    }

    .dialpad-keyboard {
        padding: 15px;

        // margin-top: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .action {
            cursor: pointer;

            &:hover {
                background-color: #c8c8c8;
            }

            margin: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #E0E0E0;

            .key {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .content {
                    font-size: 18px;
                }

                .tip {
                    font-size: 9px;
                }
            }
        }
    }

    .dialpad-actions {
        display: flex;
        justify-content: center;
        .action {
            &:hover {
                background-color: #c8c8c8;
            }
            margin: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #E0E0E0;
        }
    }
    
}






.slots {
    position: absolute;
    // top: 26px;
    bottom: 10px;
    right: 10px;
    // z-index: 2223;
    z-index: 3;
    display: flex;

    .slot {
        cursor: pointer;
       
        &.active {
            background-color: rgba(130, 238, 141, 0.945);
            img {
                cursor: pointer;
            }
        }

        &.outbound {
            background-color: rgba(238, 236, 130, 0.945) !important;
            img {
                cursor: pointer;
            }
        }

        &.active.outbound {
            background-color: rgba(130, 238, 141, 0.945) !important;
            img {
                cursor: pointer;
            }
        }
        
        &.ringing {
            background-color: rgba(238, 130, 148, 0.945);
            img {
                cursor: pointer;
            }
        }

        margin: 5px;
        background-color: rgba(192, 192, 192, 0.945);
        height: 50px;
        // width: 50px;
        padding: 5px;
        padding-left: 10px;
        // border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin: 10px;
        }
    }
}


.transfer-dialog {
    padding: 0 50px;

    .p-field {
        margin: 5px;
        margin-bottom: 15px;
    }
}

.status-dialog {
    position: absolute;
    right: 50%;
    top: 0;
    transform: translate(50%, 0);
    width: 200px;
    background: #F1F1F1;
    color: #495057;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
    display: flex;
    align-items: center;
    justify-content: center;


   

}