<div
        class="chat"
        [ngClass]="{
                      'chat-left': chatRef?.from_user?.id != auth?.user?.id
                    }"
>
    <div class="chat-avatar">
                      <span class="avatar box-shadow-1 cursor-pointer">
                        <img
                                *ngIf="
                            chatRef?.from_user?.id == auth?.user?.id;
                            else alternateAvatar
                          "
                                [routerLink]="['/profile', chatRef?.from_user?.id]"
                                [src]="
                            chatRef?.from_user?.avatar
                              ? config.getBaseUrl() +
                                'storage/images/avatars/' +
                                chatRef?.from_user?.avatar
                              : 'assets/images/illustration/tooth.svg'
                          "
                                alt="avatar"
                                height="36"
                                width="36"
                        />

                        <ng-template #alternateAvatar>
                          <img
                                  [routerLink]="['/profile', chatRef?.from_user?.id]"
                                  [src]="
                              chatRef?.from_user?.avatar
                                ? config.getBaseUrl() +
                                  'storage/images/avatars/' +
                                  chatRef?.from_user?.avatar
                                : 'assets/images/illustration/tooth.svg'
                            "
                                  alt="avatar"
                                  height="36"
                                  width="36"
                          />
                        </ng-template>
                      </span>
    </div>
    <div class="chat-body">
        <div class="chat-content">
            <p *ngIf="chatRef.type == 1">{{ chatRef.text }}</p>
            <div *ngIf="chatRef.type == 2">

                <lightgallery class="gallery grid-layout-1">
                    <div class="gallery__item gallery__item--1" [attr.data-src]="config.getBaseUrl() + 'storage/images/messages/' + chatRef.mediaFileName">
                        <img style="max-width: 30vw"  class="img-fluid rounded mb-75 gallery__img cursor-pointer" [src]="config.getBaseUrl() + 'storage/images/messages/' + chatRef.mediaFileName" alt="" />
                    </div>
                </lightgallery>

            </div>
        </div>
    </div>
</div>
