
<p-dialog header="Reactions" [(visible)]="reactions_visiable" [blockScroll]="true" [resizable]="false" [style]="{width: '40vw'}"
          [draggable]="false"
          [modal]="true"
          [closable]="true">

    <app-view-reactions *ngIf="reactions_visiable" [type]="activeReactionType" [data]="activeReactionData" [active]="activeReaction"></app-view-reactions>

</p-dialog>
<div class="replies">
    <ng-template [ngIf]="show">
        <div *ngFor="let comment of replies" class="comment d-flex align-items-start" id="reply-{{comment?.id}}">
            <div class="avatar mt-25 mr-75">
                <img  [routerLink]="['/profile/', comment.user.id]" [src]="comment.user?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + comment.user?.avatar : '/assets/images/avatars/placeholder.jpg'" alt="Avatar" height="34" width="34" />
            </div>
            <div class="d-flex flex-column w-100">
                <div class="comment-body w-100 p-1 position-relative " [ngClass]="{'border-primary': nav_reply_id == comment.id}">
                    <div class="d-flex align-items-center">
                        <span class="mb-0 font-weight-bold comment-font"><a [routerLink]="['/profile/', comment.user.id]">{{ comment?.user?.first_name + ' ' + (comment?.user?.last_name || '') }}</a></span>
                        <small style="margin-left: 5px" class="text-muted">{{comment?.updated_at | timeago}}</small>
                        <div ngbDropdown class="ml-auto">
                            <div
                                    role="button"
                                    class="hide-arrow"
                                    id="post_more"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false"
                                    ngbDropdownToggle
                            >
                                <i data-feather="more-vertical" [size]="18"></i>
                            </div>
                            <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="post_more">
                                <div ngbDropdownItem (click)="reportComment()"><i data-feather="flag" class="mr-50"></i>Report</div>
                                <div *ngIf="comment?.user?.id == auth?.user?.id" (click)="deleteComment(comment)" ngbDropdownItem><i data-feather="trash-2" class="mr-50"></i>Delete</div>
                            </div>
                        </div>
                    </div>
                    <div class="">{{ comment.text }}</div>

                </div>
                <div class="comment-like d-flex align-items-center flex-wrap">
                    <div appReactions class="cursor-pointer like-btn">
                        <app-reactions #replyReactions [data]="comment" type="reply" styleClass="reaction-comment"></app-reactions>
                        <span *ngIf="comment.my_reaction"  (click)="removeReplyReaction(comment)" class="">
                                 <div>
                                     <img src="{{comment?.my_reaction?.reaction.src}}" alt="">
                                 </div>
                               </span>
                        <ng-template [ngIf]="!comment.my_reaction">
                            <div (click)="replyReactions.react(1)">
                                <i class="pi pi-thumbs-up font-medium-3"></i>
                            </div>

                        </ng-template>
                    </div>
                    <div class="d-flex ml-auto align-items-center">
                        <div (click)="showReactionsDialog('like', 'reply', comment)" *ngIf="comment.like_reactions_count > 0" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">
                            <img class="reaction-count-image" width="18" src="assets/icons/like.svg" alt="">
                            <span> {{comment.like_reactions_count}}</span>
                        </div>

                        <div (click)="showReactionsDialog('laugh', 'reply', comment)" *ngIf="comment.laugh_reactions_count > 0" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">
                            <img class="reaction-count-image" width="18" src="assets/icons/laugh.svg" alt="">
                            <span> {{comment.laugh_reactions_count}}</span>
                        </div>

                        <div (click)="showReactionsDialog('love', 'reply', comment)" *ngIf="comment.love_reactions_count > 0" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">
                            <img class="reaction-count-image" width="18" src="assets/icons/love.svg" alt="">
                            <span> {{comment.love_reactions_count}}</span>
                        </div>

                        <div (click)="showReactionsDialog('sad', 'reply', comment)" *ngIf="comment.sad_reactions_count > 0" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">
                            <img class="reaction-count-image" width="18" src="assets/icons/sad.svg" alt="">
                            <span> {{comment.sad_reactions_count}}</span>
                        </div>

                        <div (click)="showReactionsDialog('angry', 'reply', comment)" *ngIf="comment.angry_reactions_count > 0" class="reaction-count-group badge badge-pill badge-light-primary d-flex align-items-center">
                            <img class="reaction-count-image" width="18" src="assets/icons/angry.svg" alt="">
                            <span> {{comment.angry_reactions_count}}</span>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </ng-template>
    <!--               s-->
    <div *ngIf="loading" style="margin: 15px 0;" class="d-flex align-items-start">
        <div class="mt-25 mr-75">
            <p-skeleton shape="circle" size="3rem" styleClass="p-mr-2"></p-skeleton>
        </div>
        <div class="w-100">
            <p-skeleton width="100%" height="50px" borderRadius="18px"></p-skeleton>
        </div>
    </div>
    <!--               /s-->
    <div (click)="viewMore()" class="cursor-pointer" *ngIf="!loading && repliesCurrentPage != repliesLastPage && show">
        View more comments
    </div>
    <div *ngIf="show" class="comment-tools">
        <div class="avatar">
            <img  [src]="auth.user?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + auth.user?.avatar : '/assets/images/avatars/placeholder.jpg'" alt="Avatar" height="34" width="34" />
        </div>
        <div class="d-flex align-items-center w-100">
            <textarea [(ngModel)]="reply" (keydown.enter)="$event.preventDefault()" (keyup.enter)="postComment()"  class="comment-input" placeholder="Write a comment and press enter"></textarea>
            <button (click)="postComment()" class="ml-1 btn btn-icon rounded-circle btn-flat-light waves-effect" rippleeffect><i class="pi pi-send"></i></button>
        </div>
    </div>
</div>
