/*----------------------------
      Navbar & Header
-----------------------------*/
.header {
    position: relative;
    z-index: 1000;
}

/* Navbar */
.navbar {
    padding: 0;
    height: 80px;
    max-height: 100px;
    background-color: $color-white;

    >.container,
    >.container-fluid {
        position: relative;
        height: 80px;
    }

    .navbar-brand {
        padding: 0;
        margin: 0;
        line-height: 80px;
    }

    .logo-light {
        display: none;
    }

    .navbar-toggler {
        padding: 0;
        border: none;
        border-radius: 0;
        width: 23px;
        position: relative;

        .menu-lines {
            display: inline-block;

            &:before,
            &:after {
                content: '';
                position: absolute;
                left: 0;
                width: 23px;
                height: 2px;
                display: inline-block;
                background-color: $color-secondary;
                @include prefix(transition, 0.3s ease, webkit moz ms o);
            }

            &:before {
                top: 0;
            }

            &:after {
                top: 12px;
            }

            span {
                position: absolute;
                top: 6px;
                left: 0;
                width: 18px;
                height: 1px;
                background-color: $color-secondary;
            }
        }

    }

    .navbar-toggler.actived .menu-lines>span {
        opacity: 0;
    }

    .navbar-toggler.actived .menu-lines:before {
        top: 0;
        @include prefix(transform, rotate(-45deg), webkit moz ms o);
    }

    .navbar-toggler.actived .menu-lines:after {
        top: 0;
        @include prefix(transform, rotate(45deg), webkit moz ms o);
    }

    .nav__item {
        position: relative;
        margin-right: 29px;

        &:last-child {
            margin-right: 0;
        }

        .nav__item-link {
            font-size: 15px;
            font-weight: 700;
            text-transform: capitalize;
            display: block;
            position: relative;
            color: $color-secondary;
            line-height: 80px;
            letter-spacing: .4px;
            padding-right: 15px;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 2px;
                background-color: $color-primary;
                @include prefix(transition, 0.5s ease, webkit moz ms o);
            }

            &.active,
            &:hover {
                color: $color-primary;

                &:before,
                &:before {
                    width: 100%;
                }
            }
        }
    }

    .dropdown-toggle:after {
        content: "\f107";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        border: none;
        vertical-align: middle;
        margin-left: 0;
        position: absolute;
        top: 50%;
        right: 0;
        @include prefix(transform, translateY(-50%), webkit moz ms o);
    }

    /*  dropdown-menu  */
    .dropdown-menu {
        border-radius: 0;
        border: none;
        margin: 0;
        background-color: $color-white;

        .nav__item {
            padding: 0 40px;
            margin-right: 0;

            .nav__item-link {
                font-size: 14px;
                color: $color-heading;
                text-transform: capitalize;
                font-weight: 400;
                line-height: 36px !important;
                white-space: nowrap;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: -20px;
                    width: 10px;
                    height: 2px;
                    opacity: 0;
                    background-color: $color-primary;
                    @include prefix(transform, translateY(-50%), webkit moz ms o);
                    @include prefix(transition, all 0.3s linear, webkit moz ms o);
                }

                &:hover {
                    color: $color-primary;

                    &:after {
                        opacity: 1;
                        left: -15px;
                    }
                }
            }
        }

        .dropdown-toggle:after {
            right: 0;
        }
    }
}

/* navbar-actions */
.navbar-actions>li {
    margin-left: 20px;

    &:last-child {
        margin-right: 0;
    }
}

.action__btn {
    color: $color-secondary;
}

.lang-dropdown {
    .dropdown-item {
        font-size: 14px;
        padding: .25rem 1rem;
    }

    .lang-dropdown-toggle {
        font-size: 14px;
        height: 40px;
        font-weight: 700;
        display: flex;
        align-items: center;
        padding-right: 15px;
        color: $color-white;

        &:after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f107";
            border: 0;
            display: block !important;
        }

        i {
            font-size: 30px;
            margin-right: 7px;
        }
    }

    .dropdown-menu {
        min-width: 100px !important;
        padding: 0.6rem 0 !important;

        .dropdown-item {
            color: $color-body;

            &:focus,
            &:hover {
                background-color: transparent;
                color: $color-primary;
            }

            &.active,
            &:active {
                background-color: transparent;
            }
        }
    }
}

/* header topbar */
.header-topbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #283b6a;

    .contact__list {

        li {
            position: relative;
            display: flex;
            align-items: center;
            font-size: 13px;
            margin-right: 20px;

            a:not(.btn) {
                color: #f4f4f4;

                &:hover {
                    color: $color-white;
                }
            }

            >i {
                font-size: 16px;
                color: #788fc8;
                margin-right: 8px;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .social-icons li a {
        color: $color-secondary;
        background-color: $color-primary;

        &:hover {
            background-color: $color-white;
        }
    }

    .header-topbar__search {
        position: relative;

        .form-control {
            height: 30px;
            border: 0;
            border-radius: 0;
            color: $color-white;
            background-color: transparent;
            border: 2px solid;
            border-color: transparent transparent transparent rgba($color-white, 0.15);

            &:focus {
                border-color: rgba($color-white, 0.15) !important;
            }

            &::-webkit-input-placeholder {
                color: #788fc8;
                font-style: italic;
                font-size: 13px;
            }

            &:-moz-placeholder {
                color: #788fc8;
                font-style: italic;
                font-size: 13px;
            }

            &::-moz-placeholder {
                color: #788fc8;
                font-style: italic;
                font-size: 13px;
            }

            &:-ms-input-placeholder {
                color: #788fc8;
                font-style: italic;
                font-size: 13px;
            }
        }

        .header-topbar__search-btn {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: $color-white;
        }
    }

    .lang-dropdown .lang-dropdown-toggle {
        padding: 0 10px;

        img {
            margin-right: 7px;
        }
    }

    .action__btn {
        color: $color-white !important;
    }
}

.header-layout1,
.header-layout2 {
    box-shadow: 0px 5px 83px 0px rgba(9, 29, 62, 0.1);
}

.header-layout2,
.header-layout3 {
    .header-topbar>.container-fluid>.row {
        height: 60px;
    }
}

/* sticky-navbar */
.is-sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1040;
    border-bottom: 0 !important;
    height: 80px !important;
    max-height: 80px !important;
    background-color: $color-white !important;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.07);
    @include animation('translateHeader 0.8s');

    >.container,
    >.container-fluid {
        position: relative;
        height: 80px;
    }

    .miniPopup-departments-trigger {
        height: 80px;
    }

    .navbar-brand {
        line-height: 80px;
    }

    .header__top-right {
        display: none !important;
    }

    .nav__item .nav__item-link {
        color: $color-secondary;
        line-height: 80px !important;

        &:before {
            background-color: $color-primary !important;
        }
    }

    .logo-light {
        display: none;
    }

    .logo-dark {
        display: inline-block;
    }

    .navbar-nav {
        margin-top: 0 !important;
    }
}

.miniPopup-emergency-trigger {
    position: relative;
    z-index: 151;
    height: 50px;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    color: $color-secondary;
    background-color: $color-white;

    &:after {
        content: "\f078";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 11px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &.active {
        &:after {
            content: "\f077";
        }
    }
}

.miniPopup-departments-trigger {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    height: 100px;
    color: $color-secondary;
    @include prefix(transition, 0.3s ease, webkit moz ms o);

    .menu-lines {
        position: relative;
        width: 25px;
        height: 14px;
        margin-right: 15px;

        span {
            position: absolute;
            top: 50%;
            right: 0;
            width: 20px;
            height: 2px;
            transform: translateY(-50%);
            background-color: $color-secondary;
            @include prefix(transition, 0.3s ease, webkit moz ms o);
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            right: 0;
            width: 14px;
            height: 2px;
            display: inline-block;
            background-color: $color-secondary;
            @include prefix(transition, 0.3s ease, webkit moz ms o);
        }

        &:before {
            top: 0;
        }

        &:after {
            bottom: 0;
        }

        &.active {
            color: $color-primary;


            span {
                opacity: 0;
            }

            &:before,
            &:after {
                top: 7px;
                background-color: $color-primary;
            }

            &:before {
                @include prefix(transform, rotate(-45deg), webkit moz ms o);
            }

            &:after {
                @include prefix(transform, rotate(45deg), webkit moz ms o);
            }

        }
    }

    a {
        color: $color-secondary;

        &:hover {
            color: $color-primary;
        }
    }
}

/* miniPopup */
.miniPopup {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 150;
    opacity: 0;
    visibility: hidden;
    width: 310px;
    padding: 40px;
    border-radius: 0 0 6px 6px;
    background-color: $color-white;
    box-shadow: 0px 5px 83px 0px rgba(9, 29, 62, 0.15);
    @include prefix(transition, .3s ease, webkit moz ms o);
    @include prefix(transform, translateY(20px), webkit moz ms o);

    &.active {
        opacity: 1;
        visibility: visible;
        @include prefix(transform, translateY(0), webkit moz ms o);
    }
}

/* miniPopup-departments */
.miniPopup-departments.dropdown-menu {
    top: 100%;
    display: block;
    min-width: 220px;
    width: 220px;
    box-shadow: 0px 5px 83px 0px rgba(9, 29, 62, 0.15) !important;
}

/* miniPopup-emergency */
.miniPopup-emergency {
    .emergency__icon {
        font-size: 60px;
        line-height: 1;
        color: $color-primary;
        margin-bottom: 20px;
    }

    .phone__number {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .btn {
        padding-top: 24px;
        border-top: 2px solid #e6e8eb;
    }
}

/* search-popup */
.search-popup {
    position: fixed;
    z-index: 2300;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: $color-white;
    @include prefix(transform, scale(0.7), webkit moz ms o);
    @include prefix(transition, all 0.5s ease-in-out, webkit moz ms o);

    &.active {
        opacity: 1;
        visibility: visible;
        @include prefix(transform, scale(1), webkit moz ms o);

        .search-popup__form {
            @include prefix(transform, translateY(-50%) scaleX(1), webkit moz ms o);
        }
    }

    &.inActive {
        opacity: 0;
        @include prefix(transition-delay, .5s, webkit moz ms o);
        @include prefix(transform, scale(1), webkit moz ms o);

        .search-popup__form {
            @include prefix(transition-delay, .0s, webkit moz ms o);
            @include prefix(transform, translateY(-50%) scaleX(0), webkit moz ms o);
        }
    }

    .search-popup__close {
        position: absolute;
        top: 50px;
        right: 50px;
        cursor: pointer;
        font-style: normal;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 3px;
        color: $color-white;
        background-color: $color-primary;
        @include prefix(transition, all .2s linear, webkit moz ms o);

        &:hover {
            background-color: $color-heading;
        }
    }

    .search-popup__form {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        width: 100%;
        max-width: 550px;
        margin: -40px auto 0;
        @include prefix(transform, translateY(-50%) scaleX(0), webkit moz ms o);
        @include prefix(transition, all 0.5s ease-in-out, webkit moz ms o);
        @include prefix(transition-delay, .5s, webkit moz ms o);
    }

    .search-popup__btn {
        position: absolute;
        top: 0;
        left: 0;
        line-height: 80px;
        text-align: center;
        font-size: 28px;
        cursor: pointer;
        color: $color-secondary;
        @include prefix(transition, .3s ease, webkit moz ms o);

        &:hover {
            color: $color-primary;
        }
    }

    .search-popup__form__input {
        font-family: $font-heading;
        font-weight: 300;
        font-size: 35px;
        z-index: 1;
        width: 100%;
        height: 80px;
        border: none;
        padding: 0 0 0 40px;
        color: $color-body;
        background: transparent;
        border-bottom: 2px solid #e7ebef;
        @include prefix(transition, all 0.3s ease, webkit moz ms o);

        &::-webkit-input-placeholder {
            color: $color-body;
        }

        &:-moz-placeholder {
            color: $color-body;
        }

        &::-moz-placeholder {
            color: $color-body;
        }

        &:-ms-input-placeholder {
            color: $color-body;
        }
    }
}

/* login-popup */
.login-popup {
    position: fixed;
    z-index: 2300;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 7, 17, 0.9);
    @include prefix(transition, all 0.5s ease-in-out, webkit moz ms o);

    .login-popup-wrapper {
        opacity: 0;
        width: 90%;
        max-width: 370px;
        @include prefix(transform, scale(0.9), webkit moz ms o);
        @include prefix(transition, all 0.5s ease, webkit moz ms o);
        @include prefix(transition-delay, .7s, webkit moz ms o);
    }

    .login-popup__form {
        position: relative;
        padding: 50px;
        border-radius: 5px;
        background-color: $color-white;

        .input-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15px;

            &.icon-lock {
                font-size: 20px;
            }
        }

        .form-control {
            height: 60px;
            padding-left: 40px;
            background-color: #f1f5fe;
        }
    }

    .custom-control-label a {
        color: $color-secondary;
        border-bottom: 1px solid $color-secondary;
    }

    .login-popup__title {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .go-login,
    .go-register {
        color: $color-primary;
        margin-left: 10px;

        i {
            display: inline-block;
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            border-radius: 50%;
            font-size: 10px;
            margin-left: 6px;
            color: $color-primary;
            transition: .3s linear;
        }

        &:hover {
            i {
                color: $color-white;
                background-color: $color-primary;
            }
        }
    }

    &.active {
        opacity: 1;
        visibility: visible;

        .login-popup-wrapper {
            opacity: 1;
            @include prefix(transform, scale(1), webkit moz ms o);
        }
    }

    &.inActive {
        opacity: 0;
        @include prefix(transition-delay, .5s, webkit moz ms o);

        .login-popup-wrapper {
            @include prefix(transform, scale(0.9), webkit moz ms o);
            @include prefix(transition-delay, .0s, webkit moz ms o);
        }
    }
}

.action__btn-search {
    color: $color-secondary;
}

@media (min-width: 1200px) {
    .header-topbar {
        display: block;
    }

    .navbar,
    .header-topbar {
        >.container-fluid {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    .header-layout3 {
        .topbar__text {
            color: #788fc8;
        }

        .navbar .navbar-brand {
            padding-right: 50px;
            border-right: 1px solid #e6e8eb;
        }

        .action__btn-search {
            padding-right: 50px;
            height: 100%;
            border-right: 1px solid #e6e8eb;
        }

        .close__topbar {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            color: $color-white;
        }
    }
}

@media (max-width: 1199px) {
    .header-topbar {
        display: none;
    }
}

/* Large Size Screens */
@include lg-screens {
    .navbar .nav__item {
        margin-right: 20px;
    }
}

/* Mobile and Tablets */
@media (max-width: 991px) {
    .navbar {
        .navbar-toggler {
            position: absolute;
            right: 15px;
            height: 13px;
        }

        .collapse:not(.show) {
            display: block;
        }

        .navbar-nav {
            margin: 0 !important;
        }

        .nav__item {
            margin-right: 0;

            .nav__item-link {
                color: $color-dark;
                line-height: 35px !important;
                padding-left: 15px;

                &:hover {
                    color: $color-primary;
                }

                &:before {
                    display: none;
                }
            }
        }

        .navbar-collapse {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            visibility: hidden;
            opacity: 0;
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 1000;
            padding: 0;
            @include prefix(transition, 0.4s ease, webkit moz ms o);

            .navbar-nav {
                opacity: 0;
                width: 240px;
                height: 100%;
                overflow-y: auto;
                padding: 50px 0 20px;
                background-color: $color-white;
                @include prefix(transform, translateX(-100%), webkit moz ms o);
                @include prefix(transition, 0.3s ease, webkit moz ms o);
                @include prefix(transition-delay, 0.4s, webkit moz ms o);
            }

            &.menu-opened {
                opacity: 1;
                visibility: visible;

                .navbar-nav {
                    opacity: 1;
                    @include prefix(transform, translateX(0), webkit moz ms o);
                }

                .close-mobile-menu {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }

        .close-mobile-menu {
            position: absolute;
            top: 30px;
            right: 30px;
            z-index: 1100;
            width: 35px;
            height: 35px;
            line-height: 33px;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #fff;
            color: #fff;
            cursor: pointer;
            opacity: 0;
            transform: scale(0.8);
            transition: all 0.4s ease;
            transition-delay: 0.5s;
        }

        .nav__item [data-toggle="dropdown"]:after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            position: absolute;
            right: 0;
            width: 50%;
            text-align: right;
            z-index: 2;
            padding-right: 15px;
            line-height: 35px;
            display: block !important;
        }

        .dropdown-toggle:after {
            display: none;
        }

        .nav__item.opened,
        .nav__item.show {
            >[data-toggle="dropdown"]:after {
                content: "\f107";
            }
        }

        .dropdown-menu {
            background-color: white;

            .nav__item {
                padding: 0 15px 0 30px;

                .nav__item-link {
                    padding-left: 0;
                    border-bottom: none;
                }
            }
        }

        .dropdown-menu .dropdown-menu-col .nav__item {
            padding: 0;
        }

        .nav__item.dropdown-submenu {
            >.dropdown-menu.show {
                padding-left: 10px;
            }
        }

        .dropdown-submenu .dropdown-menu .nav__item {
            padding: 0 0 0 15px;
        }

        .navbar-nav .dropdown-menu.show {
            padding: 0;
        }

        .mega-dropdown-menu .container {
            max-width: none;
        }

        .mega-dropdown-menu>.nav__item {
            padding: 0 10px;
        }

        .mega-dropdown-menu .nav__item {
            padding: 0;
        }
    }

    .header,
    .header-transparent {
        .navbar {
            background-color: $color-white;
        }

        .logo-dark {
            display: inline-block;
        }

        .logo-light {
            display: none;
        }

        .module__btn {
            color: $color-secondary;
            margin: 0 60px 0 0;
        }

        .navbar .navbar-toggler .menu-lines:before,
        .navbar .navbar-toggler .menu-lines:after,
        .navbar .navbar-toggler .menu-lines span {
            background-color: $color-secondary;
        }

        .navbar-expand-lg>.container,
        .navbar-expand-lg>.container-fluid {
            width: 100%;
            max-width: none;
        }

        .navbar,
        .navbar>.container,
        .navbar>.container-fluid {
            height: 80px;
        }

        .header-full .navbar,
        .header-full .navbar .navbar-brand,
        .navbar-brand {
            margin-left: 15px;
            line-height: 80px !important;
        }

        .header-full .navbar,
        .header-full .navbar .navbar-brand {
            line-height: 80px;
        }
    }

    .header-topbar>.container {
        max-width: none;
    }

    .lang-dropdown .lang-dropdown-toggle,
    .header-transparent .action__btn {
        color: $color-secondary;
    }

    .action__btn-search {
        position: absolute;
        top: 50%;
        right: 80px;
        transform: translateY(-50%);
    }
}

/* Medium and large Screens */
@media (min-width: 992px) {
    .navbar {
        .dropdown-menu {
            width: auto;
            min-width: 235px;
            box-shadow: 0px 2px 6px 0px rgba(40, 40, 40, 0.1);
            padding: 25px 0 23px;
            border-radius: 0 0 6px 6px;

            .nav__item .nav__item-link:before {
                display: none;
            }

            &.wide-dropdown-menu {
                padding: 0;
                min-width: 500px;
                overflow: hidden;

                >.nav__item {
                    padding: 0;
                }

                .dropdown-menu-title {
                    color: $color-heading;
                    font-family: $font-heading;
                    font-weight: 700;
                    font-size: 17px;
                    line-height: 1;
                    margin: 0 0 13px 40px;
                }

                .dropdown-menu-col {
                    padding: 40px 0 27px;
                }

                .dropdown-menu-col:first-child {
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 1px;
                        height: 100%;
                        background-color: #e9e9e9;
                    }
                }
            }
        }

        .nav__item.has-dropdown>.dropdown-menu,
        .nav__item.dropdown-submenu>.mega-menu,
        .nav__item.has-dropdown>.mega-menu,
        .nav__item.has-dropdown>.dropdown-menu>.nav__item.dropdown-submenu>.dropdown-menu {
            display: block;
            position: absolute;
            left: 0;
            right: auto;
            z-index: 1050;
            opacity: 0;
            visibility: hidden;
            @include prefix(transition, all 0.5s ease, webkit moz ms o);
            @include prefix(transform, translateY(10px), webkit moz ms o);
        }

        .nav__item.has-dropdown>.dropdown-menu>.nav__item.dropdown-submenu>.dropdown-menu,
        .nav__item.dropdown-submenu>.dropdown-menu>.nav__item.has-dropdown>.dropdown-menu {
            top: 0;
            left: 100%;
        }

        .nav__item.has-dropdown:hover>.dropdown-menu,
        .nav__item.dropdown-submenu:hover>.mega-menu,
        .nav__item.has-dropdown:hover>.mega-menu,
        .nav__item.has-dropdown>.dropdown-menu>.nav__item.dropdown-submenu:hover>.dropdown-menu {
            opacity: 1;
            visibility: visible;
            @include prefix(transform, translateY(0), webkit moz ms o);
        }

        .nav__item.has-dropdown.mega-dropdown {
            position: static;
        }

        .nav__item.has-dropdown .mega-dropdown-menu {
            width: 100%;
        }

        .dropdown-menu.mega-dropdown-menu .nav__item {
            padding: 0;
        }

        .dropdown-menu.mega-dropdown-menu .nav__item .nav__item-link {
            overflow: hidden;
            @include prefix(transition, all 0.4s ease, webkit moz ms o);

            &:after {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: "\f111";
                position: absolute;
                top: auto;
                left: -7px;
                font-size: 7px;
                opacity: 0;
                color: $color-primary;
                @include prefix(transition, all 0.4s ease, webkit moz ms o);
            }

            &:hover {
                padding-left: 15px;

                &:after {
                    opacity: 1;
                    left: 4px;
                }
            }
        }
    }

    .nav__item i[data-toggle="dropdown"] {
        display: none;
    }

    .header-layout3 .navbar .navbar-brand {
        margin-right: 50px;
    }
}

/* Mobile Phones and tablets */
@include xs-sm-screens {
    .dropdown-menu.mega-dropdown-menu>.nav__item {
        padding: 0 15px;
    }

    .dropdown-menu.mega-dropdown-menu .nav__item:last-child>.nav__item-link {
        border-bottom: 1px solid #f2f2f2;
    }

    .dropdown-menu.mega-dropdown-menu [class^="col-"]:last-child .nav__item:last-child>.nav__item-link {
        border-bottom: none;
    }
}

/* Extra Small Devices */
@include xs-screens {
    .search-popup {
        .search-popup__form {
            width: 90%;
        }

        .search-popup__form__input {
            font-size: 20px;
            font-weight: 400;
            height: 40px;
            padding: 0 0 0 30px;
        }

        .search-popup__btn {
            font-size: 20px;
            line-height: 40px;
        }

        .search-popup__close {
            font-size: 14px;
            top: 30px;
            right: 30px;
            width: 30px;
            height: 30px;
            line-height: 30px;
        }
    }
}

@media (max-width: 420px) {
    .header {
        .navbar-brand img {
            max-width: 120px;
        }

        .action__btn-login span {
            display: none;
        }
    }
}

/* Header Animation */
@include keyframes(translateHeader) {
    0% {
        opacity: 0;
        @include prefix(transform, translateY(-100%), webkit moz ms o);
    }

    100% {
        opacity: 1;
        @include prefix(transform, translateY(0), webkit moz ms o);
    }
}
