<li (click)="openNotification()" ngbDropdown #myDrop="ngbDropdown" class="nav-item dropdown-notification mr-25">
  <a class="nav-link" ngbDropdownToggle id="navbarNotificationDropdown"
    ><i class="ficon" data-feather="bell"></i
    ><span *ngIf="notification?.notifications_count" class="badge badge-pill badge-danger badge-up">{{
    notification?.notifications_count
    }}</span></a
  >
  <ul
          (click)="$event.stopPropagation()"
    ngbDropdownMenu
    aria-labelledby="navbarNotificationDropdown"
    class="dropdown-menu dropdown-menu-media dropdown-menu-right"
  >

    <!-- Notifications header -->
    <li class="dropdown-menu-header">
      <div class="dropdown-header d-flex">
        <h4 class="notification-title mb-0 mr-auto">Notifications</h4>
<!--        <div class="badge badge-pill badge-light-primary">-->
<!--          {{ auth?.notifications_count }} New-->
<!--        </div>-->
      </div>
    </li>
    <!--/ Notifications header -->



    <li *ngIf="loading" class="p-5 d-flex align-items-center justify-content-center">
      <i class="fa fa-spin fa-2x fa-circle-o-notch"></i>
    </li>


    <!-- Notifications content -->
    <li *ngIf="!loading" class="scrollable-container media-list" [perfectScrollbar]>
      <div *ngIf="notification?.notifications.length == 0" class="d-flex media justify-content-center">
        Empty
      </div>
      <a  (click)="navigate(notification);myDrop.close();"  class="d-flex" href="javascript:void(0)" *ngFor="let notification of notification?.notifications">
        <div [ngClass]="{'notification-new': notification.seen == null}" class="media d-flex align-items-center">
          <div class="media-left">
            <div class="avatar">
              <img *ngIf="notification.type == 'profile_post'" [src]="notification?.notifier?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + notification?.notifier?.avatar : '/assets/images/avatars/placeholder.jpg'" alt="avatar" width="32" height="32" />
              <img *ngIf="notification.type == 'following_request'" [src]="notification?.notifier?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + notification?.notifier?.avatar : '/assets/images/avatars/placeholder.jpg'" alt="avatar" width="32" height="32" />
              <img *ngIf="notification.type == 'follow_request'" [src]="notification?.notifier?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + notification?.notifier?.avatar : '/assets/images/avatars/placeholder.jpg'" alt="avatar" width="32" height="32" />
              <img *ngIf="notification.type == 'following'" [src]="notification?.notifier?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + notification?.notifier?.avatar : '/assets/images/avatars/placeholder.jpg'" alt="avatar" width="32" height="32" />
              <img *ngIf="notification.type == 'view_profile'" [src]="notification?.notifier?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + notification?.notifier?.avatar : '/assets/images/avatars/placeholder.jpg'" alt="avatar" width="32" height="32" />
              <img *ngIf="notification.type == 'post_comment'" [src]="notification?.notifier?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + notification?.notifier?.avatar : '/assets/images/avatars/placeholder.jpg'" alt="avatar" width="32" height="32" />
              <img *ngIf="notification.type == 'comment_reply'" [src]="notification?.notifier?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + notification?.notifier?.avatar : '/assets/images/avatars/placeholder.jpg'" alt="avatar" width="32" height="32" />
              <img *ngIf="notification.type == 'post_reaction'" [src]="notification?.notifier?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + notification?.notifier?.avatar : '/assets/images/avatars/placeholder.jpg'" alt="avatar" width="32" height="32" />
              <img *ngIf="notification.type == 'comment_reaction'" [src]="notification?.notifier?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + notification?.notifier?.avatar : '/assets/images/avatars/placeholder.jpg'" alt="avatar" width="32" height="32" />
              <img *ngIf="notification.type == 'reply_reaction'" [src]="notification?.notifier?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + notification?.notifier?.avatar : '/assets/images/avatars/placeholder.jpg'" alt="avatar" width="32" height="32" />
            </div>
          </div>
          <div class="media-body">
            <div *ngIf="notification.type == 'profile_post'">
              <span class="font-weight-bold">{{ notification?.notifier?.first_name }}</span> {{notification.text}}
            </div>
            <div *ngIf="notification.type == 'following_request'">
              <span class="font-weight-bold">{{ notification?.notifier?.first_name }}</span> {{notification.text}}
            </div>
            <div *ngIf="notification.type == 'follow_request'">
              <span class="font-weight-bold">{{ notification?.notifier?.first_name }}</span> {{notification.text}}
            </div>
            <div *ngIf="notification.type == 'following'">
              <span class="font-weight-bold">{{ notification?.notifier?.first_name }}</span> {{notification.text}}
            </div>

            <div *ngIf="notification.type == 'view_profile'">
              <span class="font-weight-bold">{{ notification?.notifier?.first_name }}</span> {{notification.text}}
            </div>

            <div *ngIf="notification.type == 'post_comment'">
              <span class="font-weight-bold">{{ notification?.notifier?.first_name }}</span> {{notification.text}}
            </div>

            <div *ngIf="notification.type == 'comment_reply'">
              <span class="font-weight-bold">{{ notification?.notifier?.first_name }}</span> {{notification.text}}
            </div>

            <div *ngIf="notification.type == 'post_reaction'">
              <span class="font-weight-bold">{{ notification?.notifier?.first_name }}</span> {{notification.text}}
            </div>

            <div *ngIf="notification.type == 'comment_reaction'">
              <span class="font-weight-bold">{{ notification?.notifier?.first_name }}</span> {{notification.text}}
            </div>

            <div *ngIf="notification.type == 'reply_reaction'">
              <span class="font-weight-bold">{{ notification?.notifier?.first_name }}</span> {{notification.text}}
            </div>

          </div>
          <div class="ml-auto">
            <div timeago [date]="notification?.created_at" [live]="true"></div>

          </div>
        </div></a>
    </li>
    <!--/ Notifications content -->

    <!-- Notifications footer -->
<!--    <li class="dropdown-menu-footer">-->
<!--      <a class="btn btn-primary btn-block" (click)="readAll()" href="javascript:void(0)">View all notifications</a>-->
<!--    </li>-->
    <!--/ Notifications footer -->
  </ul>
</li>
