<script>
    import Navbar from "../../components/Navbar.svelte";
    import Sidebar from "../../components/Sidebar.svelte";
    import Footer from "../../components/Footer.svelte";
    import {Router, Route, navigate} from 'svelte-routing';
    import Home from '../Home.svelte';
    import OrderList from '../OrderList.svelte';
    import OrderDetails from '../OrderDetails.svelte';
    import PayrollSlipsList from '../Treasurer/PayrollSlipsList.svelte';
    import PayrollList from '../Treasurer/PayrollList.svelte';
    import MerchantDetails from '../MerchantDetails.svelte';
    import ProfileList from '../Treasurer/ProfileList.svelte';
    import ProfileDetails from '../Treasurer/ProfileDetails.svelte';
    import ExpenseList from '../Treasurer/ExpenseList.svelte';
    import CreateExpense from '../Treasurer/CreateExpense.svelte';
    import {onMount} from "svelte";
    import {authInfo, isAuthenticated} from "../../stores/auth";
    import ProfilePayrollSlips from '../Treasurer/ProfilePayrollSlips.svelte';
    import ProfilePayrollDeduction from '../Treasurer/ProfilePayrollDeduction.svelte';
    import CreateDeduction from '../Treasurer/CreateDeduction.svelte';

    import OrderCreate from '../Data/OrderCreate.svelte';
    import AdminHome from '../Admin/AdminHome.svelte';
    import AdminProfileCreate from '../Admin/CreateProfile.svelte';
    import AdminReports from "../Admin/AdminReports.svelte";
    import AccessDenied from '../AccessDenied.svelte';
    
    import MerchantCreateOrder from '../Merchant/CreateOrder.svelte';
    import MerchantViewOrder from '../Merchant/ViewOrder.svelte';
    import MerchantOrdersList from '../Merchant/OrdersList.svelte';
    import MerchantTransactionsList from '../Merchant/TransactionsList.svelte';
    
    
    
    import StaffOrdersList from '../Staff/OrdersList.svelte';
    import StaffNewOrdersList from '../Staff/NewOrdersList.svelte';
    import StaffExpressOrdersList from '../Staff/ExpressOrdersList.svelte';
    import StaffStorageOrdersList from '../Staff/StorageOrdersList.svelte';
    import StaffViewOrder from '../Staff/ViewOrder.svelte';
    



    onMount(() => {
        if (!$isAuthenticated) {
            navigate('/login')
        }
    })
</script>

<Navbar/>

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <Sidebar/>

        <main>
            <Router url="/">
                
                <Route path="/" component={Home}/>

                <Route path="/accessDenied" component={AccessDenied}/>
                <Route path="/order" component={OrderList}/>
                <Route path="/order/:id" component={OrderDetails}/>
                <!-- <Route path="/merchant" component={MerchantList}/> -->
                <!-- <Route path="/merchant/:id" component={MerchantDetails}/> -->
                <Route path="/profile" component={ProfileList}/>
                <Route path="/profile/:profile_id" component={ProfileDetails}/>
                <Route path="/profile/:profile_id/slips/:payroll_id" component={ProfilePayrollSlips}/>
                <Route path="/profile/:profile_id/deduction/:payroll_id" component={ProfilePayrollDeduction}/>
                <Route path="/profile/:profile_id/deduction/:payroll_id/edit/:deduction_id" component={CreateDeduction}/>
                <Route path="/profile/:profile_id/deduction/:payroll_id/create" component={CreateDeduction}/>
                <Route path="/expense" component={ExpenseList}/>
                <Route path="/expense/create" component={CreateExpense}/>
                <Route path="/expense/create/:profile_id" component={CreateExpense}/>
                <Route path="/expense/:expense_id" component={CreateExpense}/>
                <Route path="/slips" component={PayrollSlipsList}/>
                <Route path="/payroll" component={PayrollList}/>

                <!-- ADMIN role -->
                <Route path="/vault" component={AdminHome}/>
                <Route path="/reports" component={AdminReports}/>
                <Route path="/admin/profile/create" component={AdminProfileCreate}/>

                <!-- DATA role -->
                <Route path="/data" component={OrderCreate}/>

                <!-- MERCHANT role -->
                <Route path="/merchant/orders" component={MerchantOrdersList}/>
                <Route path="/merchant/orders/create" component={MerchantCreateOrder}/>
                <Route path="/merchant/orders/:order_id" component={MerchantViewOrder}/>
                <Route path="/merchant/transactions" component={MerchantTransactionsList}/>
                
                <!-- STAFF role -->
                <Route path="/staff/orders" component={StaffOrdersList}/>
                <Route path="/staff/orders/:order_id" component={StaffViewOrder}/>
                <Route path="/staff/new-orders" component={StaffNewOrdersList}/>
                <Route path="/staff/storage-orders" component={StaffStorageOrdersList}/>
                <Route path="/staff/express-orders" component={StaffExpressOrdersList}/>




            </Router>
        </main>
        <Footer/>
    </div>
</div>