input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid rgba(165, 165, 165, 0.3);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 0.357rem;
}