<div>
    <label for="file-upload" class="custom-file-upload">
        <ng-template [ngIf]="!file">
            <span class="pi pi-upload" style="font-size: 16px;"></span> <span style="margin-left: 5px;">Select File</span>
        </ng-template>
        <ng-template [ngIf]="file">
            <span>{{file?.name }}</span>
        </ng-template>
        

    </label>
    <input id="file-upload" class="file-input" type="file" accept="image/png, image/jpeg, application/pdf">
</div>