<div class="content-area-wrapper" style="width: unset;">
<!--<div class="content-area-wrapper">-->
  <!-- sidebar Left -->

  <!-- chat-sidebar -->
  <div class="sidebar-left">
    <div class="sidebar">
      <core-sidebar
              class="sidebar-content"
              name="chat-sidebar"
              overlayClass="body-content-overlay"
              collapsibleSidebar="bs-gt-lg"
      >
        <!-- Chat Sidebar area -->
        <div class="chat-sidebar bg-white">
          <button
                  class="btn sidebar-close-icon"
                  (click)="toggleSidebar('chat-sidebar')"
          >
            <i data-feather="x"></i>
          </button>
          <!-- Sidebar header start -->
          <div class="chat-fixed-search">
            <div class="d-flex align-items-center w-100">
              <div class="sidebar-profile-toggle">
                <button
                        class="btn avatar avatar-border p-0"
                        (click)="toggleSidebar('chat-user-sidebar')"
                >
                  <img
                          [src]="
                      auth.user?.avatar
                        ? config.getBaseUrl() +
                          'storage/images/avatars/' +
                          auth.user?.avatar
                        : 'assets/images/illustration/tooth.svg'
                    "
                          alt="user_avatar"
                          height="42"
                          width="42"
                  />

                </button>
              </div>
              <div class="input-group input-group-merge ml-1 w-100">
                <div class="input-group-prepend">
                  <span class="input-group-text round"
                  ><i data-feather="search" class="text-muted"></i
                  ></span>
                </div>
                <input
                        type="text"
                        class="form-control round"
                        id="chat-search"
                        placeholder="Search Contacts"
                        aria-label="Search..."
                        aria-describedby="chat-search"
                        (focusin)="showContact()"
                        [(ngModel)]="searchText"

                />
              </div>
            </div>
          </div>
          <!-- Sidebar header end -->


          <div
                  id="contacts-list"
                  class="chat-user-list-wrapper list-group"
                  [perfectScrollbar]
                  *ngIf="contacts_visible"
          >
            <div class="d-flex align-items-center">
              <h4 class="chat-list-title">Contacts</h4>
              <h4 class="ml-auto chat-list-title">
                <button (click)="hideContact()" class="btn btn-icon rounded-circle">
                  <i class="fa fa-close"></i>
                </button>
              </h4>
            </div>
            <ng-container
                    *ngIf="contacts.length; else noResultsChats1"
            ></ng-container>
            <ul  class="chat-users-list chat-list media-list">
              <li
                      *ngFor="let contact of contacts | filterX: searchText"
                      [class.active]="selectedIndex === contact.id"
                      (click)="createChat(contact)"
              >
                <span class="avatar">
                  <img
                          [src]="
                      contact?.avatar
                        ? config.getBaseUrl() +
                          'storage/images/avatars/' +
                          contact.avatar
                        : 'assets/images/illustration/tooth.svg'
                    "
                          height="42"
                          width="42"
                          alt="Generic placeholder image"
                  />
                  <span class="away"></span>
                </span>
                <div class="chat-info flex-grow-1">
                  <h5 class="mb-0">
                    {{
                    contact?.first_name +
                    " " +
                    (contact?.last_name || "")
                    }}
                  </h5>
                </div>
              </li>

              <ng-template #noResultsChats1>
                <li
                        class="no-results"
                        [ngClass]="{ show: contacts.length <= 0 }"
                >
                  <h6 class="mb-0">No Chats Found</h6>
                </li>
              </ng-template>
            </ul>
          </div>



          <!-- Sidebar Users start -->
          <div
                  id="users-list"
                  class="chat-user-list-wrapper list-group"
                  [perfectScrollbar]
                  *ngIf="!contacts_visible"
          >
            <h4 class="chat-list-title">Chats</h4>
            <ng-container
                    *ngIf="contact.contacts.length; else noResultsChats"
            ></ng-container>
            <ul  class="chat-users-list chat-list media-list">
              <li
                      *ngFor="let contact of contact.contacts"
                      [class.active]="selectedIndex === contact.id"
                      (click)="
                  openChat(contact);
                  toggleSidebar('chat-sidebar');
                  setIndex(contact.id)
                "
              >
                <span class="avatar">
                  <img
                          [src]="
                      contact.to_user?.avatar
                        ? config.getBaseUrl() +
                          'storage/images/avatars/' +
                          contact.to_user.avatar
                        : 'assets/images/illustration/tooth.svg'
                    "
                          height="42"
                          width="42"
                          alt="Generic placeholder image"
                  />
                  <span class="away"></span>
                </span>
                <div class="chat-info flex-grow-1">
                  <h5 class="mb-0">
                    {{
                    contact?.to_user?.first_name +
                    " " +
                    (contact?.to_user?.last_name || "")
                    }}
                  </h5>
                  <span *ngIf="contact.message.type == 1" class="card-text text-truncate">
                    {{ contact.message.text }}
                  </span>
                  <span *ngIf="contact.message.type == 2" class="card-text text-truncate">
                    photo
                  </span>
                </div>
                <div class="chat-meta text-nowrap">
                  <small class="float-right mb-25 chat-time">{{contact.last_message_time | date: 'short'}}</small>
<!--                  <span  class="float-right badge badge-danger badge-pill">2</span>-->
                </div>
              </li>

              <ng-template #noResultsChats>
                <li
                        class="no-results"
                        [ngClass]="{ show: contact.contacts.length <= 0 }"
                >
                  <h6 class="mb-0">No Chats Found</h6>
                </li>
              </ng-template>
            </ul>
          </div>
          <!-- Sidebar Users end -->
        </div>
        <!--/ Chat Sidebar area -->
      </core-sidebar>

      <!--/ chat-sidebar -->

      <!-- chat-user-sidebar -->

      <core-sidebar
              class="chat-profile-sidebar"
              name="chat-user-sidebar"
              overlayClass="body-content-overlay"
              hideOnEsc="true"
      >
        <app-chat-user-sidebar></app-chat-user-sidebar>
      </core-sidebar>
    </div>
  </div>
  <!--/ chat-user-sidebar -->

  <!--/ sidebar Left -->

  <!-- content-right -->
  <div class="content-right">
    <!-- chat-active-sidebar -->
    <core-sidebar
            class="user-profile-sidebar"
            name="chat-active-sidebar"
            overlayClass="body-content-overlay"
            hideOnEsc="true"
    >
      <app-chat-active-sidebar></app-chat-active-sidebar>
    </core-sidebar>
    <!--/ chat-active-sidebar -->
    <div class="content-wrapper">
      <div class="content-body">
        <div class="body-content-overlay"></div>
        <!-- Main chat area -->
        <section class="chat-app-window">
          <!-- To load Conversation -->
          <div
                  class="start-chat-area"
                  [ngClass]="{ 'd-none': activeChat === true }"
          >
            <div class="mb-1 start-chat-icon">
              <i data-feather="message-square"></i>
            </div>
            <h4
                    class="sidebar-toggle start-chat-text"
                    (click)="toggleSidebar('chat-sidebar')"
            >
              Start Conversation
            </h4>
          </div>
          <!--/ To load Conversation -->
          <ng-template [ngIf]="contact?.selectedChat">
            <app-chat-content [chat]="contact?.selectedChat"></app-chat-content>

          </ng-template>


        </section>
        <!--/ Main chat area -->
      </div>

    </div>
  </div>
  <!--/ content-right -->
</div>
