<script>
    import { allProfiles } from "../../stores/TreasurerStores/profilesStore";
    import { onMount, onDestroy } from "svelte";
    import { fade } from "svelte/transition";
    import { navigate } from "svelte-routing";
    import Swal from "sweetalert2";
    import {
        getPayrolls,
        createPayrollDeductions,
getPayrollDeductions,
updatePayrollDeductions,
    } from "../../backend/treasurerActions";
    import { allPayrolls } from "../../stores/TreasurerStores/payrollStore";
    import Skeleton from 'svelte-skeleton'

    export let profile_id;
    export let payroll_id;
    export let deduction_id;

    let is_loading = false;

    $: profile = $allProfiles.filter((e) => e.pk == profile_id)[0];
    $: payroll = $allPayrolls.filter((e) => e?.pk == payroll_id)[0];
    let deduction;

    let amount = 0;
    let reason = "";

    let showValidation = false;
    let validationError;
    $: validationError = amount <= 0;

    
    onMount(async () => {
       try {
           is_loading = true;
           if (!$allPayrolls.length) {
               $allPayrolls = (await getPayrolls()).data.map(i => {
                        i['from_profile_name'] = i?.["profile"]?.["name"];
                        return i;
                });
           }
           payroll = $allPayrolls.filter((e) => e?.pk == payroll_id)[0];
           if (deduction_id) {
               deduction = (await getPayrollDeductions(payroll?.pk)).data.filter(
                   i => i.pk == deduction_id
               )[0];
               amount = deduction?.amount;
               reason = deduction?.reason;
           }


           is_loading = false;
       } catch (error) {
           console.log(error)
           
       }

        
    });


    function create() {
        
        const data = {
            payroll: payroll.pk,
            reason: reason,
            amount: amount,
        };

        Swal.fire({
            title: "هل انت متأكد من اضافة الاستقطاع؟",
            icon: "question",
            iconHtml: "؟",
            confirmButtonText: "اضافة",
            cancelButtonText: "الغاء",
            showCancelButton: true,
            showCloseButton: true,
            preConfirm: () => {
                Swal.showLoading();
                return createPayrollDeductions(data)
                    .then((response) => {
                        return response;
                    })
                    .catch((error) => {
                        console.log(error);
                        Swal.fire("فشلت العملية", "", "error");
                    });
            },
        }).then((result) => {
            if (result.value) {
                Swal.fire("تمت العملية بنجاح", "", "success");
                navigate(`/profile/${profile_id}`);
            }
        });
    }

    function update() {
        const data = {
            reason: reason,
            amount: amount,
        };

        Swal.fire({
            title: "هل انت متأكد من تعديل الاستقطاع؟",
            icon: "question",
            iconHtml: "؟",
            confirmButtonText: "اضافة",
            cancelButtonText: "الغاء",
            showCancelButton: true,
            showCloseButton: true,
            preConfirm: () => {
                Swal.showLoading();
                return updatePayrollDeductions(deduction_id, data)
                    .then((response) => {
                        return response;
                    })
                    .catch((error) => {
                        console.log(error);
                        Swal.fire("فشلت العملية", "", "error");
                    });
            },
        }).then((result) => {
            if (result.value) {
                Swal.fire("تمت العملية بنجاح", "", "success");
            }
        });
    }

    function save() {
        showValidation = true;

        if (validationError) {
            return;
        }

        if (deduction_id) {
            update();
        } else {
            create();
        }
    }

    function cancel() {
        navigate(`/profile/${profile_id}`);
    }

    function getLabel() {
        if (deduction_id) return "تعديل";
        else return "اضافة";
    }

</script>

<header
    in:fade
    class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10"
    style="">
    <div class="container">
        <div class="page-header-content pt-4">
            <div class="row align-items-center justify-content-end">
                <div class="col-auto mt-4">
                    <h1 class="page-header-title">
                        {#if deduction_id}
                            <span class="m-2">تعديل الاستقطاع</span>
                        {:else}<span class="m-2">اضافة استقطاع</span>{/if}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>
{#if $allProfiles}
    <div in:fade class="container mt-n5">
        <div class="card">
            {#if deduction_id}
                <div class="card-header">تعديل الاستقطاع</div>
            {:else}
                <div class="card-header">اضافة استقطاع</div>
            {/if}
            {#if is_loading}
            <div class="card-body">
                <div>
                   <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            <Skeleton height="10" width="65">
                                <rect width="65" height="10" x="0" y="0" rx="5" ry="5" />
                                </Skeleton>
                        </div>
                        <div class="col-lg-9 col-xl-4 d-flex align-items-center justify-content-end">
                            <Skeleton height="10" width="200">
                                <rect width="200" height="10" x="0" y="0" rx="5" ry="5" />
                                </Skeleton>
                        </div>
                    </div>

                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            <Skeleton height="10" width="65">
                                <rect width="65" height="10" x="0" y="0" rx="5" ry="5" />
                                </Skeleton>
                        </div>
                        <div class="col-lg-9 col-xl-4 d-flex align-items-center justify-content-end">
                            <Skeleton height="10" width="200">
                                <rect width="200" height="10" x="0" y="0" rx="5" ry="5" />
                                </Skeleton>
                        </div>
                    </div>
              
              
                </div>
            </div>
            {:else}
            <div class="card-body">
                {#if validationError && showValidation}
                    <div
                        class="alert alert-warning alert-solid rtl text-right"
                        role="alert">
                        يرجى التأكد من ملئ البيانات بشكل صحيح
                    </div>
                {/if}
                <div>
                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            كمية المبلغ:
                        </div>
                        <div class="col-lg-9 col-xl-4 rtl">
                            <input
                                min="0"
                                bind:value={amount}
                                type="number"
                                class="form-control" />
                        </div>
                    </div>

                    <div class="form-group row flex-row-reverse">
                        <div class="col-lg-3 col-form-label text-muted rtl">
                            سبب الاستقطاع:
                        </div>
                        <div class="col-lg-9 col-xl-4 rtl">
                            <textarea
                                bind:value={reason}
                                class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-lg-9">
                        <button
                            on:click={save}
                            class="btn btn-primary font-weight-bold mr-2">{getLabel()}</button>
                        <button
                            on:click={cancel}
                            class="btn btn-light font-weight-bold mr-2">الغاء</button>
                    </div>
                    <div class="col-lg-3" />
                </div>
            </div>
            {/if}

        </div>
    </div>
{/if}
