<script>
    import { allProfiles } from "../../stores/TreasurerStores/profilesStore";
    import {allPayrolls} from '../../stores/TreasurerStores/payrollStore';
    import { fade } from "svelte/transition";
    import {addBalance, deductBalance, settleAccount, getProfiles, getPayrolls} from '../../backend/treasurerActions';
    import Swal from "sweetalert2";
    import {onMount} from 'svelte';
    import { navigate } from "svelte-routing";
    import Skeleton from 'svelte-skeleton'


    export let profile_id;

    $: profile = $allProfiles.filter((e) => e?.pk == profile_id)[0];
    $: payroll = $allPayrolls.filter((e) => e?.profile?.pk == profile_id)[0];

    
    let is_loading = false;

    onMount(() => {
        if (!$allProfiles.length || !$allPayrolls.length) { 
            load();
        }
    });

    async function load() {
        try {
            is_loading = true;
            $allPayrolls = (await getPayrolls()).data.map(i => {
                        i['from_profile_name'] = i?.["profile"]?.["name"];
                        return i;
                    });
            $allProfiles = (await getProfiles()).data;
            is_loading = false;
        } catch (error) {
            console.log(error);
        }
     
    }

    function deposit() {
        Swal.fire({
            title: "ادخل كمية الرصيد المراد اضافتها",
            icon: "question",
            iconHtml: "؟",
            confirmButtonText: "اضافة",
            cancelButtonText: "الغاء",
            input: "text",
            showCancelButton: true,
            showCloseButton: true,
            preConfirm: (data) => {
                Swal.showLoading();
                return addBalance(profile.pk, parseInt(data))
                    .then((response) => {
                        return response;
                    })
                    .catch((error) => {
                        console.log(error);
                        Swal.showValidationMessage(`فشلت العملية`);
                    });
            },
        }).then((result) => {
            if (result.value) {
                load();
                Swal.fire("تمت العملية بنجاح", "", "success");
            }
        });
    }

    function withdraw() {
        Swal.fire({
            title: "ادخل كمية الرصيد المراد سحبها",
            icon: "question",
            iconHtml: "؟",
            confirmButtonText: "سحب",
            cancelButtonText: "الغاء",
            input: "text",
            showCancelButton: true,
            showCloseButton: true,
            preConfirm: (data) => {
                Swal.showLoading();
                return deductBalance(profile.pk, parseInt(data))
                    .then((response) => {
                        return response;
                    })
                    .catch((error) => {
                        if (error?.response?.data?.message == 'no enough balance in profile balance sheet') {
                            Swal.fire('لا يوجد رصيد كافي في حساب الموظف', '', 'error');
                        }
                        else {
                            Swal.fire('فشلت العملية', '', 'error');
                        }
                    });
            },
        }).then((result) => {
            if (result.value) {
                load();
                Swal.fire("تمت العملية بنجاح", "", "success");
            }
        });
    }


    function settelAccount() {
        Swal.fire({
            title: "هل تريد تصفير الحساب",
            icon: "question",
            iconHtml: "؟",
            confirmButtonText: "تصفير",
            cancelButtonText: "الغاء",
            showCancelButton: true,
            showCloseButton: true,
            preConfirm: () => {
                Swal.showLoading();
                return settleAccount(profile.pk)
                    .then((response) => {
                        return response;
                    })
                    .catch((error) => {
                        console.log(error);
                        Swal.fire('فشلت العملية', '', 'error');
                        // Swal.showValidationMessage(`فشلت العملية`);
                    });
            },
        }).then((result) => {
            if (result.value) {
                load();
                Swal.fire("تمت العملية بنجاح", "", "success");
            }
        });
    }


    function addExpense() {
        navigate('/expense/create/' + String(profile.pk));
    }
    
    function addDeduction() {
        navigate(`/profile/${profile.pk}/deduction/${payroll.pk}/create`);
    }

    function viewDeduction() {
        navigate(`/profile/${profile.pk}/deduction/${payroll.pk}`);
    }

    function viewSlips() {
        navigate(`/profile/${profile.pk}/slips/${payroll.pk}`);
    }



</script>

<style>
</style>


<header
    in:fade
    class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-fluid">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-end pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <div class="pr-2">معلومات الموظف</div>
                        <div class="page-header-icon">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-user"><path
                                    d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
                                <circle cx="12" cy="7" r="4" /></svg>
                        </div>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>


<div in:fade class="container mt-4">
    <!-- Account page navigation-->
    <!-- <nav class="nav nav-borders flex-row-reverse">
        <a class="nav-link active ml-0" on:click={() => {navigate(`/profile/${id}`)}} href="javascript:void(0);">معلومات
            الموظف</a>
        <a class="nav-link" on:click={() => {navigate(`/profile/${id}/payroll`)}} href="javascript:void(0);">الراتب</a>
        <a class="nav-link" on:click={() => {navigate(`/profile/${id}/deduction`)}} href="javascript:void(0);">الاستقطاعات</a>
    </nav>
    <hr class="mt-0 mb-4" /> -->


    {#if is_loading}
    

      <div class="row flex-row-reverse">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-header">
                    <Skeleton  height="20" width="360">
                        <rect width="260" height="10" x="100" y="5" rx="5" ry="5" />
                        </Skeleton>
                </div>
                <div class="card-body">


                    <div class="form-group row flex-row-reverse">
                                <div
                                    class="col-lg-3 col-form-label text-muted rtl">
                                    <Skeleton height="10" width="65">
                                        <rect width="65" height="10" x="0" y="0" rx="5" ry="5" />
                                        </Skeleton>
                                </div>
                                <div
                                    class="col-lg-9 col-xl-4 col-form-label text-lg-right rtl">
                                    <Skeleton height="10" width="200">
                                        <rect width="200" height="10" x="0" y="0" rx="5" ry="5" />
                                        </Skeleton>
                                </div>
                                
                            </div>

                            
                    
                   
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card">
                <div class="card-header">
                    <Skeleton  height="20" width="200">
                        <rect width="150" height="10" x="50" y="5" rx="5" ry="5" />
                        </Skeleton>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 m-1">
                            <Skeleton height="40" width="100%">
                                <rect width="100%" height="35" x="0" y="0" rx="10" ry="10" />
                            </Skeleton> 
                        </div>

                        <div class="col-12 m-1">
                            <Skeleton height="40" width="100%">
                                <rect width="100%" height="35" x="0" y="0" rx="10" ry="10" />
                            </Skeleton> 
                        </div>

                        <div class="col-12 m-1">
                            <Skeleton height="40" width="100%">
                                <rect width="100%" height="35" x="0" y="0" rx="10" ry="10" />
                            </Skeleton> 
                        </div>


                        <div class="col-12 m-1">
                            <Skeleton height="40" width="100%">
                                <rect width="100%" height="35" x="0" y="0" rx="10" ry="10" />
                            </Skeleton> 
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    {:else}
    {#if profile}
    <div class="row flex-row-reverse">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-header">معلومات الحساب</div>
                <div class="card-body">
                    <div>
                        <div class="form-group row flex-row-reverse">
                            <div
                                class="col-lg-3 col-form-label text-muted rtl">
                                اسم الموظف:
                            </div>
                            <div
                                class="col-lg-9 col-xl-4 col-form-label text-lg-right rtl">
                                {profile['name']}
                            </div>
                        </div>
    
                        <div class="form-group row flex-row-reverse">
                            <div
                                class="col-lg-3 col-form-label text-muted rtl">
                                رقم الهاتف:
                            </div>
                            <div
                                class="col-lg-9 col-xl-4 col-form-label text-lg-right rtl">
                                {profile['phone_number']}
                            </div>
                        </div>

                        <div class="form-group row flex-row-reverse">
                            <div
                                class="col-lg-3 col-form-label text-muted rtl">
                                رصيد الموظف:
                            </div>
                            <div
                                class="col-lg-9 col-xl-4 col-form-label text-lg-right rtl">
                                <span
                                    class:text-success={parseInt(profile['balance']) > 0}
                                    class:text-danger={parseInt(profile['balance']) < 0}
                                    class:text-warning={parseInt(profile['balance']) == 0}>{profile['balance']}</span>
                                <span>د.ع</span>
                            </div>
                        </div>

                        <div class="form-group row flex-row-reverse">
                            <div
                                class="col-lg-3 col-form-label text-muted rtl">
                                الوظيفة:
                            </div>
                            <div
                                class="col-lg-9 col-xl-4 col-form-label text-lg-right rtl">
                                {profile['role']}
                            </div>
                        </div>

                        <div class="form-group row flex-row-reverse">
                            <div
                                class="col-lg-3 col-form-label text-muted rtl">
                                كود الموظف:
                            </div>
                            <div
                                class="col-lg-9 col-xl-4 col-form-label text-lg-right rtl">
                                <span> {profile['code']}</span>
                            </div>
                        </div>

                        <div class="form-group row flex-row-reverse">
                            <div
                                class="col-lg-3 col-form-label text-muted rtl">
                                صلاحية الاقتراض:
                            </div>
                            <div
                                class="col-lg-9 col-xl-4 col-form-label text-lg-right rtl">
                                {#if profile['debt_permission']}
                                    <p class="text-primary m-0">نعم</p>
                                {:else}
                                    <p class="text-danger m-0">كلا</p>
                                {/if}
                            </div>
                        </div>

                        <div class="form-group row flex-row-reverse">
                            <div
                                class="col-lg-3 col-form-label text-muted rtl">
                                حد المبلغ الاقتراض:
                            </div>
                            <div
                                class="col-lg-9 col-xl-4 col-form-label text-lg-right rtl">
                                <span>{profile['debt_allowance']}</span>
                                <span>د.ع</span>
                            </div>
                        </div>

                        <div class="form-group row flex-row-reverse">
                            <div
                                class="col-lg-3 col-form-label text-muted rtl">
                               الحالة:
                            </div>
                            <div
                                class="col-lg-9 col-xl-4 col-form-label text-lg-right rtl">
                                {#if profile['debt_permission']}
                                    <p class="text-primary m-0">نشط</p>
                                {:else}
                                    <p class="text-danger m-0">غير نشط</p>
                                {/if}
                            </div>
                        </div>

                        {#if payroll}
                        <div class="form-group row flex-row-reverse">
                            <div
                                class="col-lg-3 col-form-label text-muted rtl">
                                الراتب:
                            </div>
                            <div
                                class="col-lg-9 col-xl-4 col-form-label text-lg-right rtl">
                                <span>{payroll['salary']}</span>
                                <span>د.ع</span>
                            </div>
                        </div>
                        <div class="form-group row flex-row-reverse">
                            <div
                                class="col-lg-3 col-form-label text-muted rtl">
                                تاريخ البدء:
                            </div>
                            <div
                                class="col-lg-9 col-xl-4 col-form-label text-lg-right rtl">
                                <span>{payroll['start']}</span>
                            </div>
                        </div>
                        {/if}



                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card">
                <div class="card-header">اجراء عمليات للحساب</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 m-1">
                            <button
                                class="btn btn-light w-100"
                                type="button"
                                on:click={deposit}>ايداع رصيد</button>
                        </div>
                        <div class="col-12 m-1">
                            <button
                                on:click={withdraw}
                                class="btn btn-light w-100"
                                type="button">سحب رصيد</button>
                        </div>
                        <div class="col-12 m-1">
                            <button
                                on:click={addExpense}
                                class="btn btn-light w-100"
                                type="button">اضافة مصاريف اخرى</button>
                        </div>
                        
                        <div class="col-12 m-1">
                            <button
                                on:click={settelAccount}
                                class="btn btn-light w-100"
                                type="button">تصفير الحساب</button>
                        </div>
                        {#if payroll}
                        <div class="col-12 m-1">
                            <button
                                on:click={addDeduction}
                                class="btn btn-light w-100"
                                type="button">اضافة استقطاع</button>
                        </div>
                        
                        <div class="col-12 m-1">
                            <button
                                on:click={viewDeduction}
                                class="btn btn-light w-100"
                                type="button">عرض الاستقطاعات</button>
                        </div>

                        <div class="col-12 m-1">
                            <button
                                on:click={viewSlips}
                                class="btn btn-light w-100"
                                type="button">عرض ايصالات الاستلام</button>
                        </div>   
                       
                        {/if}
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{/if}
    {/if}


</div>
