<script>
    import { allProfiles } from "../../stores/TreasurerStores/profilesStore";
    import { allPayrolls } from "../../stores/TreasurerStores/payrollStore";
    import { fade } from "svelte/transition";
    import {
        getPayrollSlips,
        getProfiles,
        getPayrolls,
    } from "../../backend/treasurerActions";
    import Swal from "sweetalert2";
    import { onMount } from "svelte";
    import { navigate } from "svelte-routing";
    import DataTable from "../../components/datatable/DataTable.svelte";
    import { authInfo } from "../../stores/auth";

    export let profile_id;
    export let payroll_id;

    let profile;
    let payroll;

    $: profile = $allProfiles.filter((e) => e.pk == profile_id)[0];
    $: payroll = $allPayrolls.filter((e) => e?.pk == payroll_id)[0];

    let is_loading = false;


    onMount(async () => {
        if (!$allProfiles.length || !$allPayrolls.length) { 
            await load();
        } else {
            config.rows = (await getPayrollSlips(payroll.pk)).data
        }
    });

    async function load() {
        try {
            is_loading = true;
            $allPayrolls = (await getPayrolls()).data.map(i => {
                        i['from_profile_name'] = i?.["profile"]?.["name"];
                        return i;
                    });
            $allProfiles = (await getProfiles()).data;
            config.rows = (await getPayrollSlips(payroll.pk)).data
            is_loading = false;
        } catch (error) {
            console.log(error);
            config.rows = [];
        }
    }

    let dataTable;

    const config = {
        show_header: false,
        card_title: "ايصالات الاستلام للموظف",
        checkbox_feature: false,
        row_actions_feature: true,
        columns: [
            { text: "التاريخ", key: "cycle", type: "text" },
            { text: "الراتب قبل الاستقطاع", key: (key) => key?.payroll?.salary, type: "money" },
            { text: "الراتب بعد الاستقطاع", key: "salary_after_deductions", type: "money" },
            { text: "تم التسليم", key: "received", type: "bool" },
        ],
        rows: [],
        rowActions: [
            {
                text: "تم التسليم",
                type: "icon",
                button_class: "btn-primary",
                icon: "fa fa-check",
                action: (row) => {
                    console.log(row);
                    if (row.received) {
                        Swal.fire("لقد تم تسليم الراتب بالفعل للموظف", "", "info");
                        return;
                    }
                    Swal.fire({
                        title: "هل تم تسليم الراتب؟",
                        icon: "question",
                        iconHtml: "؟",
                        confirmButtonText: "نعم",
                        cancelButtonText: "الغاء",
                        showCancelButton: true,
                        showCloseButton: true,
                        preConfirm: () => {
                            Swal.showLoading();
                            return markPayrollReceived(row.pk)
                                .then((response) => {
                                    return response;
                                })
                                .catch((error) => {
                                    console.log(error.response.data);
                                    if (
                                        error?.response?.data?.message ==
                                        "no enough balance in vault"
                                    ) {
                                        Swal.fire(
                                            "لا يوجد رصيد كافي في الخزنة",
                                            "",
                                            "error"
                                        );
                                    } else {
                                        Swal.fire("فشلت العملية", "", "error");
                                    }
                                });
                        },
                    }).then((result) => {
                        if (result.value) {
                            load();
                            Swal.fire("تمت العملية بنجاح", "", "success");
                        }
                    });
                },
            },
        ],
    };

    const actions = [
        {
            text: "تحديث",
            action: () => {
                load();
            },
        },
    ];
</script>

<style>
</style>

<header
    in:fade
    class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-fluid">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-end pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <div class="pr-2">معلومات الموظف</div>
                        <div class="page-header-icon">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-user"><path
                                    d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
                                <circle cx="12" cy="7" r="4" /></svg>
                        </div>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div in:fade class="container mt-4">
  
        <DataTable
            {config}
            {actions}
            columns={config.columns}
            rows={config.rows}
            {is_loading}
            bind:this={dataTable} />
</div>
