<script>
    import DataTable from "../../components/datatable/DataTable.svelte";
    import { getProfiles } from "../../backend/treasurerActions";
    import { authInfo } from "../../stores/auth";
    import { navigate } from "svelte-routing";
    import { onMount } from "svelte";
import { allProfiles } from "../../stores/TreasurerStores/profilesStore";

    let dataTable;
    let is_loading = false;

    const config = {
        header_title: 'الموظفين',
        header_icon: 'fa fa-users',
        card_title: 'قائمة الموظفين',
        checkbox_feature: false,
        columns: [
            {
                text: "اسم الموظف",
                key: "name",
                type: "link",
                base: "/profile/",
                link_key: "pk",
            },
            { text: "الرصيد", key: "balance", type: "money" },
            { text: "الوظيفة", key: "role", type: "text" },
            { text: "كود الموظف", key: "code", type: "text" },
            { text: "صلاحية الاقتراض", key: "debt_permission", type: "bool" },
            { text: "حد المبلغ المقترض", key: "debt_allowance", type: "money" },
            { text: "نشط", key: "is_active", type: "bool" },
        ],
        rows: [],
    };

    const actions = [
        {
            text: "تحديث",
            action: () => {
                load();
            },
        }
    ];

    onMount(() => {
        if ($authInfo['role'] != 'TREASURER') {
            navigate('/accessDenied');
            return;
        }
        if ($allProfiles.length) {
            config.rows = $allProfiles;
            return;
        } else {
            load();
        }
    });

    export function load() {
        
        is_loading = true;
        config.rows = [];
        getProfiles()
            .then((response) => {
                console.log(response);
                $allProfiles = response.data;
                config.rows = response.data;
                is_loading = false;
            })
            .catch((e) => {
                is_loading = false;
                console.log(e);
            });
    }
</script>


<DataTable {config} {actions} columns={config.columns} rows={config.rows} {is_loading} bind:this={dataTable} />
