<!-- Admin user profile area -->
<div class="chat-user-sidebar">
  <header class="chat-profile-header">
    <button class="btn close-icon p-0" (click)="toggleSidebar('chat-user-sidebar')">
      <i data-feather="x"></i>
    </button>
    <!-- User Information -->
    <div class="header-profile-sidebar">
      <div class="avatar box-shadow-1 avatar-xl avatar-border">
        <img [routerLink]="['/profile', auth.user?.id]" [src]="auth.user?.avatar ? config.getBaseUrl() + 'storage/images/avatars/' + auth.user?.avatar : 'assets/images/illustration/tooth.svg'" alt="user_avatar" />
        <span
          class="avatar-status-xl"
          [ngClass]="{
            'avatar-status-offline': userProfile.status == 'offline',
            'avatar-status-online': userProfile.status == 'online',
            'avatar-status-busy': userProfile.status == 'busy',
            'avatar-status-away': userProfile.status == 'away'
          }"
        ></span>
      </div>
      <h4 class="chat-user-name">{{ auth?.user?.first_name + ' ' + (auth?.user?.last_name || '') }}</h4>
      <span class="user-post text-capitalize">{{ auth?.user?.account_type?.name }}</span>
    </div>
    <!--/ User Information -->
  </header>
  <!-- User Details start -->
  <div class="profile-sidebar-area" [perfectScrollbar]>
<!--    <h6 class="section-label mb-1">About</h6>-->
<!--    <div class="about-user">-->
<!--      <textarea-->
<!--        data-length="120"-->
<!--        class="form-control char-textarea"-->
<!--        id="textarea-counter"-->
<!--        rows="5"-->
<!--        placeholder="About User"-->
<!--        >{{ userProfile.about }}</textarea-->
<!--      >-->
<!--      <small class="counter-value float-right"><span class="char-count">108</span> / 120 </small>-->
<!--    </div>-->
    <!-- To set user status -->
<!--    <h6 class="section-label mb-1 mt-3">Status</h6>-->
    <h6 class="section-label mb-1">Status</h6>
    <ul class="list-unstyled user-status">
      <li class="pb-1">
        <div class="custom-control custom-control-success custom-radio">
          <input
            type="radio"
            id="activeStatusRadio"
            name="userStatus"
            class="custom-control-input"
            [(ngModel)]="userProfile.status"
            (change)="updateUserStatus(1)"
            value="online"
            checked
          />
          <label class="custom-control-label ml-25" for="activeStatusRadio">Active</label>
        </div>
      </li>
      <li class="pb-1">
        <div class="custom-control custom-control-danger custom-radio">
          <input
            type="radio"
            id="dndStatusRadio"
            [(ngModel)]="userProfile.status"
            name="userStatus"
            class="custom-control-input"
            (change)="updateUserStatus(2)"
            value="busy"
          />
          <label class="custom-control-label ml-25" for="dndStatusRadio">Do Not Disturb</label>
        </div>
      </li>
      <li class="pb-1">
        <div class="custom-control custom-control-warning custom-radio">
          <input
            type="radio"
            id="awayStatusRadio"
            [(ngModel)]="userProfile.status"
            name="userStatus"
            class="custom-control-input"
            (change)="updateUserStatus(3)"
            value="away"
          />
          <label class="custom-control-label ml-25" for="awayStatusRadio">Away</label>
        </div>
      </li>
      <li class="pb-1">
        <div class="custom-control custom-control-secondary custom-radio">
          <input
            type="radio"
            id="offlineStatusRadio"
            [(ngModel)]="userProfile.status"
            name="userStatus"
            class="custom-control-input"
            (change)="updateUserStatus(0)"
            value="offline"
          />
          <label class="custom-control-label ml-25" for="offlineStatusRadio">Offline</label>
        </div>
      </li>
    </ul>
    <!--/ To set user status -->

    <!-- User settings -->
<!--    <h6 class="section-label mb-1 mt-2">Settings</h6>-->
    <ul class="list-unstyled">
<!--      <li class="d-flex justify-content-between align-items-center mb-1">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <i data-feather="check-square" class="mr-75 font-medium-3"></i>-->
<!--          <span class="align-middle">Two-step Verification</span>-->
<!--        </div>-->
<!--        <div class="custom-control custom-switch mr-0">-->
<!--          <input-->
<!--            type="checkbox"-->
<!--            class="custom-control-input"-->
<!--            id="customSwitch1"-->
<!--            [checked]="userProfile.settings.isTwoStepAuthVerificationEnabled"-->
<!--          />-->
<!--          <label class="custom-control-label" for="customSwitch1"></label>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="d-flex justify-content-between align-items-center mb-1">-->
<!--        <div class="d-flex align-items-center">-->
<!--          <i data-feather="bell" class="mr-75 font-medium-3"></i>-->
<!--          <span class="align-middle">Notification</span>-->
<!--        </div>-->
<!--        <div class="custom-control custom-switch mr-0">-->
<!--          <input-->
<!--            type="checkbox"-->
<!--            class="custom-control-input"-->
<!--            id="customSwitch2"-->
<!--            [checked]="userProfile.settings.isNotificationsOn"-->
<!--          />-->
<!--          <label class="custom-control-label" for="customSwitch2"></label>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="mb-1 d-flex align-items-center cursor-pointer">-->
<!--        <i data-feather="user" class="mr-75 font-medium-3"></i>-->
<!--        <span class="align-middle">Invite Friends</span>-->
<!--      </li>-->
<!--      <li class="d-flex align-items-center cursor-pointer">-->
<!--        <i data-feather="trash" class="mr-75 font-medium-3"></i>-->
<!--        <span class="align-middle">Delete Account</span>-->
<!--      </li>-->
    </ul>
    <!--/ User settings -->

    <!-- Logout Button -->
<!--    <div class="mt-3">-->
<!--      <button class="btn btn-primary" rippleEffect>-->
<!--        <span>Logout</span>-->
<!--      </button>-->
<!--    </div>-->
    <!--/ Logout Button -->
  </div>
  <!-- User Details end -->
</div>
<!--/ Admin user profile area -->
