.register-complete {
  width: 100%;
  font-size: 24px;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}