<script>
  //Row component is optional and only serves to render odd/even row, you can use <tr> instead.
  //Sort component is optional
  import Table, {
    Pagination,
    Row,
    Search,
    Sort,
  } from "./datatable_components/Table.svelte";
  import { sortNumber, sortString } from "./datatable_components/sorting.js";
  import { link, navigate } from "svelte-routing";
  import { fade } from "svelte/transition";
  import {onMount} from 'svelte';

  onMount(() => {
    
  })

  export let config = {};
  export let actions = [];
  export let rows = [];
  export let columns = [];
  let page = 0; //first page
  let pageSize = 10; //optional, 10 by default

  export let is_loading = false;

  export function getSelected() {
    return config.rows.filter(i => i.selected)
  }

  function onCellClick(row) {
    // console.log(row);
    // alert(JSON.stringify(row));
  }

  function onSortString(event) {
    event.detail.rows = sortString(
      event.detail.rows,
      event.detail.dir,
      event.detail.key
    );
  }

  function onSortNumber(event) {
    event.detail.rows = sortString(
      event.detail.rows,
      event.detail.dir,
      event.detail.key
    );
  }

  function getValue(column, row, key = "key") {
    // if (row[column[key]] == undefined) {
    //   console.log(key)
    //   console.log('salom')
    //   console.log(row)
    //   return '#';
    // }
    try {
      if (column[key] instanceof Function) {
      return column[key](row);
    } else {
      return row[column[key]];
    }
    } catch (error) {
      return ''
    }
   
  }


  function checkDisabled(rowAction, row) {
    try {
        if (rowAction.disable != undefined) {
          if (rowAction.disable instanceof Function) {
            return rowAction.disable(row);
          }
        }
    } catch (error) {
      return false;
    }
    return false;
  }
</script>

<style>
  .my-table-head {
    /* cursor: pointer; */
    color: #0061f2;
  }
</style>

{#if config.show_header == undefined || config.show_header}
  <header
    in:fade
    class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
    <div class="container">
      <div class="page-header-content pt-4">
        <div class="row align-items-center justify-content-end">
          <div class="col-auto mt-4">
            <h1 class="page-header-title">
              <span class="m-2">{config['header_title']}</span>
              <div class="page-header-icon">
                <i class={config['header_icon']} />
              </div>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </header>
{/if}

<div in:fade class="container" class:mt-n10={(config.show_header == undefined) || config.show_header ? true : false}>
  <div class="card mb-4">
    <div class="card-header  d-flex align-items-center">
      <div class="dropdown no-caret">
        <button
          class="btn btn-transparent-dark btn-icon dropdown-toggle"
          id="dropdownMenuButton"
          type="button"
          data-toggle="dropdown"
          data-boundary="window"
          aria-haspopup="true"
          aria-expanded="false">
          <i class="fa fa-ellipsis-v" />
        </button>
        <div
          class="dropdown-menu dropdown-menu-right animated--fade-in-up"
          aria-labelledby="dropdownMenuButton">
          {#each actions as action}
            <a
              class="dropdown-item"
              on:click={action['action']}
              href="javascript:void(0);">{action['text']}</a>
          {/each}
        </div>
      </div>
      <slot></slot>
      <div class="mr-auto" />
      <div>{config['card_title']}</div>
    </div>
    <div class="card-body">
      <!-- <slot></slot> -->
      <Table
        on:count={(data) => (pageSize = parseInt(data.detail))}
        class="table table-bordered table-hover"
        {page}
        loading={is_loading}
        {pageSize}
        {rows}
        let:rows>
        <thead slot="head">
          <tr>
            {#if config.checkbox_feature}
              <th />
            {/if}

            {#each columns as column}
              <th class="my-table-head">
                <Sort
                  text={column['text']}
                  key={column['key']}
                  on:sort={onSortString} />
              </th>
            {/each}

            {#if config.row_actions_feature}
              <th>العمليات</th>
            {/if}
          </tr>
        </thead>
        <tbody>
          {#each rows as row, index (row)}
            <Row {index} on:click={() => onCellClick(row)}>
              {#if config.checkbox_feature}
                <td>
                  <div class="center-cell">
                    <input
                      bind:checked={row['selected']}
                      class="form-control"
                      style="width: 20px; height: 20px;"
                      type="checkbox" />
                  </div>
                </td>
              {/if}
              {#each columns as column}
                {#if column['type'] == 'money'}
                  <td style="direction: ltr;">
                    <span>د.ع</span>
                    <span
                      style="float: right;">&nbsp;{getValue(column, row)}</span>
                  </td>
                {:else if column['type'] == 'badge'}
                  <td>
                    <h5>
                      <span class="badge badge-primary badge-pill">
                        {getValue(column, row)}</span>
                    </h5>
                  </td>
                {:else if column['type'] == 'bool'}
                  <td>
                    {#if getValue(column, row)}
                      <h5><span class="badge badge-success">نعم</span></h5>
                    {:else}
                      <h5><span class="badge badge-danger">كلا</span></h5>
                    {/if}
                  </td>
                {:else if column['type'] == 'link'}
                  <td>
                    <div class="center-cell">
                      {#if String(getValue(column, row, 'link_key'))}
                      <a
                        class="nav-link p-0 px-1"
                        use:link
                        href={String(column.base) + String(getValue(column, row, 'link_key'))}>{getValue(column, row)}</a>
                      {:else}
                        -
                      {/if}
                      
                    </div>
                  </td>
                  {:else if column['type'] == 'link'}
                  <td class={column.class != undefined ? column.class : ''} style="text-align: left;">
                    {getValue(column, row)}
                  </td>
                {:else}
                  <td class={column.class != undefined ? column.class : ''}>
                    {getValue(column, row)}
                  </td>
                {/if}
              {/each}
              {#if config.row_actions_feature}
                <td>
                  <div class="dropdown no-caret">
                    <button
                      class="btn btn-transparent-dark btn-icon dropdown-toggle"
                      id="dropdownMenuButton"
                      type="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false">
                      <i class="fa fa-ellipsis-v" />
                    </button>
                    <div
                    style="position: static;"
                      class="dropdown-menu dropdown-menu-right animated--fade-in-up my-1"
                      aria-labelledby="dropdownMenuButton">
                      {#each config.rowActions as rowAction}
                        {#if checkDisabled(rowAction, row)}
                          <span class="dropdown-item text-muted">
                            <div class="dropdown-item-icon">
                              <i class="ml-2 {rowAction['icon']}"></i>
                          </div>
                            {rowAction['text']}
                          </span>
                        {:else}
                          <a
                          class="dropdown-item"
                          on:click={rowAction['action'](row)}
                          href="javascript:void(0);">
                          <div class="dropdown-item-icon">
                            <i class="ml-2 {rowAction['icon']}"></i>
                        </div>
                          {rowAction['text']}</a>
                        {/if}
                      
                      {/each}
                    </div>
                  </div>
                  <!-- {#each config.rowActions as rowAction}
                    {#if rowAction.type == 'icon'}
                    <button
                     class="btn btn-primary btn-sm btn-icon mx-1 {rowAction['button_class'] ?? ''}" type="button"
                     on:click={rowAction['action'](row)}>
                      <i class="{rowAction.icon}"></i>
                    </button>
                    {:else if rowAction.type == 'button'}
                    <button
                      class="btn btn-sm btn-light mx-1"
                      on:click={rowAction['action'](row)}>{rowAction['text']}</button>
                    {/if}
                  {/each} -->
                </td>
              {/if}
            </Row>
          {/each}
        </tbody>
      </Table>
    </div>
  </div>
</div>
