<input class="d-none" multiple #imageInput (change)="onImagesChange($event)" type="file" accept="image/png, image/jpeg">
<input class="d-none" multiple #addMoreImagesInput (change)="onAddMoreImagesChange($event)" type="file" accept="image/png, image/jpeg">
<p-dialog [(visible)]="showDialog" [draggable]="false" header="Post a new Item" (onHide)="onHide()" [modal]="true" [resizable]="false"
          [style]="{width: '50vw'}">

    <ng-template [ngIf]="loading">
        <div class="d-flex align-items-center justify-content-center">
            <i class="fa fa-spin fa-2x fa-circle-o-notch"></i>
        </div>
    </ng-template>
    <ng-template [ngIf]="!loading">

        <form class="form form-vertical row justify-content-center" [formGroup]="infoForm" (ngSubmit)="onSubmit()">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">

                <div class="row">
                    <div class="col-12">
                        <form-input type="text" [form]="infoForm" title="Item Name" placeholder="Item Name"
                                    [submitted]="submitted" key="item_name">
                        </form-input>

                    </div>

                    <div class="col-12">
                        <form-input [allowDropDown]="true"  type="autocomplete" [form]="infoForm" title="Department" placeholder="Department"
                                    [filterMethod]="autocompleteDepartments" [submitted]="submitted" key="department">
                        </form-input>

                    </div>

                    <div class="col-12">
                        <form-input type="textarea" [form]="infoForm" title="Item Description" placeholder="Item Description"
                                    [submitted]="submitted" key="item_description">
                        </form-input>

                    </div>
                    
                    <div class="col-12">
                        <form-input type="currency" [form]="infoForm" title="Price" placeholder="Price"
                                    [submitted]="submitted" key="price">
                        </form-input>

                    </div>

                    <div class="col-12">
                        <form-input type="text" [form]="infoForm" title="Item Warranty" placeholder="eg: 2 years"
                                    [submitted]="submitted" key="warranty">
                        </form-input>

                    </div>


                    <div class="col-12">
                        <form-input type="autocomplete" [form]="infoForm" title="Location" placeholder="Location"
                                    [filterMethod]="autocompleteItemLocations" [submitted]="submitted" key="location">
                        </form-input>

                    </div>

                    <div class="col-12">
                        <form-input type="select" [form]="infoForm" title="Condition" placeholder="Select item condition"
                                    [submitted]="submitted" [optionLabel]="'text'" [optionValue]="'value'"
                                    [data]="[{text: 'New', value: 'new'}, {text: 'Used', value: 'used'}]" key="condition">
                        </form-input>

                    </div>


                    <div class="col-12">
                        <form-input type="number" [form]="infoForm" title="Quantity" placeholder="Quantity"
                                    [submitted]="submitted" key="quantity">
                        </form-input>

                    </div>

                    <div class="col-12">
                        <form-input type="autocomplete" [form]="infoForm" title="Brand" placeholder="Brand"
                                    [filterMethod]="autocompleteItemBrands" [submitted]="submitted" key="brand">
                        </form-input>

                    </div>

                    
                    <div class="col-12">
                        <form-input type="autocomplete" [form]="infoForm" title="Manufacturer" placeholder="Manufacturer"
                                    [filterMethod]="autocompleteItemManufacturer" [submitted]="submitted" key="manufacturer">
                        </form-input>

                    </div>



                    <div class="col-12">
                        <div class="post-uploader">
                            <div (click)="imageInput.click()" *ngIf="!imagesFiles.length && !item?.images" class="d-flex cursor-pointer flex-column align-items-center justify-content-center">
                                <i class="pi pi-plus-circle" style="font-size: 2rem; margin-bottom: 5px;"></i>
                                <div>Add Photos</div>
                            </div>
                            <div *ngIf="imagesFiles.length || item?.images" class="post-image-container">
                                <ng-container *ngIf="item">
                                    <div *ngFor="let image of item?.images" class="post-image">
                                        <i (click)="removeItemImage(image);" class="pi pi-trash"></i>
                                        <img src="{{config.getBaseUrl() + 'storage/images/shop/' + image.file}}" alt="">
                                    </div>
                                </ng-container>
                                <div *ngFor="let file of imagesFiles" class="post-image">
                                    <i (click)="removeFile(file);" class="pi pi-trash"></i>
                                    <img src="{{file.url}}" alt="">
                                </div>
                                <div (click)="addMoreImagesInput.click()" class="d-flex cursor-pointer flex-column align-items-center justify-content-center">
                                    <i class="pi pi-plus-circle" style="font-size: 2rem; margin-bottom: 5px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                </div>



            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <button [disabled]="loading" type="submit" class="btn btn-primary pull-right" rippleEffect>
                    <span *ngIf="!loading">Save</span>
                    <span *ngIf="loading" class="fa fa-spin fa-circle-o-notch"></span>
                </button>
            </div>
        </form>


    </ng-template>


</p-dialog>