.post-image-container {
    display: flex;
    align-items: center;
    overflow: auto;
  }
  
  .post-image {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    i {
      font-size: 18px;
      position: absolute;
      right: 10px;
      top: 10px;
      background-color: #000000;
      color: #ffffff;
      border-radius: 50%;
      padding: 10px;
      cursor: pointer;
      &:hover {
        background-color: #e72121;
        color: #000000;
      }
    }
    
    img {
      object-fit: cover;
      width: 100px;
      height: 100px;
    }
  }
  