<script context="module">
  let globalLabels;

  export function setLabels(labels) {
    globalLabels = labels;
  }
</script>

<script>
  import { createEventDispatcher, getContext } from "svelte";
  const dispatch = createEventDispatcher();
  const stateContext = getContext("state");

  export let buttons = [-2, -1, 0, 1, 2];
  export let count;
  export let page = 0;
  export let pageSize;
  export let serverSide = false;

  export let labels = {
    first: "First",
    last: "Last",
    next: "التالي",
    previous: "السابق",
    ...globalLabels,
  };

  $: pageCount = Math.floor(count / pageSize);

  function onChange(event, page) {
    const state = stateContext.getState();
    const detail = {
      originalEvent: event,
      page,
      pageIndex: serverSide ? 0 : page * state.pageSize,
      pageSize: state.pageSize,
    };
    dispatch("pageChange", detail);

    if (detail.preventDefault !== true) {
      stateContext.setPage(detail.page, detail.pageIndex);
    }
  }

  function onChangeCount(event , count) {
    
  }
</script>




<ul class="pagination" style="flex-direction: row-reverse;">
  <!-- <li class="paginate_button page-item">
    <button class="page-link" disabled={page === 0} on:click={(e) => onChange(e, 0)}>
      {labels.first}
    </button>
  </li> -->
  <li class="paginate_button page-item">
    <button class="page-link" disabled={page === 0} on:click={(e) => onChange(e, page - 1)}>
      {labels.previous}
    </button>
  </li>
  {#each buttons as button}
    {#if page + button >= 0 && page + button <= pageCount}
      <li class:active={page === page + button} class="paginate_button page-item">
        <button
          class="page-link"
          
          on:click={(e) => onChange(e, page + button)}>
          {page + button + 1}
        </button>
      </li>
    {/if}
  {/each}
  <li class="paginate_button page-item">
    <button
    class="page-link"
      disabled={page > pageCount - 1}
      on:click={(e) => onChange(e, page + 1)}>
      {labels.next}
    </button>
  </li>
  <!-- <li class="paginate_button page-item">
    <button
    class="page-link"
      disabled={page >= pageCount}
      on:click={(e) => onChange(e, pageCount)}>
      {labels.last}
    </button>
  </li> -->
</ul>
