<script context="module">
  let globalLabels;

  export function setLabels(labels) {
    globalLabels = labels;
  }
</script>

<script>
  import { createEventDispatcher, getContext } from "svelte";
  const dispatch = createEventDispatcher();
  const stateContext = getContext("state");

  export let filter = (row, text, index) => {
    try {
      text = text.toLowerCase();
    for (let i in row) {
      if (row[i]?.toString().toLowerCase().indexOf(text) > -1) {
        return true;
      }
    }
    return false;
    } catch (error) {
      console.log(error)
      return false;
    }
  
  };
  export let index = -1;
  export let text = "";
  export let count;

  export let labels = {
    placeholder: "Search",
    ...globalLabels,
  };

  async function onSearch(event) {
    const state = stateContext.getState();
    const detail = {
      originalEvent: event,
      filter,
      index,
      text,
      page: state.page,
      pageIndex: state.pageIndex,
      pageSize: state.pageSize,
      rows: state.filteredRows,
    };
    dispatch("search", detail);

    if (detail.text.length === 0) {
      stateContext.setRows(state.rows);
    } else {
      detail.rows = state.rows;
      stateContext.setRows(
        detail.rows.filter((r) => detail.filter(r, detail.text, index))
      );
    }
    stateContext.setPage(0, 0);
    
  }
</script>

<style>
  .search {
    direction: rtl;
    display: flex;
    align-items: center;
    margin: 10px 0;

  }
  .search input {
    width: 400px;
    outline: 0 !important;

  }

  .count {
    margin-right: auto;
    display: flex;
    align-items: center;
  }

 
  .search input {
    /* border-top-right-radius: 0 !important; */
    /* border-bottom-right-radius: 0 !important; */
  }
</style>

<div class="search">
  <!-- <button class="btn btn-primary btn-sm">بحث</button> -->
  <input
    type="search"
    class="form-control form-control-sm"
    title={labels.placeholder}
    placeholder="بحث"
    bind:value={text}
    on:keyup={onSearch} />
  <div class="count">
    <span>عرض</span>
    <select
      bind:value={count}
      on:change={() => {
        dispatch('count', count);
      }}
      class="custom-select custom-select-sm form-control form-control-sm">
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option></select>
    <span>نتائج</span>
  </div>
</div>
